{% extends 'base.html' %}
{% load user_referencing %}
{% load vote_screen %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}

{% block title %}
BabylonPolice - Submit Feedback
{% endblock %}

{% block inserts %}
<meta name="viewport" content="width=1024">
<meta property="og:description" content="BabylonPolice - Submit Feedback - Police yourself to police others AKA please yourself to please others. User-Choice Definitions. Create your own code words, or buy them and gain access to income that you can spend on deeper secrets granting you deeper income.">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}


{% block authenticatedposts %}
<form class=contact action="{% url 'Bable:create_feedback' %}" method="post">
	{% csrf_token %}
	{{ contact_form }}
	<div class="form-actions">
		<button type="submit">Send</button>
	</div>
</form>
{% endblock %}

{% block unauthenticated_posts %}
<form class=contact action="{% url 'Bable:create_feedback' %}" method="post">
	{% csrf_token %}
	{{ contact_form }}
	<div class="form-actions">
		<button type="submit">Send</button>
	</div>
</form>
{% endblock %}
