
{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}
{% load i18n %}

{% block title %}
{% if count %}
BabylonPolice.com - incentivised-ascento-secrecy {{ count }}
{% else %}
BabylonPolice.com - incentivised-ascento-secrecy
{% endif %}
{% endblock %}

{% block authenticatedposts %}
    <div class="card w-25" style="margin-left: 10px;">
        <div class="card-body">
          <h2 class="card-title">{{ charge.name }}</h2>
          <p class="card-text">
            <span>{{ charge.description }}</span>
            <br>
            <span>${{ charge.pricing.local.amount }} {{ charge.pricing.local.currency }}</span>
          </p>
          <div>
            <a class="btn btn-primary w-100" href="{{ charge.hosted_url }}" style="background-color: green;">Purchase</a>
          </div>
        </div>
    </div>
{% endblock %}