{% extends 'base.html' %}
{% load user_referencing %}
{% load vote_screen %}
{% load humanize %}
{% load mptt_tags %}
{% load staticfiles %}

{% block authenticatedposts %}
<div id=owner>
<p>I'm XY with no affiliations or agenda.
I believe utopia is maximizing the number of pure win:wins while holding onto a deeper inherent incomparability, while beginning with consistency and approaching an unachievable completeness, also known as indefinitely grossly underspecified. If your ethos is coherent, chances are, I have or will take it into consideration. I don't want to be talking too much about my independence, ethnicity or gender, because some say we are all distantly related to squirrels and dolphins, wouldn't be here without flowering plants, and chromosomal configurations are temporary and variable.
In regard to authority, if you have total power over me, I have no choice but to surrender and will gladly, however, a 'laydown' mozair supercedes variability in playstyle.</p>
</div>
{% endblock %}

{% block unauthenticatedposts %}
<div id=owner>
<p>I'm XY with no affiliations or agenda.
I believe utopia is maximizing the number of pure win:wins while holding onto a deeper inherent incomparability, while beginning with consistency and approaching an unachievable completeness, also known as indefinitely grossly underspecified. If your ethos is coherent, chances are, I have or will take it into consideration. I don't want to be talking too much about my independence, ethnicity or gender, because some say we are all distantly related to squirrels and dolphins, wouldn't be here without flowering plants, and chromosomal configurations are temporary and variable.
In regard to authority, if you have total power over me, I have no choice but to surrender and will gladly, however, a 'laydown' mozair supercedes variability in playstyle.</p>
</div>
{% endblock %}