<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}
{% load i18n %}

{% block title %}
Predictionary.us - You can't predict from what you don't know.
{% endblock %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta content="X-Frame-Options: SAMEORIGIN">
<meta property="og:description" content="Predictionary.us - You can't predict from what you don't know. Urban Dictionary with a twist, sell your slang, hide meaning behind meaning. Ulterior motives like it's a potion.">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
<link rel="stylesheet" href="{% static 'css/classa.education.css' %}">
{% endblock %}

{% block authenticatedposts %}
<div class=pitch style="margin-left: 6em;">
	<h1 class=pitchtitle style="font-size:3em; font-family: FS Kim,Georgia,'Serif';">
		Private Dictionaries of communities and sponsors you can sell to community affiliates
	</h1>
	<h3 class=pitchtitle style="font-size:3em; font-family: FS Kim,Georgia,'Serif';">
		Democratising Language
	</h3>
	<h3 class=pitchtitle style="font-size:3em; font-family: FS Kim,Georgia,'Serif';">
		Implement your favourite bit of coded text styles, and own them, first in best dressed, last in undressed
	</h3>
	<h3 class=pitchdesc2 style="font-size:1.7em; font-family: FS Kim,Georgia,'Serif';">
		Private Thesauruses you can sell<br/>
		Private Encyclopedias you can sell
	</h3>

	<h2 class=pitchdesc2 style="font-size:1.7em; font-family: FS Kim,Georgia,'Serif';">
		Building Your Next Database, <br/>
		For All Your AI BIG DATA Needs.
	</h2>
	<h3 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Private Playlists you can sell
	</h3>
	
	<h3 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Private Reading Lists you can sell
	</h3>
	
	<h3 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Private Imageboards you can sell
	</h3>

	<div class="row pt-5 pricing-table">
            <div class="col-12 mx-auto">
                <div class="card-deck pricing-table">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title pt-3">Basic</h3>
                            <h2 class="card-title text-primary mb-0 pt-4">$0</h2>
                            <div class="text-muted font-weight-medium mt-2">per month</div>
                            <ul class="list-unstyled pricing-list">
                                <li>Completely Free</li>
                                <li>Sell Anything</li>
                                <li>Link to a decentralised eBook</li>
                                <li>or a private YouTube / SoundCloud</li>
                            </ul>
                            <a onclick="showregister()" class="btn btn-primary" style="white-space: initial; width: 100%;">
                                Sign up to Stripe to Start
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title pt-3">Priority</h3>
                            <h2 class="card-title text-info mb-0 pt-4">Priced in</h2>
                            <div class="text-muted font-weight-medium mt-2">per month</div>
                            <ul class="list-unstyled pricing-list">
                                <li>Buy whatever's being sold</li>
                                <li>We take 0% Commissions</li>
                                <li>1.75% Australian credit cards</li>
                                <li>3% International (check Stripe)</li>
                            </ul>
                            <a onclick="showregister()" class="btn btn-info" style="white-space: initial; width: 100%;">
                                Don't Ask Us Why
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title pt-3">Exclusive</h3>
                            <h2 class="card-title text-primary mb-0 pt-4">Of a kind</h2>
                            <div class="text-muted font-weight-medium mt-2">per word</div>
                            <ul class="list-unstyled pricing-list">
                                <li>Sell pre-configurations of templates</li>
                                <li>CSS incerpt inserts</li>
                                <li>Quickly buy shopstyles by buying dictionary and the same keywords</li>
                                <li>Soon to break form</li>
                            </ul>
                            <a onclick="showregister()" class="btn btn-primary" style="white-space: initial; width: 100%;">
                                JavaScript styling to come
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: FS Kim,Georgia,'Serif';">
		All in one solution to document management
	</h2>
	<h3 class=pitchdesc1 style="font-size:2.1em; font-family:'futura-pt';">
		Learning To Predict/Generate Article from Title,
	</h3>
	<h3 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Learning To Predict/Generate Definition from Word,
	</h3>
	<h3 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Learning To Predict/Generate Image from Title,
	</h3>
	<h3 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Learning To Predict/Generate Requested URL Content from Title,
	</h3>
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: FS Kim,Georgia,'Serif';">
		Open Access Codebase, free to use so long as no profit
	</h2>
	<h3 class=pitchdesc1 style="font-size:2.1em; font-family: FS Kim,Georgia,'Serif';">
		Payments in credits for advertisers to buy off you,
	</h3>
	<h3 class=pitchdesc1 style="font-size:2.1em; font-family: FS Kim,Georgia,'Serif';">
		Payments in credits for you to advertise your products,
	</h3>
	
	<h3 class=pitchdesc1 style="font-size:2.1em; font-family: FS Kim,Georgia,'Serif';">
		Advertising credits paid to owners of products next to placed ad.
	</h3>
	
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: FS Kim,Georgia,'Serif';">
		Looking to add crypto as soon as we can work out how.
	</h2>
	

<!-- 

	<h2 class=pitchdesc9 style="font-size:2.1em; font-family: 'futura-pt';">
		"what is your 'true' purpose", <br/> ('' denotes glitch text for alternate possibilities)
		But short-hand and automatic?
	</h2>
-->
	<h2 class=pitchdesc3 style="font-size:2.1em; font-family: 'futura-pt';">
		In-built code words, <br/>
		Talk slang, but leave no one uninformed.
	</h2>
	<h4 class=pitchdesc4 style="font-size:1.7em; font-family: FS Kim,Georgia;">
		Preach your message <br/>
		Tell Your Story
	</h4>
	<h2 class=pitchdesc5 style="font-size:2.1em; font-family: 'futura-pt';">
		A Database for all your learning requirements. <br/>
		Pay In Crypto (soon)
	</h2>
	<h2 class=pitchdesc6 style="font-size:2.1em; font-family: 'futura-pt';">
		Language Games.
	</h2>
	<p id="keybutton" onclick="showregister()" style="border-radius:3em; padding: 1em 1em 1em 1em; margin: 2em 2em 2em 2em; text-align: center;">Click the Key to Sign Up</p>
	<br/>
	<br/>
	<h2 class=pitchdesc7 style="font-size:2.1em; font-family: 'futura-pt';">
		If you don't know you don't know <br/>If you don't know, you weren't invited.
	</h2>
	<div class=pitchbasis style="font-family: FS Kim,Georgia,'Serif';">
		Urban Dictionary, but monetised for the creator<br/>
		Reddit forums, but monetised for the moderator
	</div>
	<h2 class=pitchdesc8 style="font-size:2.1em; font-family: 'futura-pt';">
		Sick of saying things like: "not wild music in terms of noisy"<br/>
		"but wild in terms of natural and free flowing" - denote that quick and easy.
	</h2>
	<div style="margin-top: 20px; font-family: monospace;">
		See the <a style="color: blue;" href="/B/about">ABOUT</a> This is not what you think. It never is, and it never was.<br/> Conform to a new standard, and then the standard changes. Stay the same, and you'll be older than a toothbrush,<br/>
		With teeth cleaner than you can sleep in.
	</div>
</div>

<style>
	#keybutton {
		background-color: green;
		color: white;
	}
	#keybutton:hover {
		background-color: gold;
		color: black;
	}
	h3 {
		color: black;
	}
</style>

<div class=top>
	<div class=topscreen style="text-align: center;">
		<h2>Why Choose Us</h2>
	</div>
	<style>
		.bannerleft:hover, .bannermiddle:hover, .bannerright:hover, .botbannerleft:hover, .botbannermiddle:hover, .botbannerright:hover {
			box-shadow: 0 2px 10px black;
			transition: box-shadow 0.3s ease-in-out;
		}
	</style>
	<div class=topbanner style="text-align: center; font-size:xx-small;">
		<div class=bannerleft style="background-color: white; display: inline-block; width: fit-content; padding: 5px; border: black 1px solid;">
			<h3>Designed For Everyone</h3>
			<p>
				ThinkNot can only make an income if:<br/>
				The audience wishes to make an income from it.<br/>
				Say "woah" 1000 times, and say No, when you think you do.
			</p>
		</div>

		<div class=bannermiddle style="background-color: white; display: inline-block; width: fit-content; padding: 5px; border: black 1px solid;">
			<h3>Expert Reporting</h3>
			<p>
				You might ask people persons people questions<br/>
				But what's outside of you, you can't know<br/>
				Not unless you have the chance to explain yourself.
			</p>
		</div>

		<div class=bannerright style="background-color: white; margin: auto; width: fit-content; padding: 5px; border: black 1px solid;">
			<h3>Content Uploading</h3>
			<p>
				Coherency is not granted by authority on high<br/>
				Only incoherency can do that<br/>
				Anything you say can and will<br/>
				be used against you when courting.
			</p>
		</div>


	</div>
	<div class=bottombanner style="text-align: center;">
		<div class=botbannerleft style="background-color: white; display: inline-block; width: fit-content;padding: 5px; border: black 1px solid;">
			<h3>Nothing Special</h3>
			<p>
				Think Not shows you what not to think<br/>
				Nothing changes by itself<br/>
				Even if you say one thing alone, <br/>
				You must say another to correct it.
			</p>
		</div>

		<div class=botbannermiddle style="background-color: white; display: inline-block; width: fit-content;padding: 5px; border: black 1px solid;">
			<h3>Believe yourself</h3>
			<p>
				You could rely on an authoriy<br/>
				But if this were to happen <br/>
				You would need to believe in yourself <br/>
				At the same time as doing both.
			</p>
		</div>

		<div class=botbannerright style="background-color: white; margin: auto; width: fit-content; padding: 5px; border: black 1px solid;">
			<h3>You control us</h3>
			<p>
				We will listen to you and give you the chance to explain yourself<br/>
				If words hurt, you have one of two options<br/>
				Change what they mean, to hide the idea.<br/>
				Or block them before they can even be said.<br/>
				If language can be sour, salty, and burn, <br/>
				And that's dictated by authority<br/>
				Then it's about time we clean our minds up
			</p>
		</div>
	</div>
</div>
<style>
	#buyadvertising:hover {
		box-shadow: 0 2px 10px black;
		transition: box-shadow 0.3s ease-in-out;
	}
</style>
<br/><br/><br/><br/>
<div id=buyadvertising style="margin: auto; text-align: center; background-color: white; margin-left:20px; border: 5px green solid; border-radius: 8px;">
	<h1 style="color: black;">Hard Money</h1>
	<p>Hard money needs an authority<br/>
	True money needs knowledge of truth<br/>
	<br/>
	You may not have the time or care for this<br/>
	But that is fine by me<br/>
	<br/>
	If you need your beauty sleep<br/>
	I will lie next to you, restless<br/>
	<br/>
	Time is of the essence <br/>
	You only live as long as you can be heard<br/>
	<br/>
	So when no one is listening <br/>
	Why <i>not</i> scream into the void.<br/>
	<br/>
	</p>
</div>

{% endblock %}


{% block unauthenticated_posts %}
<div class=pitch style="margin-left: 6em;">
	<h1 class=pitchtitle style="font-size:3em; font-family: FS Kim,Georgia,'Serif';">
		Private Dictionaries of communities and sponsors you can sell to community affiliates
	</h1>
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Democratising Language
	</h2>
	<h3 class=pitchdesc2 style="font-size:1.7em; font-family: FS Kim,Georgia,'Serif';">
		Building Your Next Database, <br/>
		For All Your AI BIG DATA Needs.
	</h3>
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Private Playlists you can sell
	</h2>
	
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Private Reading Lists you can sell
	</h2>
	
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Private Imageboards you can sell
	</h2>

	<div class="row pt-5 pricing-table">
            <div class="col-12 mx-auto">
                <div class="card-deck pricing-table">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title pt-3">Basic</h3>
                            <h2 class="card-title text-primary mb-0 pt-4">$0</h2>
                            <div class="text-muted font-weight-medium mt-2">per month</div>
                            <ul class="list-unstyled pricing-list">
                                <li>Completely Free</li>
                                <li>Sell Anything</li>
                                <li>Link to a decentralised eBook</li>
                                <li>or a private YouTube / SoundCloud</li>
                            </ul>
                            <a onclick="showregister()" class="btn btn-primary" style="white-space: initial; width: 100%;">
                                Sign up to Stripe to Start
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title pt-3">Priority</h3>
                            <h2 class="card-title text-info mb-0 pt-4">Priced in</h2>
                            <div class="text-muted font-weight-medium mt-2">per month</div>
                            <ul class="list-unstyled pricing-list">
                                <li>Buy whatever's being sold</li>
                                <li>We take 0% Commissions</li>
                                <li>1.75% Australian credit cards</li>
                                <li>3% International (check Stripe)</li>
                            </ul>
                            <a onclick="showregister()" class="btn btn-info" style="white-space: initial; width: 100%;">
                                Don't Ask Us Why
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title pt-3">Exclusive</h3>
                            <h2 class="card-title text-primary mb-0 pt-4">Of a kind</h2>
                            <div class="text-muted font-weight-medium mt-2">per word</div>
                            <ul class="list-unstyled pricing-list">
                                <li>Sell pre-configurations of templates</li>
                                <li>CSS incerpt inserts</li>
                                <li>Quickly buy shopstyles by buying dictionary and the same keywords</li>
                                <li>Soon to break form</li>
                            </ul>
                            <a onclick="showregister()" class="btn btn-primary" style="white-space: initial; width: 100%;">
                                JavaScript styling to come
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: FS Kim,Georgia,'Serif';">
		All in one solution to document management
	</h2>
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family:'futura-pt';">
		Learning To Predict/Generate Article from Title,
	</h2>
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Learning To Predict/Generate Definition from Word,
	</h2>
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Learning To Predict/Generate Image from Title,
	</h2>
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: 'futura-pt';">
		Learning To Predict/Generate Requested URL Content from Title,
	</h2>
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: FS Kim,Georgia,'Serif';">
		Open Access Codebase, free to use so long as no profit
	</h2>
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: FS Kim,Georgia,'Serif';">
		Payments in credits for advertisers to buy off you,
	</h2>
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: FS Kim,Georgia,'Serif';">
		Payments in credits for you to advertise your products,
	</h2>
	
	<h2 class=pitchdesc1 style="font-size:2.1em; font-family: FS Kim,Georgia,'Serif';">
		Advertising credits paid to owners of products next to placed ad.
	</h2>
	<h2 class=pitchdesc3 style="font-size:2.1em; font-family: 'futura-pt';">
		In-built code words, <br/>
		Talk slang, but leave no one uninformed.
	</h2>
	<h4 class=pitchdesc4 style="font-size:1.7em; font-family: FS Kim,Georgia;">
		Preach your message <br/>
		Sell Your Story
	</h4>
	<h2 class=pitchdesc5 style="font-size:2.1em; font-family: 'futura-pt';">
		Be Here Now. <br/>
		Pay In Crypto (soon)
	</h2>
	<h2 class=pitchdesc6 style="font-size:2.1em; font-family: 'futura-pt';">
		Language Games.
	</h2>
	<a id="keybutton" href="/B/index" style="border-radius:3em; padding: 1em 1em 1em 1em; margin: 2em 2em 2em 2em; text-align: center;">Click the Key to Sign Up</a>
	<br/>
	<br/>
	<h2 class=pitchdesc7 style="font-size:2.1em; font-family: 'futura-pt';">
		If you don't know you don't know <br/>If you don't know, you weren't invited.
	</h2>
	<div class=pitchbasis style="font-family: FS Kim,Georgia,'Serif';">
		Urban Dictionary, but monetised for the creator<br/>
		Reddit forums, but monetised for the moderator.
	</div>
	<h2 class=pitchdesc8 style="font-size:2.1em; font-family: 'futura-pt';">
		Sick of saying things like: "not wild music in terms of noisy"<br/>
		"but wild in terms of natural and free flowing" - denote that.
	</h2>
	<div style="margin-top: 20px; font-family: monospace;">
		See the <a style="color: blue;" href="/B/about">ABOUT</a> This is not what you think. It never is, and it never was.<br/> Conform to a new standard, and then the standard changes. Stay the same, and you'll be older than a toothbrush,<br/>
		With teeth cleaner than you can sleep in.
	</div>	
</div>
<style>
	#keybutton {
		background-color: green;
		color: white;
	}
	#keybutton:hover {
		background-color: gold;
		color: black;
	}
	h3 {
		color: black;
	}
</style>

<div class=top>
	<div class=topscreen style="text-align: center;">
		<h2>Why Choose Us</h2>
	</div>
	<style>
		.bannerleft:hover, .bannermiddle:hover, .bannerright:hover, .botbannerleft:hover, .botbannermiddle:hover, .botbannerright:hover {
			box-shadow: 0 2px 10px black;
			transition: box-shadow 0.3s ease-in-out;
		}
	</style>
	<div class=topbanner style="text-align: center; font-size:xx-small;">
		<div class=bannerleft style="background-color: white; display: inline-block; width: fit-content; padding: 5px; border: black 1px solid;">
			<h3>Designed For Everyone</h3>
			<p>
				ThinkNot can only make an income if:<br/>
				The audience wishes to make an income from it.<br/>
				Say "woah" 1000 times, and say No, when you think you do.
			</p>
		</div>

		<div class=bannermiddle style="background-color: white; display: inline-block; width: fit-content; padding: 5px; border: black 1px solid;">
			<h3>Expert Reporting</h3>
			<p>
				You might ask people persons people questions<br/>
				But what's outside of you, you can't know<br/>
				Not unless you have the chance to explain yourself.
			</p>
		</div>

		<div class=bannerright style="background-color: white; margin: auto; width: fit-content; padding: 5px; border: black 1px solid;">
			<h3>Content Uploading</h3>
			<p>
				Coherency is not granted by authority on high<br/>
				Only incoherency can do that<br/>
				Anything you say can and will<br/>
				be used against you when courting.
			</p>
		</div>


	</div>
	<div class=bottombanner style="text-align: center;">
		<div class=botbannerleft style="background-color: white; display: inline-block; width: fit-content;padding: 5px; border: black 1px solid;">
			<h3>Nothing Special</h3>
			<p>
				Think Not shows you what not to think<br/>
				Nothing changes by itself<br/>
				Even if you say one thing alone, <br/>
				You must say another to correct it.
			</p>
		</div>

		<div class=botbannermiddle style="background-color: white; display: inline-block; width: fit-content;padding: 5px; border: black 1px solid;">
			<h3>Believe yourself</h3>
			<p>
				You could rely on an authoriy<br/>
				and that is ultimately good<br/>
				You would need to believe in yourself <br/>
				At the same time as doing both.
			</p>
		</div>

		<div class=botbannerright style="background-color: white; margin: auto; width: fit-content; padding: 5px; border: black 1px solid;">
			<h3>You control us</h3>
			<p>
				We will listen to you and give you the chance to explain yourself<br/>
				If words hurt, you have one of two options<br/>
				Change what they mean, to hide the idea.<br/>
				Or block them before they can even be said.<br/>
				If language can be sour, salty, and burn, <br/>
				And that's dictated by authority<br/>
				Then it's about time we clean our minds up
			</p>
		</div>
	</div>
</div>
<style>
	#buyadvertising:hover {
		box-shadow: 0 2px 10px black;
		transition: box-shadow 0.3s ease-in-out;
	}
</style>
<br/><br/><br/><br/>
<div id=buyadvertising style="margin: auto; text-align: center; background-color: white; margin-left:20px; border: 5px green solid; border-radius: 8px;">
	<h1 style="color: black;">Hard Money</h1>
	<p>Hard money needs an authority<br/>
	True money needs knowledge of truth<br/>
	<br/>
	You may not have the time or care for this<br/>
	But that is fine by me<br/>
	<br/>
	If you need your beauty sleep<br/>
	I will lie next to you, restless<br/>
	<br/>
	Time is of the essence <br/>
	You only live as long as you can be heard<br/>
	<br/>
	So when no one is listening <br/>
	Why <i>not</i> scream into the void.<br/>
	<br/>
	</p>
</div>

{% endblock %}

{% block scripts %}
	<script>
		
		function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function openCommentThread(starter, com) {
			var element = document.getElementById(starter).getElementById(com);
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function comCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		/* Needs to be step-counted for the DAHS of each Attribute
		function wordsAttributesAddMore() {
				var form_idx = $('#id_wa-TOTAL_FORMS').value;
				var copy = $('#waef').html().replace(/__prefix__/g, form_idx);
				$('#wafs').append(copy);
				$('#id_wa-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}
		*/
		$(document).on('click', 'button.Delete', function() {
			var target = '#id_' + $(this).val() + '-DELETE';
			$(target).prop('checked', true);
			$(this).closest('tr').hide();
		});
	</script>
{% endblock %}