{% extends 'base.html' %}
{% load user_referencing %}
{% load vote_screen %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}



{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta name="description" content="User: {{ user_anon.username.username }}'s Examples - Dream Cloud Middle Men">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}


{% block Title %}
User: {{ user_anon.username.username }}'s Examples - Dream Cloud Middle Men
{% endblock %}

{% block authenticatedposts %}
	<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view_count' user_anon.username.username 0 %}">User: {{ user_anon.username.username }}</a>
		</h2>
	</div>
	<div class=usersexamples>
		<div class=sectiontitle>
			<a href="{% url 'Bable:tob_users_examples' user_anon.username.username 0 %}"><h3>Examples:</h3></a> 
		</div>
		<div class=exasectionsort>
			<div id=exasortnav>
				Sort: {{ user_anon.get_example_sort_display }}
			</div>
			<div class=dropdown-content-exa-sort>
				<div class=popular>
					<div class=freshest>
						<a href="{% url 'Bable:change_example_sort' 'freshest' %}">Freshest</a>
					</div>
					<div class=oldest>
						<a href="{% url 'Bable:change_example_sort' 'oldest' %}">Oldest</a>
					</div>
					<div class=precision>
						<a href="{% url 'Bable:change_example_sort' 'precision' %}">Precision</a>
					</div>
					<div class=votes>
						<a href="{% url 'Bable:change_example_sort' 'votes' %}">Votes</a>
					</div>
					<div class=unseen>
						<a href="{% url 'Bable:change_example_sort' 'unseen' %}">Unseen</a>
					</div>
					<div class=views>
						<a href="{% url 'Bable:change_example_sort' 'views' %}">Views</a>
					</div>
				</div>
			</div>	
		</div>
		<div class=examples>
			{% if users_examples.count %}
				{% for exa in users_examples %}
					<div class=example>
						<div id=collapse onclick="nodeCollapse('exa{{exa.id}}')">
							-:
						</div>
						<div id=exa{{exa.id}}>
							<div class=exaexa>
								Example: {{ exa.the_example_itself }}
							</div>
							{% if loggedinanon == user_anon %}
							<div class=exasave>
								<a href="{% url 'Bable:save_own_exa' user_anon.username.username exa.id %}">unsave</a>
							</div>
							{% endif %}
							<div class=exacha>
								Latest Change: {{ exa.latest_change_date }}
							</div>
							<div class=exaviews>
								Views: {{ exa.views }}
							</div>
							<div class=exacount>
								<a href="{% url 'Bable:votewvotestyle' 'exa' exa.id %}">Votes: {{ exa.votes_count }}</a>
							</div>
							<div class=exavotes>
								{% for vote in exa.votes.all|slice:"10" %}
									{% if vote in loggedinanon.applied_votestyles.to_source %}
										<div class=exavotess>
											<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
										</div>
									{% endif %}
								{% endfor %}
							</div>
							<!-- Needs threaded comments -->
							<div class=exacomlist>Comments:
								<div class=comsubmit>
									<div id=exacomlist onclick="openComment('exacomlist')">
										Newcom
									</div>
									<form id=exacomlistform class=starter action="{% url 'Bable:create_comment' 'exa' exa.id 0 %}" method=post>
										{% csrf_token %}
										{{ comment_form }}
										<button type=submit>what've I got to lose?</button>
									</form>
								</div>
								<div class=exacom>
									{% recursetree exa.comment_sources.all %}
										<div class=exacoms>
											<div class=comclose onclick="comCollapse('exacom{{node.id}}')">
												-:
											</div>
											<div id=exacom{{node.id}}>
												<div class=exacomsbody>
													{{ node.body }}
												</div>
												{% if node.author.username == loggedinauthor.username %}
													<div class=dictionary-delete>
														<a href="{% url 'Bable:delete_own_com' node.id 'source' %}"><h4>X</h4></a>
													</div>
												{% endif %}
												<div class=exacomsvotes>
													<a href="{% url 'Bable:votewvotestyle' 'com' node.id %}">{{ node.votes_count }}</a>
												</div>
												<div class=exacomsvotess>
													{% for vote in node.votes.all %}
														{% if vote in loggedinanon.applied_votesstyles.to_source %}
														<div class=exacomsvotesss>
															<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
														</div>
														{% endif %}
													{% endfor %}
												</div>
												<div class=exacomsdics>Dics:
														{% for dic in node.dictionaries.all %}
															{% if dic in loggedinanon.applied_dictionaries.all %}
																<div class=exacomsdicss>
																	<a href="{% url 'Bable:tob_user_view_count' dic.author.username 0 %}">/u/{{ dic.author.username }}</a>: <a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself %}">{{ dic.the_dictionary_itself }}</a>
																</div>
															{% endif %}
														{% endfor %}
													</div>
													<div class=exacomswords>
														{% for word in node.words.all|slice:"10" %}
															<a href="{% url 'Bable:tob_users_dic_word' word.author.username word.home_dictionary word.the_word_itself %}">{{ word.the_word_itself }}</a>
														{% endfor %}
													</div>
												<div class=exacomsauthor>
													<a href="{% url 'Bable:tob_user_view_count' node.author.username 0 %}">/u/{{ node.author.username }}</a>
												</div>
												{% if not node.is_leaf_node %}
													{{ children }}
												{% endif %}
											</div>
										</div>
									{% endrecursetree %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class=example>
					There are no examples for this user.
				</div>
			{% endif %}
		</div>
	</div>
	
{% endblock %}

{% block unauthenticated_posts %}
	<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view_count' user_anon.username.username 0 %}">User: {{ user_anon.username.username }}</a>
		</h2>
	</div>
	<div class=usersexamples>
		<div class=sectiontitle>
			<a href="{% url 'Bable:tob_users_examples' user_anon.username.username 0 %}"><h3>Examples:</h3></a> 
		</div>
		<div class="examples">
			{% if users_examples %}
				{% for example in users_examples %}
				<div class="example">
					{{ example.the_example_itself }}
				</div>
				{% endfor %}
			{% else %}
				<div class="example">
					There are no examples for this user.
				</div>
			{% endif %}
		</div>
	</div>

{% endblock %}


{% block scripts %}
<script>
	function openExamples() {
			var element = document.getElementById("exampleform");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

	function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

	function comCollapse(node) {
		var element = document.getElementById(node)
		if (element.style.display === "inline-block") {
			element.style.display = "none";
		} else {
			element.style.display = "inline-block";
		}
	}

	function nodeCollapse(node) {
		var element = document.getElementById(node)
		if (element.style.display === "inline-block") {
			element.style.display = "none";
		} else {
			element.style.display = "inline-block";
		}
	}
</script>
{% endblock %}