f{% extends 'base.html' %}
{% load user_referencing %}
{% load vote_screen %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}

{% block inserts %}
BabylonPolice - User: {{ user_anon.username.username }}'s Sponsor {{ users_sponsor.id }}
{% endblock %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta name="description" content="BabylonPolice - User: {{ user_anon.username.username }}'s Sponsor {{ users_sponsor.id }}">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}

{% block authenticatedposts %}

	<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view_count' user_anon.username.username 0 %}">User: {{ user_anon.username.username }}</a>
		</h2>
		
	</div>
	<div class=users_sponsor>
		{% if users_sponsor %}
		<div class=the_sponsorship_phrase>
			Phrase: <a href="{% url 'Bable:clickthrough' users_sponsor.author.username users_sponsor.id %}">{{ users_sponsor.the_sponsorship_phrase }}</a>
		</div>
		<div class=spon_id>
			ID: {{ users_sponsor.id }}
		</div>
		{% if users_sponsor.author.username == request.user.username %}
		<div class=spon_delete>
			<a href="{% url 'Bable:delete_own_spons' users_sponsor.id %}"><h4>X</h4></a>
		</div>
		{% endif %}
		<div class=spon_latest>
			Latest: {{ users_sponsor.latest_change_date }}
		</div>
		{% if users_sponsor.img %}<img src='{{ users_sponsor.img }}' style="height: 6em; width: 6em;"/>{% endif %}
		<div class=spon_price_limit>
			Price: {{ users_sponsor.price_limit }}
		</div>
		<div class=spon_allowable>
			Allowable: {{ users_sponsor.allowable_expenditure }}
		</div>
		<div class=spon_author>
			<a href="{% url 'Bable:tob_user_view_count' users_sponsor.author.username 0 %}">/u/{{ users_sponsor.author.username }}</a>
		</div>
		<div class=spon_votecount>
			<a href="{% url 'Bable:votewvotestyle' 'spon' users_sponsor.id %}">Votes: {{ users_sponsor.votes.count }}</a>
		</div>
		<div class=spon_votes>
			<a href=>Votes:</a> {% for vote in users_sponsor.votes.all %}
						{% if vote in loggedinanon.applied_votestyles.to_source %}
						<div class=votess>
							<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
						</div>
						{% endif %}
					{% endfor %}
		</div>
		<div class=spon_price_limit>
			Views: {{ users_sponsor.views }}
		</div>
		{% endif %}
		<div class=users_sponsors>
			<div class=sponsorsheading>
				<h3>Sponsors: {{ users_sponsors.count }}</h3>
			</div>
			{% for spon in users_sponsors.all %}
				<div class=spaces_sponsor>
					<div class=the_sponsorship_phrase>
						Phrase: <a href="{% url 'Bable:clickthrough' spon.author.username spon.id %}">{{ spon.the_sponsorship_phrase }}</a>
					</div>
					<div class=spon-id>
						ID: {{ spon.id }}
					</div>
					<div class=spon_latest>
						Latest: {{ spon.latest_change_date }}
					</div>
					{% if spon.author.username == request.user.username %}
					<div class=spon-delete>
						<a href="{% url 'Bable:delete_own_spons' spon.id %}"><h4>X</h4></a>
					</div>
					{% endif %}
					{% if spon.img %}<img src='{{ spon.img }}' style="height: 6em; width: 6em;"/>{% endif %}
					<div class=spon_price_limit>
						Price: {{ spon.price_limit }}
					</div>
					<div class=spon_allowable>
						Allowable: {{ spon.allowable_expenditure }}
					</div>
					<div class=spon_author>
						<a href="{% url 'Bable:tob_user_view_count' spon.author.username 0 %}">/u/{{ spon.author.username }}</a>
					</div>
					<div class=spon_votecount>
						<a href="{% url 'Bable:votewvotestyle' 'spon' spon.id %}">Votes: {{ spon.votes.count }}</a>
					</div>
					<div class=spon_votes>
						<a href=>Votes:</a> 
						{% for vote in spon.votes.all %}
							{% if vote in loggedinanon.applied_votestyles.to_source %}
							<div class=votess>
								<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
							</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class=spon_price_limit>
						Views: {{ spon.allowable_expenditure }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block unauthenticated_posts %}

<div class=usersusername>
	<h2>
	<a href="{% url 'Bable:tob_user_view_count' user_anon.username.username 0 %}">User: {{ user_anon.username.username }}</a>
	</h2>
	
</div>
<div class=spaces_sponsor>
	{% if users_sponsor %}
	<div class=the_sponsorship_phrase>
		Phrase: <a href="{% url 'Bable:clickthrough' users_sponsor.author.username users_sponsor.id %}">{{ users_sponsor.the_sponsorship_phrase }}</a>
	</div>
	<div class=spon_id>
		ID: {{ users_sponsor.id }}
	</div>
	<div class=spon_latest>
		Latest: {{ users_sponsor.latest_change_date }}
	</div>
	{% if users_sponsor.img %}<img src='{{ users_sponsor.img }}' style="height: 6em; width: 6em;"/>{% endif %}
	<div class=spon_price_limit>
		Price: {{ users_sponsor.price_limit }}
	</div>
	<div class=spon_allowable>
		Allowable: {{ users_sponsor.allowable_expenditure }}
	</div>
	<div class=spon_author>
		<a href="{% url 'Bable:tob_user_view_count' users_sponsor.author.username 0 %}">/u/{{ users_sponsor.author.username }}</a>
	</div>
	<div class=spon_votecount>
		<a href="{% url 'Bable:votewvotestyle' 'spon' users_sponsor.id %}">Votes: {{ users_sponsor.votes.count }}</a>
	</div>
	<div class=spon_price_limit>
		Views: {{ users_sponsor.views }}
	</div>
	{% endif %}
	<div class=users_sponsors>
		<div class=sponsorsheading>
			<h3>Sponsors: {{ users_sponsors.count }}</h3>
		</div>
		{% for spon in users_sponsors.all %}
			<div class=users_sponsor>
				<div class=the_sponsorship_phrase>
					Phrase: <a href="{% url 'Bable:clickthrough' spon.author.username spon.id %}">{{ spon.the_sponsorship_phrase }}</a>
				</div>
				<div class=spon-id>
					ID: {{ spon.id }}
				</div>
				<div class=spon_latest>
					Latest: {{ spon.latest_change_date }}
				</div>
				{% if spon.img %}<img src='{{ spon.img }}' style="height: 6em; width: 6em;"/>{% endif %}
				<div class=spon_price_limit>
					Price: {{ spon.price_limit }}
				</div>
				<div class=spon_allowable>
					Allowable: {{ spon.allowable_expenditure }}
				</div>
				<div class=spon_author>
					<a href="{% url 'Bable:tob_user_view' spon.author.username 0 %}">/u/{{ spon.author.username }}</a>
				</div>
				<div class=spon_votecount>
					<a href="{% url 'Bable:votewvotestyle' 'spon' spon.id %}">Votes: {{ spon.votes.count }}</a>
				</div>
				<div class=spon_price_limit>
					Views: {{ spon.allowable_expenditure }}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
