<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}
{% load user_referencing %}
{% load vote_screen %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}


{% block title %}
{% if count %}
User: {{ user_anon.username.username }} {{ count }} - Babylon Police
{% else %}
User: {{ user_anon.username.username }} - Babylon Police
{% endif %}
{% endblock %}



{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta property="og:description" content="User: {{ user_anon.username.username }} - Babylon Police">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
<script>
	document.addEventListener("DOMContentLoaded", function() {
	elements = document.getElementsByClassName("csrf");
	for (var i=0;  i< elements.length; i++) {
		elements[i].name = "csrfmiddlewaretoken";
		elements[i].type = "hidden";
		elements[i].value = "{{ csrf_token }}";
	};})
</script>
{% endblock %}


<!-- There's a fail point here for ads needing to be forms, this model will get bot-rigged, sell, fork, re-do -->


{% block authenticatedposts %}
<style>
	label {
		display: block;
	}
	</style>
	
	<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view_count' user_anon.username.username 0 %}">User: {{ user_anon.username.username }}; ID: {{ user_anon.id }}</a>

		</h2>
	</div>
	{% if user_anon.username.username == request.user.username %}
		<div class=userself>

			<div class=monerowalletform>
				<form action="{% url 'Bable:submit_wallet' 0 %}" method='POST'>{% csrf_token %}{{ wallet_form }}<button type="submit">Submit </button></form>
			</div>

			<div class=userbalance>
				Balance: {{ user_anon.false_wallet }} purchase more (1000 = $1): (amounts in USD) 
				<form action="{% url 'Bable:home_view' %}" method='POST'>{% csrf_token %}{{ bread_form }}<button type="submit">Pay For It with Coinbase</button></form>
				<form action="{% url 'Bable:buy_bread' 0 %}" method='POST'>{% csrf_token %}{{ bread_form }}<button type="submit">Pay For It with Paypal</button></form>
				<form action="{% url 'Bable:api_checkout_bread_session' 0 %}" method='POST'>{% csrf_token %}{{ bread_form }}<button type="submit">Pay For It with Card</button></form>
				(Card requires email)
				<form action="{% url 'Bable:submit_email' %}" method='POST'>{% csrf_token %}{{ email_form }}<button type="submit">Submit Email</button></form>
			</div>
			<div class=votes_heading>
			<a href="{% url 'Bable:tob_users_votes' user_anon.username.username 0 %}"><h3>Saved Votestyles: {{ user_anon.saved_votestyles.count }}</h3></a>
		</div>
		<div class=votes>
			{% if user_anon.saved_votestyles.count %}
				{% for vote in user_anon.saved_votestyles.all %}
				<div class=vote>
					<div class=votename>
						Name: {{ vote.the_vote_name }}; ID: {{ vote.id }}
					</div>
					{% if vote.author.username == request.user.username %}
					<div class=votedel>
						<a href="{% url 'Bable:delete_own_votestyle' vote.id %}">X</a>
					</div>
					{% endif %}
					<div class=votestyles>
						Spaces:
						{% for space in vote.the_vote_style.all %}
							<div class=votespace>
								<div class=spaceitself>
									<a href="{% url 'Bable:tob_users_dic_word_count' space.author.username space.dictionary.the_dictionary_itself space.the_space_itself.the_word_itself 0 %}">{{ space.the_space_itself.the_word_itself }}</a>
								</div>
								<div class=spaceauthor>
									<a href="{% url 'Bable:tob_user_view_count' space.author.username 0 %}">/u/{{ space.author.username }}</a>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class=voteauthor>
						<a href="{% url 'Bable:tob_user_view_count' vote.author.username 0 %}">/u/{{ vote.author.username }}</a>
					</div>
					<div class=votevotes>
						Votes: {{ vote.votes }}
					</div>
					<div class=votesave>
						{% if vote in loggedinanon.saved_votes.all %}
						<a href="{% url 'Bable:tob_save_votestyle' vote.author.username vote.id %}">Save</a>
						{% else %}
						<a href="{% url 'Bable:tob_save_votestyle' vote.author.username vote.id %}">Unsave</a>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			{% endif %}
			</div>
			<div class=titlesentmessages>
				<h3>Sent Messages:</h3>
			</div>
			{% if user_anon.sent_messages.count %}
				<div class=usermsgs>
				{% for msg in user_anon.sent_messages.all %}
					<div class=sentmessages>
						<div class=comclose onclick="comCollapse('{{msg.id}}')">
							-:
						</div>
						<div id={{msg.id}}>
							<div class=defcomsbody>
								{{ msg.body }}
							</div>
							<div class=defcomsvotes>
								<a href="{% url 'Bable:votewvotestyle' 'com' msg.id %}">Votes: {{ msg.votes_count }}</a>
							</div>
							<div class=defcomsvotess>Votess:
								{% for vote in msg.votes.all %}
									{% if vote in loggedinanon.applied_votesstyles.all.to_source %}
									<div class=defcomsvotesss>
										<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_vote' vote.author.username vote.id %}">{{ vote.the_vote_itself }}</a>
									</div>
									{% endif %}
								{% endfor %}
							</div>
							{% if request.user.username == user_anon.username.username or request.user.username == node.author.username %}
							<div class=comdelete>
								<a href="{% url 'Bable:delete_own_com' msg.id 'source' %}">X</a>
							</div>
							{% endif %}
							<div class=defcomsdics>Dics:
								{% if msg.dictionaries.count %}
									{% for dic in msg.dictionaries.all %}
										{% if dic in loggedinanon.applied_dictionaries.all %}
											<div class=defcomsdicss>
												<a href="{% url 'Bable:tob_user_view_count' dic.author.username 0 %}">/u/{{ dic.author.username }}</a>: <a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself 0 %}">{{ dic.the_dictionary_itself }}</a>
											</div>
										{% endif %}
									{% endfor %}
								{% endif %}
								</div>
								<div class=comswords>Words:
									{% if msg.words.count %}
										{% for word in msg.words.all|slice:"10" %}
											<a href="{% url 'Bable:tob_users_dic_word_count' word.author.username word.home_dictionary.the_dictionary_itself word.the_word_itself 0 %}">{{ word.the_word_itself }}</a>
										{% endfor %}
									{% endif %}
								</div>
							<div class=comsauthor>
								<a href="{% url 'Bable:tob_user_view_count' msg.author.username 0 %}">/u/{{ msg.author.username }}</a>
							</div>
							<div class=comssave>
								{% if msg in user_anon.saved_comments.all %}
									<a href="{% url 'Bable:tob_save_com' user_anon.username.username msg.id %}">unsave</a>
								{% else %}
									<a href="{% url 'Bable:tob_save_com' user_anon.username.username msg.id %}">save</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			{% endif %}
			<div class=titlereceivedmessages>
				<h3>Received Messages:</h3>
			</div>
			{% if user_anon.received_messages.count %}
				<div class=usermsgr>
					{% for msg in user_anon.received_messages.all %}
						<div class=recmessages>
							<div class=comclose onclick="comCollapse('{{msg.id}}')">
								-:
							</div>
							<div id={{msg.id}}>
								<div class=defcomsbody>
									{{ msg.body }}
								</div>
								<div class=defcomsvotes>
									<a href="{% url 'Bable:votewvotestyle' 'com' msg.id %}">Votes: {{ msg.votes_count }}</a>
								</div>
								<div class=defcomsvotess>Votess:
									{% for vote in msg.votes.all %}
										{% if vote in loggedinanon.applied_votesstyles.all.to_source %}
										<div class=defcomsvotesss>
											<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_vote' vote.author.username vote.id %}">{{ vote.the_vote_itself }}</a>
										</div>
										{% endif %}
									{% endfor %}
								</div>
								{% if request.user.username == user_anon.username.username or request.user.username == node.author.username %}
								<div class=comdelete>
									<a href="{% url 'Bable:delete_own_com' msg.id 'source' %}">X</a>
								</div>
								{% endif %}
								<div class=defcomsdics>Dics:
									{% if msg.dictionaries %}
										{% for dic in msg.dictionaries.all %}
											{% if dic in loggedinanon.applied_dictionaries.all %}
												<div class=defcomsdicss>
													<a href="{% url 'Bable:tob_user_view_count' dic.author.username 0 %}">/u/{{ dic.author.username }}</a>: <a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself 0 %}">{{ dic.the_dictionary_itself }}</a>
												</div>
											{% endif %}
										{% endfor %}
									{% endif %}
									</div>
									<div class=defcomswords>Words:
										{% for word in msg.words.all|slice:"10" %}
											<a href="{% url 'Bable:tob_users_dic_word_count' word.author.username word.home_dictionary.the_dictionary_itself word.the_word_itself 0 %}">{{ word.the_word_itself }}</a>
										{% endfor %}
									</div>
								<div class=defcomsauthor>
									<a href="{% url 'Bable:tob_user_view_count' msg.author.username 0 %}">/u/{{ msg.author.username }}</a>
								</div>
								<div class=comssave>
									{% if msg in user_anon.saved_comments.all %}
										<a href="{% url 'Bable:tob_save_com' user_anon.username.username msg.id %}">unsave</a>
									{% else %}
										<a href="{% url 'Bable:tob_save_com' user_anon.username.username msg.id %}">save</a>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
			<div class=titlepostedcomments>
				<h3>Posted Comments:</h3>
			</div>
			{% if user_anon.post_comments.count %}
				<div class=usercom>
					{% for msg in user_anon.posted_comments.all %}
						<div class=postedcoms>
							<div class=comclose onclick="comCollapse('{{msg.id}}')">
								-:
							</div>
							<div id={{msg.id}}>
								<div class=defcomsbody>
									{{ msg.body }}
								</div>
								<div class=defcomsvotes>
									<a href="{% url 'Bable:votewvotestyle' 'com' msg.id %}">Votes: {{ msg.votes_count }}</a>
								</div>
								<div class=defcomsvotess>Votess:
									{% for vote in msg.votes.all %}
										{% if vote in loggedinanon.applied_votesstyles.to_source %}
										<div class=defcomsvotesss>
											<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_vote' vote.author.username vote.id %}">{{ vote.the_vote_itself }}</a>
										</div>
										{% endif %}
									{% endfor %}
								</div>
								{% if request.user.username == user_anon.username.username or request.user.username == node.author.username %}
								<div class=comdelete>
									<a href="{% url 'Bable:delete_own_com' msg.id 'source' %}">X</a>
								</div>
								{% endif %}
								<div class=defcomsdics>Dics:
									{% if msg.dictionaries %}
										{% for dic in msg.dictionaries.all %}
											{% if dic in loggedinanon.applied_dictionaries.all %}
												<div class=defcomsdicss>
													<a href="{% url 'Bable:tob_user_view_count' dic.author.username 0 %}">/u/{{ dic.author.username }}</a>: <a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself 0 %}">{{ dic.the_dictionary_itself }}</a>
												</div>
											{% endif %}
										{% endfor %}
									{% endif %}
									</div>
									<div class=defcomswords>Words:
										{% for word in msg.words.all|slice:"10" %}
											<a href="{% url 'Bable:tob_users_dic_word_count' word.author.username word.home_dictionary.the_dictionary_itself word.the_word_itself 0 %}">{{ word.the_word_itself }}</a>
										{% endfor %}
									</div>
								<div class=defcomsauthor>
									<a href="{% url 'Bable:tob_user_view_count' msg.author.username 0 %}">/u/{{ msg.author.username }}</a>
								</div>
								<div class=comssave>
									{% if msg in user_anon.saved_comments.all %}
										<a href="{% url 'Bable:tob_save_com' user_anon.username.username msg.id %}">unsave</a>
									{% else %}
										<a href="{% url 'Bable:tob_save_com' user_anon.username.username msg.id %}">save</a>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
			<div class=titlesavedcomments>
				<h3>Saved Comments:</h3>
			</div>
			{% if user_anon.saved_comments %}
				<div class=usersavedcom>
					{% for msg in user_anon.saved_comments.all %}
						<div class=savedcoms>
							<div class=comclose onclick="comCollapse('{{msg.id}}')">
								-:
							</div>
							<div id={{msg.id}}>
								<div class=defcomsbody>
									{{ msg.body }}
								</div>
								<div class=defcomsvotes>
									<a href="{% url 'Bable:votewvotestyle' 'com' msg.id %}">Votes: {{ msg.votes_count }}</a>
								</div>
								<div class=defcomsvotess>Votess:
									{% for vote in msg.votes.all %}
										{% if vote in loggedinanon.applied_votesstyles.all.to_source %}
										<div class=defcomsvotesss>
											<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_vote' vote.author.username vote.id %}">{{ vote.the_vote_itself }}</a>
										</div>
										{% endif %}
									{% endfor %}
								</div>
								{% if request.user.username == user_anon.username.username or request.user.username == node.author.username %}
								<div class=comdelete>
									<a href="{% url 'Bable:delete_own_com' msg.id 'source' %}">X</a>
								</div>
								{% endif %}
								<div class=defcomsdics>Dics:
									{% if msg.dictionaries %}
										{% for dic in msg.dictionaries.all %}
											{% if dic in loggedinanon.applied_dictionaries.all %}
												<div class=defcomsdicss>
													<a href="{% url 'Bable:tob_user_view_count' dic.author.username 0 %}">/u/{{ dic.author.username }}</a>: <a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself 0 %}">{{ dic.the_dictionary_itself }}</a>
												</div>
											{% endif %}
										{% endfor %}
									{% endif %}
									</div>
									<div class=defcomswords>Words:
										{% for word in msg.words.all|slice:"10" %}
											<a href="{% url 'Bable:tob_users_dic_word_count' word.author.username word.home_dictionary.the_dictionary_itself word.the_word_itself 0 %}">{{ word.the_word_itself }}</a>
										{% endfor %}
									</div>
								<div class=defcomsauthor>
									<a href="{% url 'Bable:tob_user_view_count' msg.author.username 0 %}">/u/{{ msg.author.username }}</a>
								</div>
								<div class=comssave>
									{% if msg in user_anon.saved_comments.all %}
										<a href="{% url 'Bable:tob_save_com' user_anon.username.username msg.id %}">unsave</a>
									{% else %}
										<a href="{% url 'Bable:tob_save_com' user_anon.username.username msg.id %}">save</a>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
			<div class=titlesavedspaces>
				<h3>Saved Spaces:</h3>
			</div>
			{% if user_anon.saved_spaces.count %}
				<div class=usersavedspace>
					{% for space in user_anon.saved_spaces.all %}
						<div class=savedspaces>
							<div class=space_itself>
								<a href="{% url 'Bable:tob_users_space' space.author.username space.id 0 %}">{{ space.the_space_itself.the_word_itself }}</a>
							</div>
							<div class=space_author>
								Author: <a href="{% url 'Bable:tob_user_view_count' space.author.username 0 %}">{{ space.author.username }}</a>
							</div>
							<div class=space_viewcount>
								Views: {{ space.viewcount }}
							</div>
							<div class=space_latest>
								Changed: {{ space.latest_change_date|naturaltime }}
							</div>
							<div class=space_posts>
								Posts: {{ space.posts.count }}
							</div>
							<div class=space_votes>
								Votes: {{ space.votes.count }}
							</div>
							<div class=space_sponsors>
								Sponsors: {{ space.sponsors.count }}
							</div>
							<div class=space_voters>
								Approved Voters: {{ space.approved_voters.count }}
							</div>
							<div class=space_intro>
								Intro: {{ space.sidebar|urlize }}
							</div>
							<div class=space_price>
								{% if space.public %}
									Price: se{{ space.entry_fee }} + sc{{ space.continuation_fee }}/mth + de{{ space.the_space_itself.dictionary.entry_fee }} + dc{{ space.the_space_itself.dictionary.continuation_fee }}/mth
								{% else %}
									{% if space.for_sale %}
										Price: se{{ space.entry_fee }} + sc{{ space.continuation_fee }}/mth + de{{ space.the_space_itself.dictionary.entry_fee }} + dc{{ space.the_space_itself.dictionary.continuation_fee }}/mth (invite only)
									{% else %}
										Not for sale.
									{% endif %}
								{% endif %}
							</div>
							<div class=space_source>
								<a href="{% url 'Bable:tob_users_dic' space.the_space_itself.home_dictionary.author.username space.the_space_itself.home_dictionary.the_dictionary_itself 0 %}">{{ space.the_space_itself.home_dictionary.the_dictionary_itself }}</a>
							</div>
							<div class=space_save>
								{% if space in loggedinanon.purchased_spaces %}
								<a style="background-color: grey;" href="{% url 'Bable:tob_remove_space' space.author.username space.the_space_itself.the_word_itself %}">Remove</a>
								{% else %}
								<form action="{% url 'Bable:submit_buy_space_form' space.id %}" method=post>
									{% csrf_token %}
									<button type=submit>Buy</button>
								</form>
								{% endif %}
								{% if space in loggedinanon.saved_spaces %}
								<a style="background-color: grey;" href="{% url 'Bable:tob_unsave_space' space.author.username space.the_space_itself.the_word_itself %}">Unsave</a>
								{% else %}
								<a style="background-color: grey;" href="{% url 'Bable:tob_save_space' space.author.username space.the_space_itself.the_word_itself %}">Save</a>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}

		<div id=storefronts>
			<h3>Storefronts:</h3>
			{% for storefront in user_anon.storefronts.all %}
			<div class=storefront>
				<div class=storefront_title>
					<a href="{% url 'Bable:storefront' user_anon.user.username storefront.title %}">{{ storefront.title }}</a>
				</div>
			</div>
			{% endfor %}
		</div>
		</div>
	{% else %}
		<div id=storefronts>
			<h3>Storefronts:</h3>
			{% for storefront in user_anon.storefronts.all %}
			<div class=storefront>
				<div class=storefront_title>
					<a href="{% url 'Bable:storefront' user_anon.user.username storefront.title %}">{{ storefront.title }}</a>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class=userother>
			<div class=sendmessage>
				Send Message:
				<form id=sendmessage action="{% url 'Bable:create_comment' 'msg' user_anon.id 0 %}" method=post>
					{% csrf_token %}
					{{ comment_form }}
					<button type=submit>Send Message</button>
				</form>
			</div>
		</div>
	{% endif %}
	<div class=usersspaces>
		<div class=sectiontitle>
			<a href="{% url 'Bable:tob_users_spaces' user_anon.username.username 0 %}"><h3>Spaces: {{ users_spaces.count }}</h3></a>
		</div>
		<div class=spasectionsort>
			<form name=space_sort action="{% url 'Bable:change_space_sort_char' %}" method=post>
				{% csrf_token %}
				{{ space_sort_form }}
			</form>
			<script>
				var form = document.querySelector('form[name="space_sort"]');
				form.addEventListener('change', function() {
				    form.submit();
				});
			</script>
		</div>
		<div class=spaces>
		{% if users_spaces.count %} 
			{% for space in users_spaces.all %}
			<div class=space>
				<div class=space_itself>
					<h4><a href="{% url 'Bable:tob_users_space' space.author.username space.id 0 %}">{{ space.the_space_itself.the_word_itself }}</a></h4>
				</div>
				<div class=spacesponsors>
					{% if space.max_sponsor %}
						<form action="{% url 'Bable:clickthrough' %}" method=POST>
							{% csrf_token %}
							<input type=hidden value="{{ space.author.username }}" readonly>
							<input type=hidden value="{{ space.max_sponsor.id }}" readonly>
							<button type=submit>
								<img src="{{ space.max_sponsor.img }}" style="height: 4em; width: 4em; float:right;">
							</button>
						</form>
					{% else %}
						<img src="{% static 'babylonpolice.com.gif' %}" style="height: 6em; width: 6em;">
					{% endif %}
				</div>
				{% if space.author.username == request.user.username %}
				<div class=space_delete>
					<a href="{% url 'Bable:delete_own_space' request.user.username space.id %}">X</a>
				</div>
				{% endif %}
				<div class=space_left style="margin-left: 2px; border-left: solid 1px; padding-left: 2px;">
					<div class=space_author>
						Author: <a href="{% url 'Bable:tob_user_view_count' space.author.username 0 %}">{{ space.author.username }}</a>
					</div>
					<div class=space_viewcount>
						Views: {{ space.viewcount }}
					</div>
					<div class=space_latest>
						Changed: {{ space.latest_change_date|naturaltime }}
					</div>
					<div class=space_posts>
						Posts: {{ space.posts.count }}
					</div>
					<div class=space_votes>
						Votes: {{ space.votes.count }}
					</div>
					<div class=space_sponsors>
						Sponsors: {{ space.sponsors.count }}
					</div>
					<div class=space_voters>
						Approved Voters: {{ space.approved_voters.count }}
					</div>
					<div class=space_intro>
						Intro: {{ space.sidebar|urlize }}
					</div>
					<div class=space_price>
						{% if space.public %}
							Price: se{{ space.entry_fee }} + sc{{ space.continuation_fee }}/mth + de{{ space.the_space_itself.dictionary.entry_fee }} + dc{{ space.the_space_itself.dictionary.continuation_fee }}/mth
						{% else %}
							{% if space.for_sale %}
								Price: se{{ space.entry_fee }} + sc{{ space.continuation_fee }}/mth + de{{ space.the_space_itself.dictionary.entry_fee }} + dc{{ space.the_space_itself.dictionary.continuation_fee }}/mth (invite only)
							{% else %}
								Not for sale.
							{% endif %}
						{% endif %}
					</div>
					<div class=space_source>
						Container Dictionary: <a href="{% url 'Bable:tob_users_dic' space.the_space_itself.home_dictionary.author.username space.the_space_itself.home_dictionary.the_dictionary_itself 0 %}">{{ space.the_space_itself.home_dictionary.the_dictionary_itself }}</a>
					</div>
					<div class=space_save>
						{% if space in loggedinanon.purchased_spaces.all %}
						<a style="background-color: grey;" href="{% url 'Bable:tob_remove_space' space.author.username space.the_space_itself.the_word_itself %}">Remove</a>
						{% else %}
						<form action="{% url 'Bable:submit_buy_space_form' space.id %}" method=post>
							{% csrf_token %}
							<button type=submit>Buy</button>
						</form>
						{% endif %}
						{% if space in loggedinanon.saved_spaces.all %}
						<a style="background-color: grey;" href="{% url 'Bable:tob_unsave_space' space.author.username space.the_space_itself.the_word_itself %}">Unsave</a>
						{% else %}
						<a style="background-color: grey;" href="{% url 'Bable:tob_save_space' space.author.username space.the_space_itself.the_word_itself %}">Save</a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		{% else %}
			<div class=space>
				This user has no space.
			</div>
		{% endif %}
		</div>
	</div>
	
	<div class=usersdictionaries>
		<div class=sectiontitle>
			<a href="{% url 'Bable:tob_users_dics' user_anon.username.username 0 %}"><h3>Dictionaries</h3></a>
		</div>
		<!--
		<div class=dicsectionsort>
			<div id=dicsortnav>
				Sort: {{ loggedinanon.get_dictionary_sort_display }}
			</div>
			<div class=dropdown-content-dic-sort>
				<div class=popular>
					<div class=freshest>
						<a href="{% url 'Bable:change_dictionary_sort' 'freshest' %}">Freshest</a>
					</div>
					<div class=stalest>
						<a href="{% url 'Bable:change_dictionary_sort' 'stalest' %}">Stalest</a>
					</div>
					<div class=common>
						<a href="{% url 'Bable:change_dictionary_sort' 'common' %}">Common</a>
					</div>
					<div class=prized>
						<a href="{% url 'Bable:change_dictionary_sort' 'prized' %}">Prized</a>
					</div>
					<div class=oldest>
						<a href="{% url 'Bable:change_dictionary_sort' 'oldest' %}">Oldest</a>
					</div>
				</div>
				<div class=stats>
					<div class=newest>
						<a href="{% url 'Bable:change_dictionary_sort' 'newest' %}">Newest</a>
					</div>
					<div class=dispersed>
						<a href="{% url 'Bable:change_dictionary_sort' 'dispersed' %}">Dispersed</a>
					</div>
					<div class=origin>
						<a href="{% url 'Bable:change_dictionary_sort' 'origin' %}">Origin</a>
					</div>
					<div class=words>
						<a href="{% url 'Bable:change_dictionary_sort' 'words' %}">Words</a>
					</div>
					<div class=votes>
						<a href="{% url 'Bable:change_dictionary_sort' 'votes' %}">Votes</a>
					</div>
				</div>
				<div class=flair>
					<div class=translations>
						<a href="{% url 'Bable:change_dictionary_sort' 'translations' %}">Translations</a>
					</div>
					<div class=sentences>
						<a href="{% url 'Bable:change_dictionary_sort' 'sentences' %}">Sentences</a>
					</div>
					<div class=renditions>
						<a href="{% url 'Bable:change_dictionary_sort' 'renditions' %}">Renditions</a>
					</div>
					<div class=analyses>
						<a href="{% url 'Bable:change_dictionary_sort' 'analyses' %}">Analyses</a>
					</div>
					<div class=viewcount>
						<a href="{% url 'Bable:change_dictionary_sort' 'viewcount' %}">Viewcount</a>
					</div>
				</div>
			</div>
		</div> 
		{% if users_dictionaries.count %}
			{% for dictionary in users_dictionaries.all %}
			<div class=dictionary>
				<div class=dictionary_itself>
					<a href="{% url 'Bable:tob_users_dic' user_anon.username.username dictionary.the_dictionary_itself 0 %}"><h4>
						{{ dictionary.the_dictionary_itself }}
					</h4></a>
				</div>
				<div class=dictionarysponsors>
					{% if dictionary.max_sponsor %}
						<a href="{% url 'Bable:clickthrough' dictionary.author.username dictionary.max_sponsor.id %}">{% if dictionary.max_sponsor.img %}<img src="{{ dictionary.max_sponsor.img }}" style="height: 6em; width: 6em;">{% endif %}</a>
					{% else %}
						<img src="{% static 'babylonpolice.com.gif' %}" style="height: 6em; width: 6em;">
					{% endif %}
				</div>
				{% if request.user.username == user_anon.username.username %}
					<div class=dictionary-delete>
						<a href="{% url 'Bable:delete_own_dic' user_anon.username.username dictionary.the_dictionary_itself %}"><h4>X</h4></a>
					</div>
				{% endif %}
				<div class=dictionary_left>
					<div class=dictionary-top>
						<div class=dictionary_votes>
							Votes: {{ dictionary.votes.count }}
						</div>
						<div class=dictionary_uniques>
							Uniques: {{ dictionary.votes_uniques }}
						</div>
						<div class=dictionary_views>
							Views: {{ dictionary.views }}
						</div>
						<div class=dictionary_change>
							Changed: {{ dictionary.latest_change_date|naturaltime }}
						</div>
						<div class=dictionary_pub>
							Created: {{ dictionary.creation_date|naturaltime }}
						</div>
						<div class=dictionary_traded>
							Traded: {{ dictionary.traded_date|naturaltime }}
						</div>
					</div>
					<div class=dictionary-bottom>
						<div class=dictionary_words>
							Words: {{ dictionary.words.count }}
						</div>
						<div class=dictionary_translations>
							Translations: {{ dictionary.true_translations.count }}
						</div>
						<div class=dictionary_sentences>
							Sentences: {{ dictionary.sentences.count }}
						</div>
						<div class=dictionary_renditions>
							Renditions: {{ dictionary.renditions.count }}
						</div>
						<div class=dictionary_analyses>
							Analyses: {{ dictionary.analyses.count }}
						</div>
						<div class=dictionary_price>
							{% if dictionary.public %}
								<a href="{% url 'Bable:want_to_purchase_dic' dictionary.id 0 %}">Price: e{{ dictionary.entry_fee }} + c{{ dictionary.continuation_fee }}</a>
							{% else %}
								{% if dictionary.for_sale %}
									<a href="{% url 'Bable:want_to_purchase_dic' dictionary.id 0 %}">Price: e{{ dictionary.entry_fee }} + c{{ dictionary.continuation_fee }} (Invite Only)</a>
								{% else %}
									Price: Not For Sale
								{% endif %}
							{% endif %}
						</div>
						{% if dictionary.for_sale %}
						{% if loggedinauthor not in dictionary.allowed_to_view_authors %}
						<div class=buy>
							<a href="{% url 'Bable:delete_bought_dic' user_anon.username.username dictionary.the_dictionary_itself %}">Delete</a>
						</div>
						{% else %}
						<div class=buy>
							<a href="{% url 'Bable:buy_users_dic' user_anon.username.username dictionary.the_dictionary_itself %}">Buy</a>
						</div>
						{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		{% else %}
			<div class=dictionary>
				This user has no dictionary.
			</div>
		{% endif %}
	-->
	</div>
	<div class=usersexamples>
		<div class=sectiontitle>
			<a href="{% url 'Bable:tob_users_examples' user_anon.username.username 0 %}"><h3>Examples</h3></a> 
		</div>
		<!--
		<div class=exasectionsort>
			<div id=exasortnav>
				Sort: {{ loggedinanon.get_example_sort_display }}
			</div>
			<div class=dropdown-content-exa-sort>
				<div class=popular>
					<div class=freshest>
						<a href="{% url 'Bable:change_example_sort' 'freshest' %}">Freshest</a>
					</div>
					<div class=oldest>
						<a href="{% url 'Bable:change_example_sort' 'oldest' %}">Oldest</a>
					</div>
					<div class=precision>
						<a href="{% url 'Bable:change_example_sort' 'precision' %}">Precision</a>
					</div>
					<div class=votes>
						<a href="{% url 'Bable:change_example_sort' 'votes' %}">Votes</a>
					</div>
					<div class=unseen>
						<a href="{% url 'Bable:change_example_sort' 'unseen' %}">Unseen</a>
					</div>
					<div class=views>
						<a href="{% url 'Bable:change_example_sort' 'views' %}">Views</a>
					</div>
				</div>
			</div>	
		</div>
		<div class=viewexamples>
			{% if users_examples.count %}
				{% for exa in users_examples.all %}
					<div class=viewexample>
						<div id=exa{{exa.id}}>
							<div class=exaword style="margin-right: 8em;">
								{% for dic in exa.dics.all %}
								<a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself %}">
								Dic: {{ dic.the_dictionary_itself }}</a>
								{% endfor %}
								{% for word in exa.words.all %}
								<a href="{% url 'Bable:tob_users_dic_word_count' word.home_dictionary.author.username word.home_dictionary.the_dictionary_itself word.the_word_itself %}">
								Word: {{ word.the_word_itself }}</a>
								{% endfor %}
							</div>
							<div class=exaexa style="margin-right: 8em;">
								{{ exa.the_example_itself }}
							</div>
							<div class=exasponsors>
								{% if exa.max_sponsor %}
									<a href="{% url 'Bable:clickthrough' exa.author.username exa.max_sponsor.id %}">{% if exa.max_sponsor.img %}<img src="{{ exa.max_sponsor.img }}" style="height: 6em; width: 6em;">{% endif %}</a>
								{% else %}
									<img src="{% static 'babylonpolice.com.gif' %}" style="height: 6em; width: 6em;">
								{% endif %}
							</div>
							{% if request.user.username == user_anon.username.username %}
								{% if exa in user_anon.examples.all %}
								<div class=exasave>
									<a href="{% url 'Bable:save_own_exa' user_anon.username.username exa.id %}">unsave</a>
								</div>
								{% else %}
								<div class=exasave>
									<a href="{% url 'Bable:save_own_exa' user_anon.username.username exa.id %}">save</a>
								</div>
								{% endif %}
							{% endif %}
							<div class=exacha>
								Latest Change: {{ exa.latest_change_date }}
							</div>
							<div class=exaviews>
								Views: {{ exa.views }}
							</div>
							<div class=exacount>
								<a href="{% url 'Bable:votewvotestyle' 'exa' exa.id %}">
									Votes: {{ exa.votes.count }}
								</a>
							</div>
							<div class=exavotess>Votess:
								{% for vote in exa.votes.all %}
									{% if vote in loggedinanon.applied_votestyles.to_source %}
									<div class=exavote>
										<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_vote' vote.author.username vote.id %}">{{ vote.the_vote_itself }}</a>
									</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class=example>
					There are no examples for this user.
				</div>
			{% endif %}
		</div>
		-->
	</div>

	<div class=usersposts>
		<div class=sectiontitle>
			<a href="{% url 'Bable:tob_users_posts' user_anon.username.username 0 %}"><h3>
				Posts:
			</h3></a>
		</div>
		<div class=possectionsort>
			<form name=post_sort action="{% url 'Bable:change_post_sort_char' %}" method=post>
				{% csrf_token %}
				{{ post_sort_form }}
			</form>
			<script>
				var form = document.querySelector('form[name="post_sort"]');
				form.addEventListener('change', function() {
				    form.submit();
				});
			</script>
		</div>
		<div class=posts>
			{% if users_posts.count %}
				{% for post in users_posts.all %}
				<div class=post>
					<div class=posttop>
						<div class=postpreview>
							{% if post.img %}
								<a href="{{ post.url }}"><img src="{{ post.img }}" style="height: 6em; width: 6em;"></a>
							{% else %}
								<a href="{{ post.url }}"><img src="{% static 'babylonpolice.com.gif' %}" style="height: 6em; width: 6em;"></a>
							{% endif %}
						</div>
						<div class=posttitle>
							{% if post.author.username %}
							<a href="{% url 'Bable:tob_users_post' post.author.username post.id 0 %}"><h4>{{ post.title }}</h4></a>
							{% else %}
							<a href="{% url 'Bable:tob_post' post.id %}"><h4>{{ post.title }}</h4></a>
							{% endif %}
						</div>

						<div class=postsponsors style="position: absolute; right: 3em;">
					{% if post.max_sponsor %}
						<form action="{% url 'Bable:clickthrough' %}" method=POST>
							{% csrf_token %}
							<input type=hidden value="{{ post.author.username }}" readonly>
							<input type=hidden value="{{ post.max_sponsor.id }}" readonly>
							<button type=submit>
								<img src="{{ post.max_sponsor.img }}" style="height: 4em; width: 4em; float:right;">
							</button>
						</form> <!-- if no sponsor input default ad -->
					{% else %}
						<a href="https://www.babylonpolice.com/"><img src="{% static 'babylonpolice.com.gif' %}" style="height: 4em; width: 4em; float:right;"></a>
					{% endif %}
					</div>
						{% if post.author.username == user_anon.username.username %}
						<div class=postdel>
							<a href="{% url 'Bable:delete_own_post' post.author.username post.id %}">X</a>
						</div>
						{% endif %}
						
					</div>
					<div class=postbody style="margin-right: 0.5em">
						{{ post.body|usernames|spaces|urlize|truncatechars:144 }}
					</div>
					<div class=postwords>
						Words:
						{% for word in post.words.all %}
						<a href="{% url 'Bable:tob_users_dic_word_count' post.author.username word.home_dictionary.the_dictionary_itself word.the_word_itself 0 %}">
							{{ word.the_word_itself }}
						</a>
						{% endfor %}
					</div>
					<div class=postvotes>
						Votes:
						{% for vote in post.votes.all %}
						<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_vote' vote.author.username vote.id %}">{{ vote.the_vote_style.the_word_itself }}</a>
						{% endfor %}
					</div>
					<div class=postviews>
						Views: {{ post.viewcount }}
					</div>
					<div class=postlatest>
						Latest: {{ post.latest_change_date }}
					</div>
					<div class=postauthor>
						{% if post.author.username %}
						<a href="{% url 'Bable:tob_user_view_count' post.author.username 0 %}">/u/{{ post.author.username }}</a>
						{% else %}
						/u/anonymous
						{% endif %}
					</div>
				</div>
				{% endfor %}
			{% else %}
				<div class=post>
					This user has not marked their post.
				</div>
			{% endif %}
		</div>
	</div>
	<div class=users_votes>
		<div class=votes_heading>
			<a href="{% url 'Bable:tob_users_votes' user_anon.username.username 0 %}"><h3>Created Votestyles: {{ user_anon.created_votestyles.count }}</h3></a>
		</div>
		<div class=votes>
			{% if user_anon.created_votestyles.count %}
				{% for vote in user_anon.created_votestyles.all %}
				<div class=vote>
					<div class=votename>
						Name: {{ vote.the_vote_name }}; ID: {{ vote.id }}
					</div>
					{% if vote.author.username == request.user.username %}
					<div class=votedel>
						<a href="{% url 'Bable:delete_own_votestyle' vote.id %}">X</a>
					</div>
					{% endif %}
					<div class=votestyles>
						Spaces:
						{% for space in vote.the_vote_style.all %}
							<div class=votespace>
								<div class=spaceitself>
									<a href="{% url 'Bable:tob_users_dic_word_count' space.author.username space.dictionary.the_dictionary_itself space.the_space_itself.the_word_itself 0 %}">{{ space.the_space_itself.the_word_itself }}</a>
								</div>
								<div class=spaceauthor>
									<a href="{% url 'Bable:tob_user_view_count' space.author.username 0 %}">/u/{{space.author.username}}</a>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class=voteauthor>
						<a href="{% url 'Bable:tob_user_view_count' vote.author.username 0 %}">/u/{{ vote.author.username }}</a>
					</div>
					<div class=votevotes>
						Votes: {{ vote.votes }}
					</div>
					<div class=votesave>
						{% if vote in loggedinanon.saved_votes.all %}
						<a href="{% url 'Bable:tob_save_votestyle' vote.author.username vote.id %}">Save</a>
						{% else %}
						<a href="{% url 'Bable:tob_save_votestyle' vote.author.username vote.id %}">Unsave</a>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			{% else %}
				<div class=vote>
					This user has no created votestyles.
				</div>
			{% endif %}
		</div>
	</div>

	<div class=users_sponsors>
		<div class=sponsorsheading>
			<a href="{% url 'Bable:tob_users_sponsors' user_anon.username.username 0 %}"><h3>Sponsors</h3></a>
		</div>
		<!--
		<div class=sponsors>
			{% for spon in users_sponsors.all %}
				<div class=users_sponsor>
					<div class=the_sponsorship_phrase>
						Phrase: <a class=sponsorclick href="{% url 'Bable:clickthrough' spon.author.username spon.id %}" style="color: white;">{{ spon.the_sponsorship_phrase }}</a>
					</div>
					<div class=spon-id>
						ID: {{ spon.id }}
					</div>
					<div class=spon_latest>
						Latest: {{ spon.latest_change_date }}
					</div>
					<div class=spon_price_limit>
						Price: {{ spon.price_limit }}
					</div>
					<div class=spon_allowable>
						Allowable: {{ spon.allowable_expenditure }}
					</div>
					{% if spon.author.username == request.user.username %}
					<div class=spon-delete>
						<a href="{% url 'Bable:delete_own_spons' spon.id %}"><h4>X</h4></a>
					</div>
					{% endif %}
					{% if spon.img %}<img src='{{ spon.img }}' style="height: 6em; width: 6em;"/>{% endif %}
					<div class=spon_author>
						<a href="{% url 'Bable:tob_user_view_count' spon.author.username 0 %}">/u/{{ spon.author.username }}</a>
					</div>
					<div class=spon_votecount>
						<a href="{% url 'Bable:votewvotestyle' 'spon' spon.id %}">Votes: {{ spon.votes.count }}</a>
					</div>
					<div class=spon_votes>
						<a href=>Votes:</a> 
						{% for vote in spon.votes.all %}
							{% if vote in loggedinanon.applied_votestyles.to_source %}
							<div class=votess>
								<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_vote' vote.author.username vote.id %}">{{ vote.the_vote_itself }}</a>
							</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class=spon_price_limit>
						Views: {{ spon.allowable_expenditure }}
					</div>
				</div>
			{% endfor %}
		</div>
	-->
	</div>
{% endblock %}

{% block unauthenticated_posts %}
<style>
	label {
		display: block;
	}
	</style>
<div class=usersusername>
	<h2>
	<a href="{% url 'Bable:tob_user_view_count' user_anon.username.username 0 %}">User: {{ user_anon.username.username }}</a>
	</h2>
</div>
<div class=usersspaces>
	<div class=sectiontitle>
		<a href="{% url 'Bable:tob_users_spaces' user_anon.username.username 0 %}"><h3>Spaces:</h3></a>
	</div>
	<div class=spasectionsort>
		<div id=spasortnav>
			Sort: Need Login
		</div>
	</div>
	<div class=spaces>
	{% if users_spaces.count %} 
		{% for space in users_spaces.all %}
		<div class=space>
			<div class=space_itself>
				<h4><a href="{% url 'Bable:tob_users_space' space.author.username space.id 0 %}">{{ space.the_space_itself.the_word_itself }}</a></h4>
			</div>
			<div class=spacesponsors>
				{% if space.sponsors.count or space.max_sponsor %}
					<form action="{% url 'Bable:clickthrough' %}" method=POST>
							{% csrf_token %}
							<input type=hidden value="{{ space.author.username }}" readonly>
							<input type=hidden value="{{ space.max_sponsor.id }}" readonly>
							<button type=submit>
								<img src="{{ space.max_sponsor.img }}" style="height: 4em; width: 4em; float:right;">
							</button>
						</form>
				{% else %}
					<img src="{% static 'babylonpolice.com.gif' %}" style="z-index: 1; height: 6em; width: 6em;">
				{% endif %}
			</div>
			<div class=space_left>
				<div class=space_author>
					Author: <a href="{% url 'Bable:tob_user_view_count' space.author.username 0 %}">{{ space.author.username }}</a>
				</div>
				<div class=space_viewcount>
					Views: {{ space.viewcount }}
				</div>
				<div class=space_latest>
					Changed: {{ space.latest_change_date|naturaltime }}
				</div>
				<div class=space_posts>
					Posts: {{ space.posts.count }}
				</div>
				<div class=space_votes>
					Votes: {{ space.votes.count }}
				</div>
				<div class=space_sponsors>
					Sponsors: {{ space.sponsors.count }}
				</div>
				<div class=space_voters>
					Approved Voters: {{ space.approved_voters.count }}
				</div>
				<div class=space_intro>
					Intro: {{ space.sidebar|urlize }}
				</div>
				<div class=space_price>
					{% if space.public %}
						Price: se{{ space.entry_fee }} + sc{{ space.continuation_fee }}/mth + de{{ space.the_space_itself.dictionary.entry_fee }} + dc{{ space.the_space_itself.dictionary.continuation_fee }}/mth
					{% else %}
						{% if space.for_sale %}
							Price: se{{ space.entry_fee }} + sc{{ space.continuation_fee }}/mth + de{{ space.the_space_itself.dictionary.entry_fee }} + dc{{ space.the_space_itself.dictionary.continuation_fee }}/mth (invite only)
						{% else %}
							Not for sale.
						{% endif %}
					{% endif %}
				</div>
				<div class=space_source>
					<a href="{% url 'Bable:tob_users_dic' space.the_space_itself.home_dictionary.author.username space.the_space_itself.home_dictionary.the_dictionary_itself 0 %}">{{ space.the_space_itself.home_dictionary.the_dictionary_itself }}</a>
				</div>
				<div class=space_save onclick="showregister()" style="cursor: pointer;">
					<!-- if user isn't authenticated, open signup/login button -->
					Buy
				</div>
			</div>
		</div>
		{% endfor %}
	{% else %}
		<div class=space>
			This user has no space.
		</div>
	{% endif %}
	</div>
</div>
<div class=usersdictionaries>
	<div class=sectiontitle>
		<a href="{% url 'Bable:tob_users_dics' user_anon.username.username 0 %}"><h3>Users Dictionaries</h3></a>
	</div>
	<!--
	<div class=dicsectionsort>
		<div id=dicsortnav>
			Sort: Need Login
		</div>
	</div> 
	{% if users_dictionaries.count %}
		{% for dictionary in users_dictionaries.all %}
		<div class=dictionary>
			<div class=dictionary_itself>
				<a href="{% url 'Bable:tob_users_dic' user_anon.username.username dictionary.the_dictionary_itself 0 %}"><h4>
					{{ dictionary.the_dictionary_itself }}
				</h4></a>
			</div>
			<div class=dictionarysponsors>
				{% if dictionary.sponsors_count or dictionary.max_sponsor %}
					<a href="{% url 'Bable:clickthrough' dictionary.author.username dictionary.max_sponsor.id %}"><img src="{{ dictionary.max_sponsor.img }}" style="height: 6em; width: 6em;"></a>
				{% else %}
					<img src="{% static 'babylonpolice.com.gif' %}" style="height: 6em; width: 6em;">
				{% endif %}
			</div>
			<div class=dictionary_left>
				<div class=dictionary-top>
					<div class=dictionary_votes>
						Votes: {{ dictionary.votes.count }}
					</div>
					<div class=dictionary_uniques>
						Uniques: {{ dictionary.votes_uniques }}
					</div>
					<div class=dictionary_views>
						Views: {{ dictionary.views }}
					</div>
					<div class=dictionary_change>
						Changed: {{ dictionary.latest_change_date|naturaltime }}
					</div>
					<div class=dictionary_pub>
						Created: {{ dictionary.creation_date|naturaltime }}
					</div>
					<div class=dictionary_traded>
						Traded: {{ dictionary.traded_date|naturaltime }}
					</div>
				</div>
				<div class=dictionary-bottom>
					<div class=dictionary_words>
						Words: {{ dictionary.words.count }}
					</div>
					<div class=dictionary_translations>
						Translations: {{ dictionary.true_translations.count }}
					</div>
					<div class=dictionary_sentences>
						Sentences: {{ dictionary.sentences.count }}
					</div>
					<div class=dictionary_renditions>
						Renditions: {{ dictionary.renditions.count }}
					</div>
					<div class=dictionary_analyses>
						Analyses: {{ dictionary.analyses.count }}
					</div>
					<div class=dictionary_price>
						{% if dictionary.public %}
							<a href="{% url 'Bable:want_to_purchase_dic' dictionary.id 0 %}">Price: e{{ dictionary.entry_fee }} + c{{ dictionary.continuation_fee }}</a>
						{% else %}
							{% if dictionary.for_sale %}
								<a href="{% url 'Bable:want_to_purchase_dic' dictionary.id 0 %}">Price: e{{ dictionary.entry_fee }} + c{{ dictionary.continuation_fee }} (Invite Only)</a>
							{% else %}
								Price: Not For Sale
							{% endif %}
						{% endif %}
					</div>
					{% if dictionary.for_sale %}
					<div class=buy>
						<a href="{% url 'Bable:buy_users_dic' user_anon.username.username dictionary.the_dictionary_itself %}">Buy</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	{% else %}
		<div class=dictionary>
			This user has no dictionary.
		</div>
	{% endif %}
-->
</div>
<div class=usersexamples>
	<div class=sectiontitle>
		<a href="{% url 'Bable:tob_users_examples' user_anon.username.username 0 %}"><h3>Examples</h3></a> 
	</div>
	<!--
	<div class=exasectionsort>
		<div id=exasortnav>
			Sort: Need Login
		</div>
	</div>
	<div class=viewexamples>
		{% if users_examples.count %}
			{% for exa in users_examples.all %}
				<div class=viewexample>
					<div id=exa{{exa.id}}>
						<div class=exaword style="margin-right: 8em;">
							{% for dic in exa.dics.all %}
							<a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself %}">
							Dic: {{ dic.the_dictionary_itself }}</a>
							{% endfor %}
							{% for word in exa.words.all %}
							<a href="{% url 'Bable:tob_users_dic_word_count' word.home_dictionary.author.username word.home_dictionary.the_dictionary_itself word.the_word_itself %}">
							Word: {{ word.the_word_itself }}</a>
							{% endfor %}
						</div>
						<div class=exaexa style="margin-right: 8em;">
							{{ exa.the_example_itself }}
						</div>
						<div class=exasponsors>
							{% if exa.max_sponsor %}
								<a href="{% url 'Bable:clickthrough' exa.author.username exa.max_sponsor.id %}"><img src="{{ exa.max_sponsor.img }}" style="height: 6em; width: 6em;"></a>
							{% else %}
								<img src="{% static 'babylonpolice.com.gif' %}" style="height: 6em; width: 6em;">
							{% endif %}
						</div>
						<div class=exacha>
							Latest Change: {{ exa.latest_change_date }}
						</div>
						<div class=exaviews>
							Views: {{ exa.views }}
						</div>
						<div class=exacount>
							<a href="{% url 'Bable:votewvotestyle' 'exa' exa.id %}">
								Votes: {{ exa.votes.count }}
							</a>
						</div>
						<div class=exavotess>Votess:
							{% for vote in exa.votes.all|slice:"10" %}
								<div class=exavote>
									<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_vote' vote.author.username vote.id %}">{{ vote.the_vote_itself }}</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class=example>
				There are no examples for this user.
			</div>
		{% endif %}
	</div>
-->
</div>
<div class=usersposts>
	<div class=sectiontitle>
		<a href="{% url 'Bable:tob_users_posts' user_anon.username.username 0 %}"><h3>
			Posts:
		</h3></a>
	</div>
	<div class=possectionsort>
		<div id=possortnav>
			Sort: Need Login
		</div>
	</div>
	<div class=posts>
		{% if users_posts.count %}
			{% for post in users_posts.all %}
			<div class=post>
				<div class=posttop>
					<div class=posttitle>
						{% if post.author.username %}
							<a href="{% url 'Bable:tob_users_post' post.author.username post.id 0 %}"><h4>{{ post.title }}</h4></a>
							{% else %}
							<a href="{% url 'Bable:tob_post' post.id %}"><h4>{{ post.title }}</h4></a>
							{% endif %}
					</div>
					
				</div>
				<div class=postbody style="margin-right: 8em">
					{{ post.body|usernames|spaces|urlize|truncatechars:144 }}
				</div>
				<div class=postwords>
					Words:
					{% for word in post.words.all %}
					<a href="{% url 'Bable:tob_users_dic_word_count' post.author.username word.home_dictionary.the_dictionary_itself word.the_word_itself 0 %}">
						{{ word.the_word_itself }}
					</a>
					{% endfor %}
				</div>
				<div class=postvotes>
					Votes:
					{% for vote in post.votes.all|slice:"10" %}
					<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_vote' vote.author.username vote.id %}">{{ vote.the_vote_style.the_word_itself }}</a>
					{% endfor %}
				</div>
				<div class=postviews>
					Views: {{ post.viewcount }}
				</div>
				<div class=postlatest>
					Latest: {{ post.latest_change_date }}
				</div>
				<div class=postauthor>
					{% if post.author.username %}
					<a href="{% url 'Bable:tob_user_view_count' post.author.username 0 %}">/u/{{ post.author.username }}</a>
					{% else %}
					/u/anonymous
					{% endif %}
				</div>
			</div>
			{% endfor %}
		{% else %}
			<div class=post>
				This user has not marked their post.
			</div>
		{% endif %}
	</div>
</div>
<div class=users_sponsors>
	<div class=sponsorsheading>
		<a href="{% url 'Bable:tob_users_sponsor' user_anon.username.username 0 %}"><h3>Sponsors</h3></a>
	</div>
	<!--
	{% for spon in users_sponsors.all %}
		<div class=spaces_sponsor>
			<div class=the_sponsorship_phrase>
				Phrase: <a href="{% url 'Bable:clickthrough' spon.author.username spon.id %}">{{ spon.the_sponsorship_phrase }}</a>
			</div>
			<div class=spon-id>
				ID: {{ spon.id }}
			</div>
			<div class=spon_latest>
				Latest: {{ spon.latest_change_date }}
			</div>
			{% if spon.img %}<img src='{{ spon.img }}' style="height: 6em; width: 6em;"/>{% endif %}
			<div class=spon_price_limit>
				Price: {{ spon.price_limit }}
			</div>
			<div class=spon_allowable>
				Allowable: {{ spon.allowable_expenditure }}
			</div>
			<div class=spon_author>
				<a href="{% url 'Bable:tob_user_view_count' spon.author.username 0 %}">/u/{{ spon.author.username }}</a>
			</div>
			<div class=spon_votecount>
				<a href="{% url 'Bable:votewvotestyle' 'spon' spon.id %}">Votes: {{ spon.votes.count }}</a>
			</div>
			<div class=spon_price_limit>
				Views: {{ spon.allowable_expenditure }}
			</div>
		</div>
	{% endfor %}
-->
</div>

{% endblock %}


{% block scripts %}
	<script>
		function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function comCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}
	</script>
{% endblock %}