{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta property="og:description" content="Pronunciations - Dream Cloud Middle Men">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}

{% block title %}
Pronunciations - Dream Cloud Middle Men
{% endblock %}

{% block authenticatedposts %}
	<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view' user_anon.username.username 0 %}">
			User: {{ user_anon.username.username }}
		</a>
		</h2>
	</div>
	<div class=single_dictionary>
		<div class=dictionary_itself>
			<a href="{% url 'Bable:tob_users_dic' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h3>
				Dictionary: {{ users_dic.the_dictionary_itself }}; ID: {{ users_dic.id }}
			</h3></a>
		</div>
		{% if request.user.username == user_anon.username.username %}
			<div class=dictionary-delete>
				<a href="{% url 'Bable:delete_own_dic' user_anon.username.username users_dic.the_dictionary_itself %}"><h4>X</h4></a>
			</div>
		{% endif %}
		<div class=dictionary-top>
			<div class=dictionary_votes>
				Votes: {{ users_dic.votes.count }}
			</div>
			<div class=dictionary_uniques>
				Uniques: {{ users_dic.votes_uniques }}
			</div>
			<div class=dictionary_views>
				Views: {{ users_dic.views }}
			</div>
			<div class=dictionary_change>
				Changed: {{ users_dic.latest_change_date|naturaltime }}
			</div>
			<div class=dictionary_pub>
				Created: {{ users_dic.creation_date|naturaltime }}
			</div>
			<div class=dictionary_traded>
				Traded: {{ users_dic.traded_date|naturaltime }}
			</div>
		</div>
		<div class=dictionary-bottom>
			<div class=dictionary_words>
				Words: {{ users_dic.words.count }}
			</div>
			<div class=dictionary_translations>
				Translations: {{ users_dic.true_translations.count }}
			</div>
			<div class=dictionary_sentences>
				Sentences: {{ users_dic.sentences.count }}
			</div>
			<div class=dictionary_renditions>
				Renditions: {{ users_dic.renditions.count }}
			</div>
			<div class=dictionary_analyses>
				Analyses: {{ users_dic.analyses.count }}
			</div>
			<div class=dictionary_price>
				{% if users_dic.public %}
				Price: {{ users_dic.entry_fee }}
				{% else %}
					{% if users_dic.for_sale %}
					Price: {{ users_dic.entry_fee }} (Invite Only)
					{% else %}
					Price: Not For Sale
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	<div class=single_dictionarys_words>
		<div class=dics_word_section>
			<div class=sectiontitle>
				<a href="{% url 'Bable:tob_users_dic_words' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h4>Dic's wordentries:</h4></a>
			</div>
			<div class=wordsectionsort>
				<div class=wordsortnav>
					Sort: {{ user_anon.get_word_sort_display }}
				</div>
				<div class=dropdown-content-word-sort>
					<div class=popular>
						<div class=alphabetical>
							<a href="{% url 'Bable:change_word_sort' 'alphabetical' %}">Alphabetical</a>
						</div>
						<div class=latest>
							<a href="{% url 'Bable:change_word_sort' 'latest' %}">Latest</a>
						</div>
						<div class=eldest>
							<a href="{% url 'Bable:change_word_sort' 'eldest' %}">Eldest</a>
						</div>
						<div class=pronunciations>
							<a href="{% url 'Bable:change_word_sort' 'pronunciations' %}">Pronunciations</a>
						</div>
						<div class=attributes>
							<a href="{% url 'Bable:change_word_sort' 'attributes' %}">Attributes</a>
						</div>
						<div class=similarities>
							<a href="{% url 'Bable:change_word_sort' 'similarities' %}">Similarities</a>
						</div>
					</div>
					<div class=stats>
						<div class=translations>
							<a href="{% url 'Bable:change_word_sort' 'translations' %}">Translations</a>
						</div>
						<div class=examples>
							<a href="{% url 'Bable:change_word_sort' 'examples' %}">Examples</a>
						</div>
						<div class=relations>
							<a href="{% url 'Bable:change_word_sort' 'relations' %}">Relations</a>
						</div>
						<div class=sponsor>
							<a href="{% url 'Bable:change_word_sort' 'sponsor' %}">Sponsor</a>
						</div>
						<div class=viewcount>
							<a href="{% url 'Bable:change_word_sort' 'viewcount' %}">Viewcount</a>
						</div>
						<div class=unseen>
							<a href="{% url 'Bable:change_word_sort' '-viewcount' %}">Unseen</a>
						</div>
					</div>
					<div class=flair>
						<div class=costly>
							<a href="{% url 'Bable:change_word_sort' 'price' %}">Costly</a>
						</div>
						<div class=cheapest>
							<a href="{% url 'Bable:change_word_sort' '-price' %}">Cheapest</a>
						</div>
						<div class=spaces>
							<a href="{% url 'Bable:change_word_sort' 'spaces' %}">Spaces</a>
						</div>
						<div class=stories>
							<a href="{% url 'Bable:change_word_sort' 'stories' %}">Stories</a>
						</div>
						<div class=voters>
							<a href="{% url 'Bable:change_word_sort' 'voters' %}">Voters</a>
						</div>
						<div class=voteless>
							<a href="{% url 'Bable:change_word_sort' '-voters' %}">Voteless</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{% if users_dic.public or user_anon.username.username == request.user.username or loggedinauthor in users_dic.purchasers %}
			<div class=word>
				<div class=worditself>
					<a href="{% url 'Bable:tob_users_dic_word_count' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}"><h4>{{ dics_word.the_word_itself }}</h4></a>
				</div>
				<div class=wordpronunciation>
					<div class=pronunciationtitle>
						<a href="{% url 'Bable:tob_users_dic_word_pronunciations' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Pronunciations: {{ dics_word.pronunciation.count }}</a>
					</div>
					<div class=pronunciations>
						{% if dics_word.pronunciations.all %}
							{% for pron in dics_word.pronunciations.all %}
								<div class=pronunciation>
									<div id=collapse onclick="pronCollapse('{{pron.id}}')">
										-:
									</div>
									<div id={{pron.id}}>
										<div class=pronpron>
											<a href="{% url 'Bable:tob_users_dic_word_pronunciations' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself pron.id %}">
											Pronunciation: {{ pron.the_IPA_itself }}</a>
										</div>
										{% if user_anon.username.username == request.user.username %}
											<div class=prondel>
												<a href="{% url 'Bable:delete_own_pron' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself pron.id %}"><h4>X</h4></a>
											</div>
										{% endif %}
										<div class=pronhom>
											Homophones: {{ pron.homophones }}<!-- Needs url for word in words.-->
										</div>
										<div class=pronchange>
											Latest Change; {{ pron.latest_change_date }}
										</div>
										<div class=pronvotes>
											{% for vote in pron.votes.all %}
												{% if vote in loggedinanon.applied_votestyles.to_source %}
													<div class=attdefvotess>
														<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
													</div>
												{% endif %}
											{% endfor %}
										</div>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
					{% if user_anon.username.username == request.user.username %}
						<div class=pronunciationformopen onclick="openPronunciation()">
							{% if pronunciation_inst == 0 %}
								+ Add New
							{% else %}
								Edit / <a class=leave href="{% url 'Bable:tob_users_dic_word_pronunciations' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Add New</a>
							{% endif %}
						</div>
						<form action="{% url 'Bable:tob_users_dic_word_pronunciations' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself pronunciation_inst %}" method=post>
							<div id=pronunciationform>
								{% csrf_token %}
								{{ words_pronunciation_form }}
								<button type=submit>what've I got to lose?</button>
							</div>
						</form>
					{% endif %}
					
			</div>
		{% else %}
			<div class=word>
				This Anon's Dic is not public.
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block unauthenticated_posts %}
<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view' user_anon.username.username %}">
			User: {{ user_anon.username.username }}
		</a>
		</h2>
	</div>
	<div class=single_dictionary>
		<div class=dictionary_itself>
			<a href="{% url 'Bable:tob_users_dic' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h4>
				Dictionary: {{ users_dic.the_dictionary_itself }}; ID: {{ users_dic.id }}
			</h4></a>
		</div>
		<div class=dictionary-top>
			<div class=dictionary_votes>
				Votes: {{ users_dic.votes.count }}
			</div>
			<div class=dictionary_uniques>
				Uniques: {{ users_dic.votes_uniques }}
			</div>
			<div class=dictionary_views>
				Views: {{ users_dic.views }}
			</div>
			<div class=dictionary_change>
				Changed: {{ users_dic.latest_change_date|naturaltime }}
			</div>
			<div class=dictionary_pub>
				Created: {{ users_dic.creation_date|naturaltime }}
			</div>
			<div class=dictionary_traded>
				Traded: {{ users_dic.traded_date|naturaltime }}
			</div>
		</div>
		<div class=dictionary-bottom>
			<div class=dictionary_words>
				Words: {{ users_dic.words.count }}
			</div>
			<div class=dictionary_translations>
				Translations: {{ users_dic.true_translations.count }}
			</div>
			<div class=dictionary_sentences>
				Sentences: {{ users_dic.sentences.count }}
			</div>
			<div class=dictionary_renditions>
				Renditions: {{ users_dic.renditions.count }}
			</div>
			<div class=dictionary_analyses>
				Analyses: {{ users_dic.analyses.count }}
			</div>
			<div class=dictionary_price>
				{% if users_dic.public %}
				Price: {{ users_dic.entry_fee }}
				{% else %}
					{% if users_dic.for_sale %}
					Price: {{ users_dic.entry_fee }} (Invite Only)
					{% else %}
					Price: Not For Sale
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
{% if users_dic.public %}
	<div class=word>
		<div class=worditself>
			<a href="{% url 'Bable:tob_users_dic_word_count' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}"><h4>{{ dics_word.the_word_itself }}</h4></a>
		</div>
		<div class=wordpronunciation>
			<div class=pronunciationtitle>
				<a href="{% url 'Bable:tob_users_dic_word_pronunciations' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Pronunciations: {{ dics_word.pronunciation.count }}</a>
			</div>
			<div class=pronunciations>
				{% if dics_word.pronunciations.all %}
					{% for pron in dics_word.pronunciations.all %}
						<div class=pronunciation>
							<div id=collapse onclick="pronCollapse('{{pron.id}}')">
								-:
							</div>
							<div id={{pron.id}}>
								<div class=pronpron>
									<a href="{% url 'Bable:tob_users_dic_word_pronunciations' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself pron.id %}">
									Pronunciation: {{ pron.the_IPA_itself }}</a>
								</div>
								<div class=pronhom>
									Homophones: {{ pron.homophones }}<!-- Needs url for word in words.-->
								</div>
								<div class=pronchange>
									Latest Change; {{ pron.latest_change_date }}
								</div>
								
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% else %}
	<div class=word>
		This Anon's Dic is not public.
	</div>
{% endif %}
{% endblock %}

{% block scripts %}
	<script>
		function openPronunciation() {
			var element = document.getElementById("pronunciationform");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}
		function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function openCommentThread(starter, com) {
			var element = document.getElementById(starter).getElementById(com);
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function comCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function pronCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}
	</script>
{% endblock %}