{% extends 'base.html' %}
{% load user_referencing %}
{% load vote_screen %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}

{% block title %}
User: {{ user_anon.username.username }}, Space: {{ users_space.the_space_itself.the_word_itself }}
{% endblock %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta name="description" content="User: {{ user_anon.username.username }}, Space: {{ users_space.the_space_itself.the_word_itself }}">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
<script>
	document.addEventListener("DOMContentLoaded", function() {
	elements = document.getElementsByClassName("csrf");
	for (var i=0;  i< elements.length; i++) {
		elements[i].name = "csrfmiddlewaretoken";
		elements[i].type = "hidden";
		elements[i].value = "{{ csrf_token }}";
	};})
</script>
{% endblock %}


{% block authenticatedposts %}
	<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view_count' user_anon.username.username 0 %}">User: {{ user_anon.username.username }}</a>; <a href="{% url 'Bable:tob_users_spaces' user_anon.username.username 0 %}">Space: {{ users_space.the_space_itself.the_word_itself }}</a>
		</h2>
		{% if users_space.author.username == request.user.id %}
		<div class=space_edit>
			<form action="{% url 'Bable:users_space_edit' users_space.id %}" method=post>
				{% csrf_token %}
				{{ space_edit_form }}
				<button type=submit>Apply</button>
			</form>
		</div>
		<div class=space_delete>
			<a href="{% url 'Bable:delete_own_spac' request.user.id users_space.to_source.dictionary.the_dictionary_itself users_space.the_space_itself.the_word_itself users_space.id %}">X</a>
		</div>
		{% endif %}
		<div class=space_sponsor>
			<form action="{% url 'Bable:tob_users_spaces_sponsor' users_space.author.username users_space.id 0 %}" method=post>
				{% csrf_token %}
				{{ sponsor_form }}
				<button type=submit>Sponsor</button>
			</form>
		</div>
	</div>
	<div class=spacessponsors>
		<div class=spaces_sponsors>
			<div class=sponsorsheading>
				Sponsors {{ spaces_sponsors.count }}
			</div>
			{% for spon in users_space.sponsors.all %}
				<div class=spaces_sponsor>
					<div class=the_sponsorship_phrase>
						Phrase: <form action="{% url 'Bable:clickthrough' %}" method=POST>
							{% csrf_token %}
							<input type=hidden value="{{ spon.author.username }}" readonly>
							<input type=hidden value="{{ spon.id }}" readonly>
							<button type=submit>
								{{ spon.the_sponsorship_phrase }}
							</button>
						</form>
					</div>
					<div class=spon-id>
						ID: {{ spon.id }}
					</div>
					<div class=spon_latest>
						Latest: {{ spon.latest_change_date }}
					</div>
					{% if spon.author.username == request.user.id %}
					<div class=spon-delete>
						<a href="{% url 'Bable:delete_own_spons' spon.id %}"><h4>X</h4></a>
					</div>
					{% endif %}
					{% if spon.img %}<img src='{{ spon.img }}' style="height: 6em; width: 6em;"/>{% endif %}
					<div class=spon_price_limit>
						Price: {{ spon.price_limit }}
					</div>
					<div class=spon_allowable>
						Allowable: {{ spon.allowable_expenditure }}
					</div>
					<div class=spon_author>
						<a href="{% url 'Bable:tob_user_view_count' spon.author.username 0 %}">/u/{{ spon.author.username }}</a>
					</div>
					<div class=spon_votecount>
						<a href="{% url 'Bable:votewvotestyle' 'spon' spon.id %}">Votes: {{ spon.votes.count }}</a>
					</div>
					<div class=spon_votes>
						<a href=>Votes:</a> 
						{% for vote in spon.votes.all %}
							{% if vote in loggedinanon.applied_votestyles.to_source %}
							<div class=votess>
								<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
							</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class=spon_price_limit>
						Views: {{ spon.allowable_expenditure }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class=spacesposts>
		<div class=sectiontitle>
			<a href="{% url 'Bable:tob_users_space' user_anon.username.username users_space.id 0 %}"><h3>Posts:</h3></a>
		</div>
		<div class=possectionsort>
			<form name=post_sort action="{% url 'Bable:change_post_sort_char' %}" method=post>
				{% csrf_token %}
				{{ post_sort_form }}
			</form>
			<script>
				var form = document.querySelector('form[name="post_sort"]');
				form.addEventListener('change', function() {
				    form.submit();
				});
			</script>
		</div>
		
		<div class=posts>
		{% if space_viewable %} 
			{% for post in spaces_posts %}
			<div class=post>
				<div class=posttop>
					<div class=postpreview>
						{% if post.url2 %}
							<a href="{{ post.url2 }}"><img src="{% static 'babylonpolice.com.gif' %}" style="height: 6em; width: 6em;"></a>
						{% else %}
							<img src="{% static 'babylonpolice.com.gif' %}" style="height: 6em; width: 6em;">
						{% endif %}
					</div><div class=posttitle>
						<a href="{% url 'Bable:tob_users_spaces_post' post.author.username users_space.id post.id %}"><h4>{{ post.title }}</h4></a>
					</div>
					{% if post.author.username == user_anon.username.username %}
					<div class=postdel>
						<a href="{% url 'Bable:delete_own_post' post.author.username post.id %}">X</a>
					</div>
					{% endif %}
					<div class=postsponsors style="position: absolute; right: 3em;">
					{% if post.max_sponsor %}
						<form action="{% url 'Bable:clickthrough' %}" method=POST>
							{% csrf_token %}
							<input type=hidden value="{{ post.author.username }}" readonly>
							<input type=hidden value="{{ post.max_sponsor.id }}" readonly>
							<button type=submit>
								<img src="{{ post.max_sponsor.img }}" style="height: 4em; width: 4em; float:right;">
							</button>
						</form> <!-- if no sponsor input default ad -->
					{% else %}
						<a href="https://www.babylonpolice.com/"><img src="{% static 'babylonpolice.com.gif' %}" style="height: 4em; width: 4em; float:right;"></a>
					{% endif %}
					</div>
				
				</div>
				<div class=postbody>
					<a href="{% url 'Bable:tob_users_spaces_post_count' user_anon.username.username users_space.the_space_itself.the_word_itself post.id 0 %}">{{ post.body|truncatechars:144|usernames|spaces|urlize }}</a>
				</div>
				<div class=postauthor>
					<a href="{% url 'Bable:tob_user_view_count' post.author.username 0 %}">/u/{{ post.author.username }}</a>
				</div>
				<div class=postwords>
					{% for word in post.words.all|slice:"10" %}
					<a href="{% url 'Bable:tob_users_dic_word_count' post.author.username word.home_dictionary.the_dictionary_itself word.the_word_itself 0 %}">
						{{ word.the_word_itself }}
					</a>
					{% endfor %}
				</div>
				<div class=postvotes>
					{% for vote in post.votes.all %}
					{{ vote.votes }} {{ vote.the_vote_style.the_word_itself }}
					{% endfor %}
				</div>
				<div class=postviews>
					Views: {{ post.viewcount }}
				</div>
				<div class=postlatest>
					Latest: {{ post.latest_change_date }}
				</div>
				<div class=postauthor>
					<a href="{% url 'Bable:tob_user_view_count' post.author.username ">/u/{{ post.author.username }}</a>
				</div>
				
			</div>
			{% endfor %}
			<div class=storefronts>
				<h4>Storefronts</h4>
				{% for storefront in users_space.storefronts.all %}
					<div class=storefront>
						<a href="{% url 'Bable:storefront' users_space.author.username storefront.logo.home_dictionary.dictionary_id storefront.title %}">{{ storefront.title }}</a>{{ storefront.logo|dics_word:users_dic }}
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class=post>
				This user either has not marked their post, or you can't smell what's under your nose, iykwim.
			</div>
		{% endif %}
		</div>
	</div>
{% endblock %}

{% block unauthenticated_posts %}
<div class=usersusername>
	<h2>
	<a href="{% url 'Bable:tob_user_view_count' user_anon.username.username 0 %}">User: {{ user_anon.username.username }}</a>
	</h2>
</div>
<div class=usersspaces>
	<div class=sectiontitle>
		<a href="{% url 'Bable:tob_users_spaces' user_anon.username.username 0 %}"><h3>Spaces:</h3></a>
	</div>
	<div class="spaces">
	{% if users_spaces %} 
		{% for space in users_spaces %}
		<div class="space">
			{{ space.the_space_itself.the_word_itself }}
		</div>
		{% endfor %}
	{% else %}
		<div class="space">
			This user has no space.
		</div>
	{% endif %}
	</div>
</div>

{% endblock %}
