<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta name="description" content="BabylonPolice - View Spaces {{ count }}">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}

{% block title %}
Spaces {{ count }} - Babylon Police
{% endblock %}

{% block authenticatedposts %}

<div class=sectiontitle>
	<a href="{% url 'Bable:tob_view_spaces' %}"><h3>Spaces:</h3></a>
</div>
<div class=spasectionsort>
	<div class=possectionsort>
	<form name=space_sort action="{% url 'Bable:change_space_sort_char' %}" method=post>
		{% csrf_token %}
		{{ space_sort_form }}
	</form>
	<script>
		var form = document.querySelector('form[name="space_sort"]');
		form.addEventListener('change', function() {
		    form.submit();
		});
	</script>
</div>
</div>
<div class=spaces>
	{% if spaces %} 
		{% for space in spaces %}
			{% if space in loggedinanon.purchased_spaces or space.public %}
			<div class=space>
				<div class=space_itself>
					<a href="{% url 'Bable:tob_users_space' space.author.username space.id 0 %}">{{ space.the_space_itself.the_word_itself }}</a>
				</div>
				<div class=space_author style="padding-left: 2px; border-left: solid 1px;">
					Author: <a href="{% url 'Bable:tob_user_view_count' space.author.username 0 %}">{{ space.author.username }}</a>
				</div>
				<div class=space_viewcount style="padding-left: 2px; border-left: solid 1px;">
					Views: {{ space.viewcount }}
				</div>
				<div class=space_latest style="padding-left: 2px; border-left: solid 1px;">
					Changed: {{ space.latest_change_date|naturaltime }}
				</div>
				<div class=space_posts style="padding-left: 2px; border-left: solid 1px;">
					Posts: {{ space.posts.count }}
				</div>
				<div class=space_votes style="padding-left: 2px; border-left: solid 1px;">
					Votes: {{ space.votes.count }}
				</div>
				<div class=space_sponsors style="padding-left: 2px; border-left: solid 1px;">
					Sponsors: {{ space.sponsors.count }}
				</div>
				<div class=space_voters style="padding-left: 2px; border-left: solid 1px;">
					Approved Voters: {{ space.latest_change_date|naturaltime }}
				</div>
				<div class=space_intro style="padding-left: 2px; border-left: solid 1px;">
					Intro: {{ space.sidebar|urlize }}
				</div>
				<div class=space_price style="padding-left: 2px; border-left: solid 1px;">
					{% if space.for_sale %}
					Price: {{ space.entry_fee }} Entry Fee + {{ space.continuation_fee }} Subscription Fee + {{ space.the_space_itself.home_dictionary.entry_fee }}  Dictionary Entry Fee + {{ space.the_space_itself.home_dictionary.continuation_fee }} Dictionary Subscription Fee
					{% else %}
					Not for sale
					{% endif %}
				</div>
				<div class=space_source style="padding-left: 2px; border-left: solid 1px;">
					<a href="{% url 'Bable:tob_users_dic' space.the_space_itself.home_dictionary.author.username space.the_space_itself.home_dictionary.the_dictionary_itself 0 %}">{{ space.the_space_itself.dictionary.the_dictionary_itself }}</a>
				</div>
				<div class=space_save style="padding-left: 2px; border-left: solid 1px;">
					{% if space in loggedinanon.purchased_spaces %}
					<a style="background-color: grey;" href="{% url 'Bable:tob_remove_space' space.author.username space.the_space_itself.the_word_itself %}">Remove</a>
					{% else %}
					<a style="background-color: grey;" href="{% url 'Bable:tob_buy_space' space.author.username space.the_space_itself.the_word_itself %}">Buy</a>
					{% endif %}
					{% if space in loggedinanon.saved_spaces %}
					<a style="background-color: grey;" href="{% url 'Bable:tob_unsave_space' space.author.username space.the_space_itself.the_word_itself %}">Unsave</a>
					{% else %}
					<a style="background-color: grey;" href="{% url 'Bable:tob_save_space' space.author.username space.the_space_itself.the_word_itself %}">Save</a>
					{% endif %}
				</div>
			</div>
			{% endif %}
		{% endfor %}
	{% else %}
	<div class=space>
		No spaces available
	</div>
	{% endif %}
</div>
<div class=pageno>
	<a href="{% url 'Bable:tob_view_spaces_count' mcount %}"><</a>{{ count }}:{{ count100 }}<a href="{% url 'Bable:tob_view_spaces_count' count100 %}">></a>
</div>


{% endblock %}


{% block unauthenticated_posts %}
<div class=displaybanner>
	<h3>
		Spaces:
	</h3>
</div>
<div class=spaces>
	{% if spaces.count %}
		{% for space in spaces.all %}
		<div class=space style="margin-bottom: 2px; border-bottom: 1px;">
			<div class=postauthor>
				<a href="{% url 'Bable:tob_space_view' space.id %}">{{ space.the_space_itself.the_word_itself }}</a>
			</div>
			<div class=purchasesd_dictionaries style="margin-left:2px; border-left: 1px;">
				Latest Change: {{ space.latest_change_date }}
			</div>
			<div class=author style="margin-left:2px; border-left: 1px;">
				Author: <a href="{% url 'Bable:tob_user_view_count' space.author.username 0 %}">/u/{{ space.author.username }}</a>
			</div>
			<div class=posts style="margin-left:2px; border-left: 1px;">
				Posts: {{ space.posts.count }}
			</div>
			<div class=votes style="margin-left:2px; border-left: 1px;">
				Votes: {{ space.votes.count }}
			</div>
			<div class=approved_voters style="margin-left:2px; border-left: 1px;">
				Approved Voters: {{ space.approved_voters.count }}
			</div>
		</div>
		{% endfor %}
	{% else %}
		<div class=space>
			There are no spaces.
		</div>
	{% endif %}
</div>
<div class=pageno>
	<a href="{% url 'Bable:tob_view_spaces_count' mcount %}"><</a>{{ count }}:{{ count100 }}<a href="{% url 'Bable:tob_view_spaces_count' count100 %}">></a>
</div>

{% endblock %}

{% block scripts %}
	<script>
		
		function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function openCommentThread(starter, com) {
			var element = document.getElementById(starter).getElementById(com);
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function comCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		/* Needs to be step-counted for the DAHS of each Attribute
		function wordsAttributesAddMore() {
				var form_idx = $('#id_wa-TOTAL_FORMS').value;
				var copy = $('#waef').html().replace(/__prefix__/g, form_idx);
				$('#wafs').append(copy);
				$('#id_wa-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}
		*/
		$(document).on('click', 'button.Delete', function() {
			var target = '#id_' + $(this).val() + '-DELETE';
			$(target).prop('checked', true);
			$(this).closest('tr').hide();
		});
	</script>
{% endblock %}