<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}

{% block title %}
BabylonPolice - View Emails {{ count }}
{% endblock %}



{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta name="description" content="BabylonPolice - View Users {{ count }}">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}

{% block authenticatedposts %}

<div class=displaybanner>
<div class=users>
	{% for user in all_anons %}
	<div class=user style="margin-bottom: 2px; border-bottom: 1px; border-color: black;">
		<div class=postauthor>
			<a href="{% url 'Bable:tob_user_view_count' user.username 0 %}">/u/{{ user.username }}</a>
		</div>
		<div class=purchasesd_spaces style="margin-left:2px; border-left: 1px; border-color: black;">
			Email: {{ user.email }}
		</div>
		<div class=purchasesd_spaces style="margin-left:2px; border-left: 1px; border-color: black;">
			ID: {{ user.id }}
		</div>
	</div>
	{% endfor %}
<div class=pageno>
	<a href="{% url 'Bable:tob_email' 3456789 mcount %}"><</a>{{ count }}:{{ count100 }}<a href="{% url 'Bable:tob_email' 3456789 count100 %}">></a>
</div>

{% endblock %}


{% block unauthenticated_posts %}
<div class=users>
{% for user in all_anons %}
	<div class=user style="margin-bottom: 2px; border-bottom: 1px; border-color: black;">
		<div class=postauthor>
			<a href="{% url 'Bable:tob_user_view_count' user.username 0 %}">/u/{{ user.username }}</a>
		</div>
		<div class=purchasesd_spaces style="margin-left:2px; border-left: 1px; border-color: black;">
			Email: {{ user.email }}
		</div>
		<div class=purchasesd_spaces style="margin-left:2px; border-left: 1px; border-color: black;">
			ID: {{ user.id }}
	</div>
{% endfor %}
</div>
<div class=pageno>
	<a href="{% url 'Bable:tob_view_users_count' mcount %}"><</a>{{ count }}:{{ count100 }}<a href="{% url 'Bable:tob_view_users_count' count100 %}">></a>
</div>
{% endblock %}

{% block scripts %}
	<script>
		
		function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function openCommentThread(starter, com) {
			var element = document.getElementById(starter).getElementById(com);
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function comCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		/* Needs to be step-counted for the DAHS of each Attribute
		function wordsAttributesAddMore() {
				var form_idx = $('#id_wa-TOTAL_FORMS').value;
				var copy = $('#waef').html().replace(/__prefix__/g, form_idx);
				$('#wafs').append(copy);
				$('#id_wa-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}
		*/
		$(document).on('click', 'button.Delete', function() {
			var target = '#id_' + $(this).val() + '-DELETE';
			$(target).prop('checked', true);
			$(this).closest('tr').hide();
		});
	</script>
{% endblock %}