{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta property="og:description" content="Word ({{ word.id }}): {{ word.the_word_itself }}'s Stories - Dream Cloud Middle Men">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}


{% block title %}
Word ({{ word.id }}): {{ word.the_word_itself }}'s Stories - Dream Cloud Middle Men
{% endblock %}


{% block authenticatedposts %}
	<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view' user_anon.username.username 0 %}">
			User: {{ user_anon.username.username }}
		</a>
		</h2>
	</div>
	<div class=single_dictionary>
		<div class=dictionary_itself>
			<a href="{% url 'Bable:tob_users_dic' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h3>
				Dictionary: {{ users_dic.the_dictionary_itself }}
			</h3></a>
		</div>
		{% if request.user.username == user_anon.username.username %}
			<div class=dictionary-delete>
				<a href="{% url 'Bable:delete_own_dic' user_anon.username.username users_dic.the_dictionary_itself %}"><h4>X</h4></a>
			</div>
		{% endif %}
		<div class=dictionary-top>
			<div class=dictionary_votes>
				Votes: {{ users_dic.votes.count }}
			</div>
			<div class=dictionary_uniques>
				Uniques: {{ users_dic.votes_uniques }}
			</div>
			<div class=dictionary_views>
				Views: {{ users_dic.views }}
			</div>
			<div class=dictionary_change>
				Changed: {{ users_dic.latest_change_date|naturaltime }}
			</div>
			<div class=dictionary_pub>
				Created: {{ users_dic.creation_date|naturaltime }}
			</div>
			<div class=dictionary_traded>
				Traded: {{ users_dic.traded_date|naturaltime }}
			</div>
		</div>
		<div class=dictionary-bottom>
			<div class=dictionary_words>
				Words: {{ users_dic.words.count }}
			</div>
			<div class=dictionary_translations>
				Translations: {{ users_dic.true_translations.count }}
			</div>
			<div class=dictionary_sentences>
				Sentences: {{ users_dic.sentences.count }}
			</div>
			<div class=dictionary_renditions>
				Renditions: {{ users_dic.renditions.count }}
			</div>
			<div class=dictionary_analyses>
				Analyses: {{ users_dic.analyses.count }}
			</div>
			<div class=dictionary_price>
				{% if users_dic.public %}
				Price: {{ users_dic.entry_fee }}
				{% else %}
					{% if users_dic.for_sale %}
					Price: {{ users_dic.entry_fee }} (Invite Only)
					{% else %}
					Price: Not For Sale
					{% endif %}
				{% endif %}
			</div>
			{% if users_dic.for_sale %}
			<form action="{% url 'Bable:submit_buy_dic_form' users_dic.id %}" method=post>
				{% csrf_token %}
				<button type=submit>Buy</button>
			</form>
			{% endif %}
		</div>
	</div>
	<div class=single_dictionarys_words>
		<div class=dics_word_section>
			<div class=sectiontitle>
				<a href="{% url 'Bable:tob_users_dic_words' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h4>Dic's wordentries:</h4></a>
			</div>
			<div class=wordsectionsort>
				<div class=wordsortnav>
					Sort: {{ user_anon.get_word_sort_display }}
				</div>
				<div class=dropdown-content-word-sort>
					<div class=popular>
						<div class=alphabetical>
							<a href="{% url 'Bable:change_word_sort' 'alphabetical' %}">Alphabetical</a>
						</div>
						<div class=latest>
							<a href="{% url 'Bable:change_word_sort' 'latest' %}">Latest</a>
						</div>
						<div class=eldest>
							<a href="{% url 'Bable:change_word_sort' 'eldest' %}">Eldest</a>
						</div>
						<div class=pronunciations>
							<a href="{% url 'Bable:change_word_sort' 'pronunciations' %}">Pronunciations</a>
						</div>
						<div class=attributes>
							<a href="{% url 'Bable:change_word_sort' 'attributes' %}">Attributes</a>
						</div>
						<div class=similarities>
							<a href="{% url 'Bable:change_word_sort' 'similarities' %}">Similarities</a>
						</div>
					</div>
					<div class=stats>
						<div class=translations>
							<a href="{% url 'Bable:change_word_sort' 'translations' %}">Translations</a>
						</div>
						<div class=examples>
							<a href="{% url 'Bable:change_word_sort' 'examples' %}">Examples</a>
						</div>
						<div class=relations>
							<a href="{% url 'Bable:change_word_sort' 'relations' %}">Relations</a>
						</div>
						<div class=sponsor>
							<a href="{% url 'Bable:change_word_sort' 'sponsor' %}">Sponsor</a>
						</div>
						<div class=viewcount>
							<a href="{% url 'Bable:change_word_sort' 'viewcount' %}">Viewcount</a>
						</div>
						<div class=unseen>
							<a href="{% url 'Bable:change_word_sort' '-viewcount' %}">Unseen</a>
						</div>
					</div>
					<div class=flair>
						<div class=costly>
							<a href="{% url 'Bable:change_word_sort' 'price' %}">Costly</a>
						</div>
						<div class=cheapest>
							<a href="{% url 'Bable:change_word_sort' '-price' %}">Cheapest</a>
						</div>
						<div class=spaces>
							<a href="{% url 'Bable:change_word_sort' 'spaces' %}">Spaces</a>
						</div>
						<div class=stories>
							<a href="{% url 'Bable:change_word_sort' 'stories' %}">Stories</a>
						</div>
						<div class=voters>
							<a href="{% url 'Bable:change_word_sort' 'voters' %}">Voters</a>
						</div>
						<div class=voteless>
							<a href="{% url 'Bable:change_word_sort' '-voters' %}">Voteless</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{% if users_dic.public or user_anon.username.username == request.user.username %}
			<div class=word>
				<div class=worditself>
					<a href="{% url 'Bable:tob_users_dic_word' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}"><h4>{{ dics_word.the_word_itself }}</h4></a>
				</div>
				<div class=wordstory>
					<div class=storytitle>
						<a href="{% url 'Bable:tob_users_dic_word_story' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Stories: {{ dics_word.stories.count }}</a>
					</div>
					<div class=dicwordstories>
						{% if dics_word.stories.all %}
							{% for stor in dics_word.stories.all %}
								<div class=dicwordstory>
									<div id=collapse onclick="nodeCollapse('stor{{stor.id}}')">
										-:
									</div>
									<div id=stor{{stor.id}} style="display: inline-block;">
										<div class=storstor>
											<a href="{% url 'Bable:tob_users_dic_word_story' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself stor.id %}">Story: {{ stor.the_story_itself }}</a>
										</div>
										{% if loggedinanon == user_anon %}
										<div class=dictionary-delete>
											<a href="{% url 'Bable:delete_own_stor' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself stor.id %}"><h4>X</h4></a>
										</div>
										{% endif %}
										<div class=storchange>
											Latest Change: {{ stor.latest_change_date }}
										</div>
										<div class=storviews>
											Views: {{ stor.views }}
										</div>
										<div class=storcount>
											<a href="{% url 'Bable:votewvotestyle' 'stor' stor.id %}">Votes: {{ stor.votes_count }}</a>
										</div>
										<div class=storvotes>Votess:
											{% for vote in stor.votes.all %}
												{% if vote in loggedinanon.applied_votestyles.to_source %}
													<div class=storvotess>
														<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
													</div>
												{% endif %}
											{% endfor %}
										</div>
										<!-- Needs threaded comments -->
										<div class=storcomlist>Comments:
											<div class=comsubmit>
												<div id=storcomlist onclick="openComment('storcomlist')">
													Newcom
												</div>
												<form id=storcomlistform class=starter action="{% url 'Bable:create_comment' 'stor' stor.id 0 %}" method=post>
													{% csrf_token %}
													{{ comment_form }}
													<button type=submit>what've I got to lose?</button>
												</form>
											</div>
											<div class=comthreadsubmit>
												<div id=storcomthreadlist onclick="openComment('storcomthreadlist')">
													Paste Thread
												</div>
												<form id=storcomthreadlistform class=starter action="{% url 'Bable:create_comment_thread' 'stor' stor.id 0 %}" method=post>
													{% csrf_token %}
													{{ comment_thread_form }}
													<button type=submit>what've I got to lose?</button>
												</form>
											</div>
											<div class=storcom>
												{% recursetree stor.comment_sources.all %}
													<div class=storcoms>
														<div class=comclose onclick="comCollapse('storcom{{node.id}}')">
															-:
														</div>
														<div id=storcom{{node.id}}>
															<div class=storcomid>
																id: {{node.id}}
															</div>
															<div class=storcomsbody>
																{{ node.body }}
															</div>
															{% if node.author.username == loggedinauthor.username %}
																<div class=dictionary-delete>
																	<a href="{% url 'Bable:delete_own_com' node.id 'source' %}"><h4>X</h4></a>
																</div>
															{% endif %}
															<div class=storcomsvotes>
																<a href="{% url 'Bable:votewvotestyle' 'com' node.id %}">{{ node.votes_count }}</a>
															</div>
															<div class=storcomsvotess>Votess:
																{% for vote in node.votes.all %}
																	{% if vote in loggedinanon.applied_votesstyles.to_source %}
																	<div class=storcomsvotesss>
																		<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
																	</div>
																	{% endif %}
																{% endfor %}
															</div>
															<div class=storcomsdics>Dics:
																	{% for dic in node.dictionaries.all %}
																		{% if dic in loggedinanon.applied_dictionaries %}
																			<div class=storcomsdicss>
																				<a href="{% url 'Bable:tob_user_view' dic.author.username 0 %}">/u/{{ dic.author.username }}</a>: <a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself %}">{{ dic.the_dictionary_itself }}</a>
																			</div>
																		{% endif %}
																	{% endfor %}
																</div>
																<div class=storcomswords>Words:
																	{% for word in node.words.all|slice:"10" %}
																		<a href="{% url 'Bable:tob_users_dic_word' word.author.username word.home_dictionary word.the_word_itself %}">{{ word.the_word_itself }}</a>
																	{% endfor %}
																</div>
															<div class=storcomsauthor>
																<a href="{% url 'Bable:tob_user_view' node.author 0 %}">/u/{{ node.author.username }}</a>
															</div>
															{% if not node.is_leaf_node %}
																{{ children }}
															{% endif %}
														</div>
													</div>
												{% endrecursetree %}
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<div class=dicwordstory>
								This word has no story going for it.
							</div>
						{% endif %}
					</div>
					<div class=storyformopen onclick="openStory()">
						{% if story == 0 %}
						+ Add New
						{% else %}
						Edit / <a class=leave href="{% url 'Bable:tob_users_dic_word_story' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself story %}">Add New</a>
						{% endif %}
					</div>
					<form action="{% url 'Bable:tob_users_dic_word_story' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself story %}" method=post>
						{% csrf_token %}
						<div id=storyform>
							{{ story_form.as_p }}
							<button type=submit>Submit</button>
						</div>
					</form>
				</div>
			</div>
		{% else %}
			<div class=word>
				This Anon's Dic is not public.
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block unauthenticated_posts %}
<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view' user_anon.username.username %}">
			User: {{ user_anon.username.username }}
		</a>
		</h2>
	</div>
	<div class=single_dictionary>
		<div class=dictionary_itself>
			<a href="{% url 'Bable:tob_users_dic' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h4>
				{{ users_dic.the_dictionary_itself }}
			</h4></a>
		</div>
		<div class=dictionary-top>
			<div class=dictionary_votes>
				Votes: {{ users_dic.votes.count }}
			</div>
			<div class=dictionary_uniques>
				Uniques: {{ users_dic.votes_uniques }}
			</div>
			<div class=dictionary_views>
				Views: {{ users_dic.views }}
			</div>
			<div class=dictionary_change>
				Changed: {{ users_dic.latest_change_date|naturaltime }}
			</div>
			<div class=dictionary_pub>
				Created: {{ users_dic.creation_date|naturaltime }}
			</div>
			<div class=dictionary_traded>
				Traded: {{ users_dic.traded_date|naturaltime }}
			</div>
		</div>
		<div class=dictionary-bottom>
			<div class=dictionary_words>
				Words: {{ users_dic.words.count }}
			</div>
			<div class=dictionary_translations>
				Translations: {{ users_dic.true_translations.count }}
			</div>
			<div class=dictionary_sentences>
				Sentences: {{ users_dic.sentences.count }}
			</div>
			<div class=dictionary_renditions>
				Renditions: {{ users_dic.renditions.count }}
			</div>
			<div class=dictionary_analyses>
				Analyses: {{ users_dic.analyses.count }}
			</div>
			<div class=dictionary_price>
				{% if users_dic.public %}
				Price: {{ users_dic.entry_fee }}
				{% else %}
					{% if users_dic.for_sale %}
					Price: {{ users_dic.entry_fee }} (Invite Only)
					{% else %}
					Price: Not For Sale
					{% endif %}
				{% endif %}
			</div>
			{% if users_dic.for_sale %}
			<div class=buy onclick="showregister()" style="cursor: pointer;">
				Buy
			</div>
			{% endif %}
		</div>
	</div>
	<div class=single_dictionarys_words>
		<div class=dics_word_section>
			<div class=sectiontitle>
				<a href="{% url 'Bable:tob_users_dic_words' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h4>Dic's wordentries:</h4></a>
			</div>
			<div class=wordsectionsort>
				<div class=wordsortnav>
					Sort: {{ user_anon.get_word_sort_display }}
				</div>
				<div class=dropdown-content-word-sort>
					<div class=popular>
						<div class=alphabetical>
							<a href="{% url 'Bable:change_word_sort' 'alphabetical' %}">Alphabetical</a>
						</div>
						<div class=latest>
							<a href="{% url 'Bable:change_word_sort' 'latest' %}">Latest</a>
						</div>
						<div class=eldest>
							<a href="{% url 'Bable:change_word_sort' 'eldest' %}">Eldest</a>
						</div>
						<div class=pronunciations>
							<a href="{% url 'Bable:change_word_sort' 'pronunciations' %}">Pronunciations</a>
						</div>
						<div class=attributes>
							<a href="{% url 'Bable:change_word_sort' 'attributes' %}">Attributes</a>
						</div>
						<div class=similarities>
							<a href="{% url 'Bable:change_word_sort' 'similarities' %}">Similarities</a>
						</div>
					</div>
					<div class=stats>
						<div class=translations>
							<a href="{% url 'Bable:change_word_sort' 'translations' %}">Translations</a>
						</div>
						<div class=examples>
							<a href="{% url 'Bable:change_word_sort' 'examples' %}">Examples</a>
						</div>
						<div class=relations>
							<a href="{% url 'Bable:change_word_sort' 'relations' %}">Relations</a>
						</div>
						<div class=sponsor>
							<a href="{% url 'Bable:change_word_sort' 'sponsor' %}">Sponsor</a>
						</div>
						<div class=viewcount>
							<a href="{% url 'Bable:change_word_sort' 'viewcount' %}">Viewcount</a>
						</div>
						<div class=unseen>
							<a href="{% url 'Bable:change_word_sort' '-viewcount' %}">Unseen</a>
						</div>
					</div>
					<div class=flair>
						<div class=costly>
							<a href="{% url 'Bable:change_word_sort' 'price' %}">Costly</a>
						</div>
						<div class=cheapest>
							<a href="{% url 'Bable:change_word_sort' '-price' %}">Cheapest</a>
						</div>
						<div class=spaces>
							<a href="{% url 'Bable:change_word_sort' 'spaces' %}">Spaces</a>
						</div>
						<div class=stories>
							<a href="{% url 'Bable:change_word_sort' 'stories' %}">Stories</a>
						</div>
						<div class=voters>
							<a href="{% url 'Bable:change_word_sort' 'voters' %}">Voters</a>
						</div>
						<div class=voteless>
							<a href="{% url 'Bable:change_word_sort' '-voters' %}">Voteless</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{% if users_dic.public or user_anon.username.username == request.user.username %}
			<div class=word>
				<div class=worditself>
					<a href="{% url 'Bable:tob_users_dic_word' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}"><h4>{{ dics_word.the_word_itself }}</h4></a>
				</div>
				<div class=wordstory>
					<div class=storytitle>
						<a href="{% url 'Bable:tob_users_dic_word_story' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Stories: {{ dics_word.stories.count }}</a>
					</div>
					<div class=dicwordstories>
						{% if dics_word.stories.all %}
							{% for stor in dics_word.stories.all %}
								<div class=dicwordstory>
									<div id=collapse onclick="nodeCollapse('stor{{stor.id}}')">
										-:
									</div>
									<div id=stor{{stor.id}} style="display: inline-block;">
										<div class=storstor>
											<a href="{% url 'Bable:tob_users_dic_word_story' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself stor.id %}">Story: {{ stor.the_story_itself }}</a>
										</div>
										<div class=storchange>
											Latest Change: {{ stor.latest_change_date }}
										</div>
										<div class=storviews>
											Views: {{ stor.views }}
										</div>
										<div class=storcount>
											<a href="{% url 'Bable:votewvotestyle' 'stor' stor.id %}">Votes: {{ stor.votes_count }}</a>
										</div>
										<div class=storcomlist>Comments:
											<div class=comsubmit>
												<div id=storcomlist onclick="openComment('storcomlist')">
													Newcom
												</div>
												<form id=storcomlistform class=starter action="{% url 'Bable:create_comment' 'stor' stor.id 0 %}" method=post>
													{% csrf_token %}
													{{ comment_form }}
													<button type=submit>what've I got to lose?</button>
												</form>
											</div>
											<div class=comthreadsubmit>
												<div id=storcomthreadlist onclick="openComment('storcomthreadlist')">
													Paste Thread
												</div>
												<form id=storcomthreadlistform class=starter action="{% url 'Bable:create_comment_thread' 'stor' stor.id 0 %}" method=post>
													{% csrf_token %}
													{{ comment_thread_form }}
													<button type=submit>what've I got to lose?</button>
												</form>
											</div>
											<div class=storcom>
												{% recursetree stor.comment_sources.all %}
													<div class=storcoms>
														<div class=comclose onclick="comCollapse('storcom{{node.id}}')">
															-:
														</div>
														<div id=storcom{{node.id}}>
															<div class=storcomid>
																id: {{node.id}}
															</div>
															<div class=storcomsbody>
																{{ node.body }}
															</div>
															<div class=storcomsvotes>
																<a href="{% url 'Bable:votewvotestyle' 'com' node.id %}">{{ node.votes_count }}</a>
															</div>
															<div class=storcomsauthor>
																<a href="{% url 'Bable:tob_user_view' node.author 0 %}">/u/{{ node.author.username }}</a>
															</div>
															{% if not node.is_leaf_node %}
																{{ children }}
															{% endif %}
														</div>
													</div>
												{% endrecursetree %}
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<div class=dicwordstory>
								This word has no story going for it.
							</div>
						{% endif %}
					</div>
					<div class=storyformopen onclick="openStory()">
						{% if story == 0 %}
						+ Add New
						{% else %}
						Edit / <a class=leave href="{% url 'Bable:tob_users_dic_word_story' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself story %}">Add New</a>
						{% endif %}
					</div>
					<form action="{% url 'Bable:tob_users_dic_word_story' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself story %}" method=post>
						{% csrf_token %}
						<div id=storyform>
							{{ story_form.as_p }}
							<button type=submit>Submit</button>
						</div>
					</form>
				</div>
			</div>
		{% else %}
			<div class=word>
				This Anon's Dic is not public.
			</div>
		{% endif %}
	</div>


{% endblock %}

{% block scripts %}
	<script>
		function openStory() {
			var element = document.getElementById("storyform");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function openCommentThread(starter, com) {
			var element = document.getElementById(starter).getElementById(com);
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function comCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}
		$(document).on('click', 'button.Delete', function() {
			var target = '#id_' + $(this).val() + '-DELETE';
			$(target).prop('checked', true);
			$(this).closest('tr').hide();
		});
	</script>
{% endblock %}