<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}

{% load user_referencing %}
{% load vote_screen %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}

{% block title %}
User: {{ user_anon.username.username }}'s Posts - Dream Cloud Middle Men
{% endblock %}


{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta name="description" content="User: {{ user_anon.username.username }}'s Posts - Dream Cloud Middle Men">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}

{% block authenticatedposts %}
<div class=usersusername>
	<h2>
	<a href="{% url 'Bable:tob_user_view_count' user_anon.username.username 0 %}">User: {{ user_anon.username.username }}</a>
	</h2>
</div>
<div class=usersposts>
	<div class=sectiontitle>
		<a href="{% url 'Bable:tob_users_posts' user_anon.username.username 0 %}"><h3>
			Posts:
		</h3></a>
	</div>
	<div class=possectionsort>
		<form name=post_sort action="{% url 'Bable:change_post_sort_char' %}" method=post>
			{% csrf_token %}
			{{ post_sort_form }}
		</form>
		<script>
			var form = document.querySelector('form[name="post_sort"]');
			form.addEventListener('change', function() {
			    form.submit();
			});
		</script>
	</div>
	<div class=posts>
		{% if users_posts.count %}
			{% for post in users_posts.all %}
			<div class=post>
				<div class=posttop>
					<div class=postpreview>
						{% if post.url2 %}
							<a href="{{ post.url2 }}"><img src="{% static 'babylonpolice.com.gif' %}" style="height: 6em; width: 6em;"></a>
						{% else %}
							<img src="{% static 'babylonpolice.com.gif' %}" style="height: 6em; width: 6em;">
						{% endif %}
					</div>
					<div class=posttitle>
						{% if not post.author.username %}
						<a href="{% url 'Bable:tob_post' post.id %}"><h4>{{ post.title }}</h4></a>
						{% else %}
						<a href="{% url 'Bable:tob_users_post' post.author.username post.id 0 %}"><h4>{{ post.title }}</h4></a>
						{% endif %}
					</div>
					{% if post.author.username == user_anon.username.username %}
					<div class=postdel>
						<a href="{% url 'Bable:delete_own_post' post.author.username post.id %}">X</a>
					</div>
					{% endif %}
				</div>
				<div class=postbody>
					{{ post.body|usernames|spaces|urlize|truncatechars:144 }}
				</div>
				<div class=postwords>
					Words:
					{% for word in post.words.all %}
					<a href="{% url 'Bable:tob_users_dic_word_count' post.author.username word.home_dictionary.the_dictionary_itself word.the_word_itself 0 %}">
						{{ word.the_word_itself }}
					</a>
					{% endfor %}
				</div>
				<div class=postvotes>
					Votes:
					{% for vote in post.votes.all %}
					<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_style.to_full.id 0 %}">{{ vote.the_vote_style.the_word_itself }}</a>
					{% endfor %}
				</div>
				<div class=postviews>
					Views: {{ post.viewcount }}
				</div>
				<div class=postlatest>
					Latest: {{ post.latest_change_date }}
				</div>
				{% if not post.author.username %}
				<div class=postauthor>
					/u/anonymous
				</div>
				{% else %}
				<div class=postauthor>
					<a href="{% url 'Bable:tob_user_view_count' post.author.username 0 %}">/u/{{ post.author.username }}</a>
				</div>
				{% endif %}
			</div>
			{% endfor %}
		{% else %}
			<div class=post>
				This user has not marked their post.
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block unauthenticated_posts %}
<div class=usersusername>
	<h2>
	<a href="{% url 'Bable:tob_user_view_count' user_anon.username.username 0 %}">User: {{ user_anon.username.username }}</a>
	</h2>
</div>
<div class=usersposts>
		<div class=sectiontitle>
			<a href="{% url 'Bable:tob_users_posts' user_anon.username.username 0 %}"><h3>
				Posts:
			</h3></a>
		</div>
		<div class=possectionsort>
			<div id=possortnav>
				Sort: {{ loggedinanon.get_post_sort_display }}
			</div>
			<div class=dropdown-content-pos-sort>
				<div class=popular>
					<div class=viral>
						<a href="{% url 'Bable:change_post_sort' 'viral' %}">Viral</a>
					</div>
					<div class=early>
						<a href="{% url 'Bable:change_post_sort' 'early' %}">Early</a>
					</div>
					<div class=freshest>
						<a href="{% url 'Bable:change_post_sort' 'freshest' %}">Freshest</a>
					</div>
					<div class=eldest>
						<a href="{% url 'Bable:change_post_sort' 'eldest' %}">Eldest</a>
					</div>
					<div class=uniques>
						<a href="{% url 'Bable:change_post_sort' 'uniques' %}">Uniques</a>
					</div>
					<div class=voters>
						<a href="{% url 'Bable:change_post_sort' 'voters' %}">Voters</a>
					</div>
				</div>
				<div class=stats>
					<div class=broadness>
						<a href="{% url 'Bable:change_post_sort' 'broadness' %}">Broadness</a>
					</div>
					<div class=intricacy>
						<a href="{% url 'Bable:change_post_sort' 'intricacy' %}">Intricacy</a>
					</div>
					<div class=talkative>
						<a href="{% url 'Bable:change_post_sort' 'talkative' %}">Talkative</a>
					</div>
					<div class=homes>
						<a href="{% url 'Bable:change_post_sort' 'homes' %}">Homes</a>
					</div>
					<div class=encouraged>
						<a href="{% url 'Bable:change_post_sort' 'encouraged' %}">Encouraged</a>
					</div>
					<div class=votes>
						<a href="{% url 'Bable:change_post_sort' 'votes' %}">Votes</a>
					</div>
				</div>
			</div>
		</div>
		<div class=posts>
			{% if users_posts.count %}
				{% for post in users_posts.all %}
				<div class=post>
					<div class=posttop>
						<div class=postpreview>
							{% if post.url2 %}
								<a href="{{ post.url2 }}"><img src="{% static 'growadic.png' %}" style="height: 6em; width: 6em;"></a>
							{% else %}
								<img src="{% static 'babylonpolice.com.gif' %}" style="height: 6em; width: 6em;">
							{% endif %}
						</div>
						<div class=posttitle>
							{% if not post.author.username %}
						<a href="{% url 'Bable:tob_post' post.id %}"><h4>{{ post.title }}</h4></a>
						{% else %}
						<a href="{% url 'Bable:tob_users_post' post.author.username post.id 0 %}"><h4>{{ post.title }}</h4></a>
						{% endif %}
						</div>
					</div>
					<div class=postbody>
						{{ post.body|usernames|spaces|urlize|truncatechars:144 }}
					</div>
					<div class=postwords>
						Words:
						{% for word in post.words.all %}
						<a href="{% url 'Bable:tob_users_dic_word_count' post.author.username word.home_dictionary.the_dictionary_itself word.the_word_itself 0 %}">
							{{ word.the_word_itself }}
						</a>
						{% endfor %}
					</div>
					<div class=postvotes>
						Votes:
						{% for vote in post.votes.all %}
						<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_style.to_full.id 0 %}">{{ vote.the_vote_style.the_word_itself }}</a>
						{% endfor %}
					</div>
					<div class=postviews>
						Views: {{ post.viewcount }}
					</div>
					<div class=postlatest>
						Latest: {{ post.latest_change_date }}
					</div>
					{% if not post.author.username %}
					<div class=postauthor>
						/u/anonymous
					</div>
					{% else %}
					<div class=postauthor>
						<a href="{% url 'Bable:tob_user_view_count' post.author.username 0 %}">/u/{{ post.author.username }}</a>
					</div>
					{% endif %}
				</div>
				{% endfor %}
			{% else %}
				<div class=post>
					This user has not marked their post.
				</div>
			{% endif %}
		</div>
	</div>

{% endblock %}
