{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta property="og:description" content="Similarities - Dream Cloud Middle Men">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}

{% block title %}
Similarities - Dream Cloud Middle Men
{% endblock %}

{% block authenticatedposts %}
	<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view' user_anon.username.username 0 %}">
			User: {{ user_anon.username.username }}
		</a>
		</h2>
	</div>
	<div class=single_dictionary>
		<div class=dictionary_itself>
			<a href="{% url 'Bable:tob_users_dic' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h3>
				Dictionary: {{ users_dic.the_dictionary_itself }}
			</h3></a>
		</div>
		{% if request.user.username == user_anon.username.username %}
			<div class=dictionary-delete>
				<a href="{% url 'Bable:delete_own_dic' user_anon.username.username users_dic.the_dictionary_itself %}"><h4>X</h4></a>
			</div>
		{% endif %}
		<div class=dictionary-top>
			<div class=dictionary_votes>
				Votes: {{ users_dic.votes.count }}
			</div>
			<div class=dictionary_uniques>
				Uniques: {{ users_dic.votes_uniques }}
			</div>
			<div class=dictionary_views>
				Views: {{ users_dic.views }}
			</div>
			<div class=dictionary_change>
				Changed: {{ users_dic.latest_change_date|naturaltime }}
			</div>
			<div class=dictionary_pub>
				Created: {{ users_dic.creation_date|naturaltime }}
			</div>
			<div class=dictionary_traded>
				Traded: {{ users_dic.traded_date|naturaltime }}
			</div>
		</div>
		<div class=dictionary-bottom>
			<div class=dictionary_words>
				Words: {{ users_dic.words.count }}
			</div>
			<div class=dictionary_translations>
				Translations: {{ users_dic.true_translations.count }}
			</div>
			<div class=dictionary_sentences>
				Sentences: {{ users_dic.sentences.count }}
			</div>
			<div class=dictionary_renditions>
				Renditions: {{ users_dic.renditions.count }}
			</div>
			<div class=dictionary_analyses>
				Analyses: {{ users_dic.analyses.count }}
			</div>
			<div class=dictionary_price>
				{% if users_dic.public %}
				Price: {{ users_dic.entry_fee }}
				{% else %}
					{% if users_dic.for_sale %}
					Price: {{ users_dic.entry_fee }} (Invite Only)
					{% else %}
					Price: Not For Sale
					{% endif %}
				{% endif %}
			</div>
			{% if users_dic.for_sale %}
			<form action="{% url 'Bable:submit_buy_dic_form' users_dic.id %}" method=post>
				{% csrf_token %}
				<button type=submit>Buy</button>
			</form>
			{% endif %}
		</div>
	</div>
	<div class=single_dictionarys_words>
		<div class=dics_word_section>
			<div class=sectiontitle>
				<a href="{% url 'Bable:tob_users_dic_words' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h4>Dic's wordentries:</h4></a>
			</div>
			<div class=wordsectionsort>
				<div class=wordsortnav>
					Sort: {{ user_anon.get_word_sort_display }}
				</div>
				<div class=dropdown-content-word-sort>
					<div class=popular>
						<div class=alphabetical>
							<a href="{% url 'Bable:change_word_sort' 'alphabetical' %}">Alphabetical</a>
						</div>
						<div class=latest>
							<a href="{% url 'Bable:change_word_sort' 'latest' %}">Latest</a>
						</div>
						<div class=eldest>
							<a href="{% url 'Bable:change_word_sort' 'eldest' %}">Eldest</a>
						</div>
						<div class=pronunciations>
							<a href="{% url 'Bable:change_word_sort' 'pronunciations' %}">Pronunciations</a>
						</div>
						<div class=attributes>
							<a href="{% url 'Bable:change_word_sort' 'attributes' %}">Attributes</a>
						</div>
						<div class=similarities>
							<a href="{% url 'Bable:change_word_sort' 'similarities' %}">Similarities</a>
						</div>
					</div>
					<div class=stats>
						<div class=translations>
							<a href="{% url 'Bable:change_word_sort' 'translations' %}">Translations</a>
						</div>
						<div class=examples>
							<a href="{% url 'Bable:change_word_sort' 'examples' %}">Examples</a>
						</div>
						<div class=relations>
							<a href="{% url 'Bable:change_word_sort' 'relations' %}">Relations</a>
						</div>
						<div class=sponsor>
							<a href="{% url 'Bable:change_word_sort' 'sponsor' %}">Sponsor</a>
						</div>
						<div class=viewcount>
							<a href="{% url 'Bable:change_word_sort' 'viewcount' %}">Viewcount</a>
						</div>
						<div class=unseen>
							<a href="{% url 'Bable:change_word_sort' '-viewcount' %}">Unseen</a>
						</div>
					</div>
					<div class=flair>
						<div class=costly>
							<a href="{% url 'Bable:change_word_sort' 'price' %}">Costly</a>
						</div>
						<div class=cheapest>
							<a href="{% url 'Bable:change_word_sort' '-price' %}">Cheapest</a>
						</div>
						<div class=spaces>
							<a href="{% url 'Bable:change_word_sort' 'spaces' %}">Spaces</a>
						</div>
						<div class=stories>
							<a href="{% url 'Bable:change_word_sort' 'stories' %}">Stories</a>
						</div>
						<div class=voters>
							<a href="{% url 'Bable:change_word_sort' 'voters' %}">Voters</a>
						</div>
						<div class=voteless>
							<a href="{% url 'Bable:change_word_sort' '-voters' %}">Voteless</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{% if users_dic.public or user_anon.username.username == request.user.username %}
			<div class=word>
				<div class=worditself>
					<a href="{% url 'Bable:tob_users_dic_word' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}"><h4>Word: {{ dics_word.the_word_itself }}</h4></a>
				</div>
			</div>
		{% else %}
			<div class=word>
				This Anon's Dic is not public.
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block unauthenticated_posts %}
<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view' user_anon.username.username %}">
			User: {{ user_anon.username.username }}
		</a>
		</h2>
	</div>
	<div class=single_dictionary>
		<div class=dictionary_itself>
			<a href="{% url 'Bable:tob_users_dic' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h4>
				{{ users_dic.the_dictionary_itself }}
			</h4></a>
		</div>
		<div class=dictionary-top>
			<div class=dictionary_votes>
				Votes: {{ users_dic.votes.count }}
			</div>
			<div class=dictionary_uniques>
				Uniques: {{ users_dic.votes_uniques }}
			</div>
			<div class=dictionary_views>
				Views: {{ users_dic.views }}
			</div>
			<div class=dictionary_change>
				Changed: {{ users_dic.latest_change_date|naturaltime }}
			</div>
			<div class=dictionary_pub>
				Created: {{ users_dic.creation_date|naturaltime }}
			</div>
			<div class=dictionary_traded>
				Traded: {{ users_dic.traded_date|naturaltime }}
			</div>
		</div>
		<div class=dictionary-bottom>
			<div class=dictionary_words>
				Words: {{ users_dic.words.count }}
			</div>
			<div class=dictionary_translations>
				Translations: {{ users_dic.true_translations.count }}
			</div>
			<div class=dictionary_sentences>
				Sentences: {{ users_dic.sentences.count }}
			</div>
			<div class=dictionary_renditions>
				Renditions: {{ users_dic.renditions.count }}
			</div>
			<div class=dictionary_analyses>
				Analyses: {{ users_dic.analyses.count }}
			</div>
			<div class=dictionary_price>
				{% if users_dic.public %}
				Price: {{ users_dic.entry_fee }}
				{% else %}
					{% if users_dic.for_sale %}
					Price: {{ users_dic.entry_fee }} (Invite Only)
					{% else %}
					Price: Not For Sale
					{% endif %}
				{% endif %}
			</div>
			{% if users_dic.for_sale %}
			<div class=buy onclick="showregister()" style="cursor: pointer;">
				Buy
			</div>
			{% endif %}
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script>
		function wordsPronunciationsAddMore() {
				var form_idx = $('#id_wp-TOTAL_FORMS').value;
				var copy = $('#wpef').html().replace(/__prefix__/g, form_idx);
				$('#wpfs').append(copy);
				$('#id_wp-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}

		function wordsDefinitionsAddMore() {
				var form_idx = $('#id_wad-TOTAL_FORMS').value;
				var copy = $('#wpef').html().replace(/__prefix__/g, form_idx);
				$('#wadfs').append(copy);
				$('#id_wad-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}

		function wordsHomonymsAddMore() {
				var form_idx = $('#id_wah-TOTAL_FORMS').value;
				var copy = $('#wahef').html().replace(/__prefix__/g, form_idx);
				$('#wahfs').append(copy);
				$('#id_wah-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}

		function wordsSynonymsAddMore() {
				var form_idx = $('#id_was-TOTAL_FORMS').value;
				var copy = $('#wasef').html().replace(/__prefix__/g, form_idx);
				$('#wasfs').append(copy);
				$('#id_was-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}

		function wordsAntonymsAddMore() {
				var form_idx = $('#id_waa-TOTAL_FORMS').value;
				var copy = $('#waaef').html().replace(/__prefix__/g, form_idx);
				$('#waafs').append(copy);
				$('#id_waa-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}
		/* Needs to be step-counted for the DAHS of each Attribute
		function wordsAttributesAddMore() {
				var form_idx = $('#id_wa-TOTAL_FORMS').value;
				var copy = $('#waef').html().replace(/__prefix__/g, form_idx);
				$('#wafs').append(copy);
				$('#id_wa-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}
		*/
		$(document).on('click', 'button.Delete', function() {
			var target = '#id_' + $(this).val() + '-DELETE';
			$(target).prop('checked', true);
			$(this).closest('tr').hide();
		});
	</script>
{% endblock %}