<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}
{% load i18n %}

{% block title %}
{% if count %}
BabylonPolice.com - incentivised-ascento-secrecy {{ count }}
{% else %}
BabylonPolice.com - incentivised-ascento-secrecy
{% endif %}
{% endblock %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta property="og:description" content="BabylonPolice - Incentivised-Ascento-Secrecy - Police yourself to police others AKA please yourself to please others. User-Choice Definitions. Create your own code words, or buy them and gain access to income that you can spend on deeper secrets granting you deeper income.">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}


{% block authenticatedposts %}

<div class=displaybanner>
	<div class=donate>
		<div class=dictionary-bottom>
			<a href="{% url 'Bable:tob_product' basic_price.id %}"><h3>{{ basic_price.name }}</h3></a>
	        <img src="{% static 'babylonpolice.com.gif' %}" style="width: 200px; height: 200px; margin: auto; width: fit-content; border-radius: 20px;">
	        <div style="display: flex; align-items: center;">
	            <p style="background-color: white; width: fit-content; margin-right: 20px;">${{ basic_price.get_display_price }} AUD</p>
	            <form action="{% url 'Bable:create-checkout-session' basic_price.id %}" method="POST">
	                {% csrf_token %}
	                <button type="submit" style="color: gold; background-color: green; border-radius: 8px;">Donate</button>
	            </form>
	        </div>
		</div>
	</div>
	<p>Total post views: {{ total }}</p>
</div>
<div class=possectionsort>
	<form name=post_sort action="{% url 'Bable:change_post_sort_char' %}" method=post>
		{% csrf_token %}
		{{ post_sort_form }}
	</form>
	<script>
		var form = document.querySelector('form[name="post_sort"]');
		form.addEventListener('change', function() {
		    form.submit();
		});
	</script>
</div>
<style>
	.posttitle h4 {
		font-size: 1.5em;
		margin: 0 auto;
	}

	.posttitle {
		margin: auto;
		text-align: center;
	}

	.postpreview img, .postssponsors img, .post, .postbody {
		border-radius: 8px;
	}

	.dummy {
		animation-duration: 0.1s;
		animation-name: changeboxshadow;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	.post:hover, .post:active {
		box-shadow: 0 2px 10px black;
	    transition: box-shadow 0.3s ease-in-out;
	}

	@keyframes changeboxshadow {
	  from {
	    box-shadow: 0 2px 10px black;
	    transition: box-shadow 0.3s ease-in-out;
		
	  }

	  to {
	    box-shadow: 0 2px 10px white;
	    transition: box-shadow 0.3s ease-in-out;
		
	  }
	}

	
.postpreview img:active {
		transform: scale(4);
		position: relative;
		pointer-events: auto;
		left: 10em;
		top: 4em;
	}
	
</style>
<script>
	
</script>

<script>
$(document).ready(function() {
  var start = new Date();
  var density = [0];
  var counter = 0;
	var limit = 100;
	var post_ids = [{% for post in posts %}{% if forloop.counter == 1 %}'{{post.id}}'{% else %}, '{{post.id}}'{% endif %}{% endfor %}]
	var loggedinanon_scroll_type = '{{ loggedinanon.post_sort_char }}'
	console.log(start);
	
	var myVar = setInterval(function(){ 
	    if (!document.hidden) {
	    	if (counter > limit)
		    {
		    	var end = new Date();
		      $.ajax({ 
		      	method: "POST",
		        url: "{% url 'Bable:tower_time' %}",
		        data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'timeSpent': end - start, 'density': density, 'scrollHeight': document.documentElement.scrollHeight, 'clientHeight': document.documentElement.clientHeight, 'duration': 2, 'ids': post_ids, 'scroll_type': loggedinanon_scroll_type},
		        dataType: 'json',
		        async: false
		      })
		        clearInterval(myVar);
		        console.log(counter)
		    }
		    
		    counter++;
		    density.push(window.pageYOffset); 
	    } else {
	    	var stop = true;
	    	var end = new Date();
		      $.ajax({
		      	method: "POST",
		        url: "{% url 'Bable:tower_time' %}",
		        data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'timeSpent': end - start, 'density': density, 'scrollHeight': document.documentElement.scrollHeight, 'clientHeight': document.documentElement.clientHeight, 'duration': 2, 'ids': post_ids, 'scroll_type': loggedinanon_scroll_type},
		        async: false
		      })
	    };
	}, 20);
	var density2 = [0];
	var counter2 = 0;
	var myVar2 = setInterval(function(){ 
	    if (!document.hidden) {
	    	if (counter2 > limit)
		    {
		    	var end = new Date();
		      $.ajax({ 
		      	method: "POST",
		        url: "{% url 'Bable:tower_time' %}",
		        data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'timeSpent': end - start, 'density': density2, 'scrollHeight': document.documentElement.scrollHeight, 'clientHeight': document.documentElement.clientHeight, 'duration': 20, 'ids': post_ids, 'scroll_type': loggedinanon_scroll_type},
		        async: false
		      })
		        clearInterval(myVar2);
		        console.log(counter2)
		    }
		    
		    counter2++;
		    density2.push(window.pageYOffset); 
	    } else {
	    	var stop = true;
	    	var end = new Date();
		      $.ajax({
		      	method: "POST",
		        url: "{% url 'Bable:tower_time' %}",
		        data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'timeSpent': end - start, 'density': density2, 'scrollHeight': document.documentElement.scrollHeight, 'clientHeight': document.documentElement.clientHeight, 'duration': 20, 'ids': post_ids, 'scroll_type': loggedinanon_scroll_type},
		        async: false
		      })
	    };
	}, 200);
	var density3 = [0];
	var counter3 = 0;
	var myVar3 = setInterval(function(){ 
	    if (!document.hidden) {
	    	if (counter3 > limit)
		    {
		    	var end = new Date();
		      $.ajax({ 
		      	method: "POST",
		        url: "{% url 'Bable:tower_time' %}",
		        data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'timeSpent': end - start, 'density': density3, 'scrollHeight': document.documentElement.scrollHeight, 'clientHeight': document.documentElement.clientHeight, 'duration': 200, 'ids': post_ids, 'scroll_type': loggedinanon_scroll_type},
		        async: false
		      })
		        clearInterval(myVar3);
		        console.log(counter3)
		    }
		    
		    counter3++;
		    density3.push(window.pageYOffset); 
	    } else {
	    	var stop = true;
	    	var end = new Date();
		      $.ajax({
		      	method: "POST",
		        url: "{% url 'Bable:tower_time' %}",
		        data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'timeSpent': end - start, 'density': density3, 'scrollHeight': document.documentElement.scrollHeight, 'clientHeight': document.documentElement.clientHeight, 'duration': 200, 'ids': post_ids, 'scroll_type': loggedinanon_scroll_type},
		        async: false
		      })
		      clearInterval(myVar3)
	    };
	}, 2000);

  
});
</script>

<div class=posts onbeforeunload="sendtimeframe();" >
	{% if postscount %}
		{% for post in posts %}
		<div class=post style="display: flex;">
				{% if post.img %}
					<img src="{{ post.img }}" style="z-index: 1; max-height:400px; width: 30%; box-shadow: 0 2px 10px grey; border-radius: 20px; margin: 10px" alt="{{ post.title }}">
				{% else %}
					<img src="{% static 'babylonpolice.com.gif' %}" style="max-height:400px; z-index: 1; width: 30%; margin: 10px; border-radius: 20px; box-shadow: 0 2px 10px grey;" alt="Please Others With A Gif">
				{% endif %}
			<div class=posttop style="display: inline-block; vertical-align: top;">
				
				{% if post.author__username %}
				<div class=posttitle>
					<a href="{% url 'Bable:tob_users_post' post.author__username post.id 0 %}"><h4>{{ post.title }}</h4></a>
				</div>
				{% if post.author__username == loggedinanon.username.username %}
				<div class=postdel>
					<a href="{% url 'Bable:delete_own_post' post.author__username post.id %}">X</a>
				</div>
				{% endif %}
				{% else %}
				<div class=posttitle>
					<a href="{% url 'Bable:tob_post' post.id %}"><h4>{{ post.title }}</h4></a>
				</div>
				{% endif %}
			<div class=postbody style="margin-right: 0.5em;">
				{{ post.body|safety_check|usernames|spaces|urlize|truncatechars:111|safe }}
			</div>
			<div class=postcount style="font-size: 1em;">
				<a href="{% url 'Bable:votewvotestyle' 'post' post.id %}">Voters: {{ post.votes_uniques }}</a>
			</div>
			<div class=postviews style="font-size: 1em;">
				Views: {{ post.viewcount }}
			</div>
			<div class=postlatest style="font-size: 1em;">
				Latest: {{ post.latest_change_date }}
			</div>
			{% if post.author__username %}
			<div class=postauthor style="font-size: 1em;">
				<a href="{% url 'Bable:tob_user_view_count' post.author__username 0 %}">/u/{{ post.author__username }}</a>
			</div>
			{% else %}
			<div class=postauthor style="font-size: 1em;">
				<a href="">/u/anonymous</a>
			</div>
			{% endif %}

			</div>
		</div>
		{% endfor %}
	{% else %}
		<div class=post>
			There are no posts.
		</div>
	{% endif %}
</div>
<div class=pageno>
	<a href="{% url 'Bable:tower_of_bable_count' mcount %}"><</a>{{ count }}:{{ count100 }}<a href="{% url 'Bable:tower_of_bable_count' count100 %}">></a>
</div>

{% endblock %}


{% block unauthenticated_posts %}
<div class=displaybanner>
	<div class=donate>
		<div class=dictionary-bottom>
			<a href="{% url 'Bable:tob_product' basic_price.id %}"><h3>{{ basic_price.name }}</h3></a>
	        <img src="{% static 'babylonpolice.com.gif' %}" style="width: 200px; height: 200px; margin: auto; width: fit-content;">
	        <div style="display: flex; align-items: center;">
	            <p style="width: fit-content; margin-right: 20px; background-color: white;">${{ basic_price.get_display_price }} AUD</p>
	            <form action="{% url 'Bable:create-checkout-session' basic_price.id %}" method="POST">
	                {% csrf_token %}
	                <button type="submit" style="color: gold; background-color: green; border-radius: 8px;">Donate</button>
	            </form>
	        </div>
		</div>
	</div>
	<p>Total post views: {{ total }}</p>
</div>
<div class=displaybanner>
	<h3>
		Sort: (click the keys to login/signup to enable post sorting)
	</h3>
</div>
<style>
	.posttitle h4 {
		font-size: 1.5em;
		margin: 0 auto;
	}

	.posttitle {
		margin: auto;
		text-align: center;
	}

	.postpreview img, .postssponsors img, .post, .postbody {
		border-radius: 8px;
	}

	.dummy {
		animation-duration: 0.1s;
		animation-name: changeboxshadow;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	.post:hover {
		box-shadow: 0 2px 10px black;
	    transition: box-shadow 0.3s ease-in-out;
	}

	@keyframes changeboxshadow {
	  from {
	    box-shadow: 0 2px 10px black;
	    transition: box-shadow 0.3s ease-in-out;
		
	  }

	  to {
	    box-shadow: 0 2px 10px white;
	    transition: box-shadow 0.3s ease-in-out;
		
	  }
	}
	.postpreview img:active {
		transform: scale(4);
		position: relative;
		pointer-events: auto;
		left: 10em;
		top: 4em
	}
</style>
<script>

</script>

<script>
$(document).ready(function() {
  var start = new Date();
  var density = [0];
  var counter = 0;
	var limit = 100;
	var post_ids = [{% for post in posts %}{% if forloop.counter == 1 %}'{{post.id}}'{% else %}, '{{post.id}}'{% endif %}{% endfor %}]
	console.log(start);
	
	var myVar = setInterval(function(){ 
	    if (!document.hidden) {
	    	if (counter > limit)
		    {
		    	var end = new Date();
		      $.ajax({ 
		      	method: "POST",
		        url: "{% url 'Bable:tower_time' %}",
		        data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'timeSpent': end - start, 'density': density, 'scrollHeight': document.documentElement.scrollHeight, 'clientHeight': document.documentElement.clientHeight, 'duration': 2, 'ids': post_ids, 'scroll_type': 'viewcount'},
		        dataType: 'json',
		        async: false
		      })
		        clearInterval(myVar);
		    }
		    
		    counter++;
		    density.push(window.pageYOffset); 
	    } else {
	    	var stop = true;
	    	var end = new Date();
		      $.ajax({
		      	method: "POST",
		        url: "{% url 'Bable:tower_time' %}",
		        data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'timeSpent': end - start, 'density': density, 'scrollHeight': document.documentElement.scrollHeight, 'clientHeight': document.documentElement.clientHeight, 'duration': 2, 'ids': post_ids, 'scroll_type': 'viewcount'},
		        async: false
		      })
	    };
	}, 20);
	var density2 = [0];
	var counter2 = 0;
	var myVar2 = setInterval(function(){ 
	    if (!document.hidden) {
	    	if (counter2 > limit)
		    {
		    	var end = new Date();
		      $.ajax({ 
		      	method: "POST",
		        url: "{% url 'Bable:tower_time' %}",
		        data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'timeSpent': end - start, 'density': density2, 'scrollHeight': document.documentElement.scrollHeight, 'clientHeight': document.documentElement.clientHeight, 'duration': 20, 'ids': post_ids, 'scroll_type': 'viewcount'},
		        async: false
		      })
		        clearInterval(myVar2);
		    }
		    
		    counter2++;
		    density2.push(window.pageYOffset); 
	    } else {
	    	var stop = true;
	    	var end = new Date();
		      $.ajax({
		      	method: "POST",
		        url: "{% url 'Bable:tower_time' %}",
		        data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'timeSpent': end - start, 'density': density2, 'scrollHeight': document.documentElement.scrollHeight, 'clientHeight': document.documentElement.clientHeight, 'duration': 20, 'ids': post_ids, 'scroll_type': 'viewcount'},
		        async: false
		      })
	    };
	}, 200);
	var density3 = [0];
	var counter3 = 0;
	var myVar3 = setInterval(function(){ 
	    if (!document.hidden) {
	    	if (counter3 > limit)
		    {
		    	var end = new Date();
		      $.ajax({ 
		      	method: "POST",
		        url: "{% url 'Bable:tower_time' %}",
		        data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'timeSpent': end - start, 'density': density3, 'scrollHeight': document.documentElement.scrollHeight, 'clientHeight': document.documentElement.clientHeight, 'duration': 200, 'ids': post_ids, 'scroll_type': 'viewcount'},
		        async: false
		      })
		        clearInterval(myVar3);
		    }
		    
		    counter3++;
		    density3.push(window.pageYOffset); 
	    } else {
	    	var stop = true;
	    	var end = new Date();
		      $.ajax({
		      	method: "POST",
		        url: "{% url 'Bable:tower_time' %}",
		        data: {'csrfmiddlewaretoken': "{{ csrf_token }}", 'timeSpent': end - start, 'density': density3, 'scrollHeight': document.documentElement.scrollHeight, 'clientHeight': document.documentElement.clientHeight, 'duration': 200, 'ids': post_ids, 'scroll_type': 'viewcount'},
		        async: false
		      })
		      clearInterval(myVar3)
	    };
	}, 2000);

  
});
</script>
<div class=posts style="">
	{% if postscount %}
		{% for post in posts %}
			<div class=post style="display: inline-block;">
					{% if post.img %}
						<img src="{{ post.img }}" style="z-index: 1; max-height:400px; width: 30%; box-shadow: 0 2px 10px grey; margin: 10px; border-radius: 20px; vertical-align: top;" alt="{{ post.title }}">
					{% else %}
						<img src="{% static 'babylonpolice.com.gif' %}" style="max-height:400px; z-index: 1; width: 30%; box-shadow: 0 2px 10px grey; border-radius: 20px; vertical-align: top; margin: 10px;" alt="Please Others With A Gif">
					{% endif %}
				<div class=posttop style="display: inline-block; width: 60%; margin-left: 10px;">
					
					{% if post.author__username %}
					<div class=posttitle>
						<a href="{% url 'Bable:tob_users_post' post.author__username post.id 0 %}"><h4>{{ post.title }}</h4></a>
					</div>
					{% else %}
					<div class=posttitle>
						<a href="{% url 'Bable:tob_post' post.id %}"><h4>{{ post.title }}</h4></a>
					</div>
					{% endif %}
				
				<div class=postbody style="margin-right: 0.5em;">
					{{ post.body|safety_check|usernames|spaces|urlize|truncatechars:111|safe }}
				</div>
				<div class=postcount style="font-size: 1em;" onclick="showregister();">
					Voters: {{ post.votes_uniques }}
				</div>
				<div class=postviews style="font-size: 1em;">
					Views: {{ post.viewcount }}
				</div>
				<div class=postlatest style="font-size: 1em;">
					Latest: {{ post.latest_change_date }}
				</div>
				{% if post.author__username %}
				<div class=postauthor style="font-size: 1em;">
					<a href="{% url 'Bable:tob_user_view_count' post.author__username 0 %}">/u/{{ post.author__username }}</a>
				</div>
				{% else %}
				<div class=postauthor style="font-size: 1em;">
					<a href="">/u/anonymous</a>
				</div>
				{% endif %}
			</div>
			</div>
		{% endfor %}

	{% else %}
		<div class=post>
			There are no posts.
		</div>
	{% endif %}

</div>
<div class=pageno>
	<a href="{% url 'Bable:tower_of_bable_count' mcount %}"><</a>{{ count }}:{{ count100 }}<a href="{% url 'Bable:tower_of_bable_count' count100 %}">></a>
</div>

{% endblock %}

{% block scripts %}
	<script>
		
		function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function openCommentThread(starter, com) {
			var element = document.getElementById(starter).getElementById(com);
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function comCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		/* Needs to be step-counted for the DAHS of each Attribute
		function wordsAttributesAddMore() {
				var form_idx = $('#id_wa-TOTAL_FORMS').value;
				var copy = $('#waef').html().replace(/__prefix__/g, form_idx);
				$('#wafs').append(copy);
				$('#id_wa-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}
		*/


	</script>
{% endblock %}