<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}

{% block title %}
Word Attributes - Babylon Police
{% endblock %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta property="og:description" content="BabylonPolice - Word Attributes - Police yourself to police others AKA please yourself to please others. User-Choice Definitions. Create your own code words, or buy them and gain access to income that you can spend on deeper secrets granting you deeper income.">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}

{% block authenticatedposts %}
	<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view' user_anon.username.username 0 %}">
			User: {{ user_anon.username.username }}
		</a>
		</h2>
	</div>
	<div class=single_dictionary>
		<div class=dictionary_itself>
			<a href="{% url 'Bable:tob_users_dic' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h3>
				Dictionary: {{ users_dic.the_dictionary_itself }}; ID: {{ users_dic.id }}
			</h3></a>
		</div>
		{% if request.user.username == user_anon.username.username %}
			<div class=dictionary-delete>
				<a href="{% url 'Bable:delete_own_dic' user_anon.username.username users_dic.the_dictionary_itself %}"><h4>X</h4></a>
			</div>
		{% endif %}
		<div class=dictionary-top>
			<div class=dictionary_votes>
				Votes: {{ users_dic.votes.count }}
			</div>
			<div class=dictionary_uniques>
				Uniques: {{ users_dic.votes_uniques }}
			</div>
			<div class=dictionary_views>
				Views: {{ users_dic.views }}
			</div>
			<div class=dictionary_change>
				Changed: {{ users_dic.latest_change_date|naturaltime }}
			</div>
			<div class=dictionary_pub>
				Created: {{ users_dic.creation_date|naturaltime }}
			</div>
			<div class=dictionary_traded>
				Traded: {{ users_dic.traded_date|naturaltime }}
			</div>
		</div>
		<div class=dictionary-bottom>
			<div class=dictionary_words>
				Words: {{ users_dic.words.count }}
			</div>
			<div class=dictionary_translations>
				Translations: {{ users_dic.true_translations.count }}
			</div>
			<div class=dictionary_sentences>
				Sentences: {{ users_dic.sentences.count }}
			</div>
			<div class=dictionary_renditions>
				Renditions: {{ users_dic.renditions.count }}
			</div>
			<div class=dictionary_analyses>
				Analyses: {{ users_dic.analyses.count }}
			</div>
			<div class=dictionary_price>
				{% if users_dic.public %}
				Price: {{ users_dic.entry_fee }}
				{% else %}
					{% if users_dic.for_sale %}
					Price: {{ users_dic.entry_fee }} (Invite Only)
					{% else %}
					Price: Not For Sale
					{% endif %}
				{% endif %}
			</div>
			{% if users_dic.for_sale %}
			<div class=buy>
				<a href="{% url 'Bable:buy_users_dic' user_anon.username.username users_dic.the_dictionary_itself %}">Buy</a>
			</div>
			{% endif %}
		</div>
	</div>
	<div class=single_dictionarys_words>
		<div class=dics_word_section>
			<div class=sectiontitle>
				<a href="{% url 'Bable:tob_users_dic_words' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h4>Dic's wordentry:</h4></a>
			</div>
		</div>
		
		{% if user_anon.username.username == request.user.username %}
			<div class=wordattribute>
				<div class=attributetitle>
					<a href="{% url 'Bable:tob_users_dic_word_attribute' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Attributes: {{ dics_word.attributes.count }}</a>
				</div>
				<div class=dicwordattributes>
				{% if dics_word.attributes.all %}
					{% for attr in dics_word.attributes.all %}
						<div class=dicwordattribute>
							<div id=collapse onclick="nodeCollapse('attr{{attr.id}}')">
								-:
							</div>
							<div id=attr{{attr.id}} style="display: inline-block;">
								<div class=attatt>
									<a href="{% url 'Bable:tob_users_dic_word_attribute' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself attr.id %}">Attribute: {{ attr.the_attribute_itself }}</a>
								</div>
								{% if user_anon.username.username == request.user.username %}
									<div class=attdel>
										<a href="{% url 'Bable:delete_own_attr' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself attr.id %}"><h4>X</h4></a>
									</div>
								{% endif %}
								<div class=attchange>
									Latest Change: {{ attr.latest_change_date }}
								</div>
								<div class=attdefs>Definitions:
								{% for def in attr.definitions.all %}
									<div class=attdef>
										Definition: {{ def.the_definition_itself }}
									</div>
									{% if user_anon.username.username == request.user.username %}
										<div class=attdefdelete>
											<a href="{% url 'Bable:delete_own_attr_def' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself attr.id def.id %}"><h4>X</h4></a>
										</div>
									{% endif %}
									<div class=attdefchange>
										Latest Change: {{ def.latest_change_date }}
									</div>
									<div class=attdefcount>
										<a href="{% url 'Bable:votewvotestyle' 'attdef' def.id %}">Votes: {{ def.votes_count }}</a>
									</div>
									<div class=attdefvotes>Votess:
									{% for vote in def.votes.all %}
										{% if vote in loggedinanon.applied_votestyles.to_source %}
										<div class=attdefvotess>
											<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
										</div>
										{% endif %}
									{% endfor %}
									</div>
									<div class=defcomlist>Comments:
										<div class=comsubmit>
											<div id=defcomlist onclick="openComment('defcomlist')">
												Newcom
											</div>
											<form id=defcomlistform class=starter action="{% url 'Bable:create_comment' 'att_def' def.id 0 %}" method=post>
												{% csrf_token %}
												{{ comment_form }}
												<button type=submit>what've I got to lose?</button>
											</form>
										</div>
										<div class=comthreadsubmit>
											<div id=defcomthreadlist onclick="openComment('defcomthreadlist')">
												Paste Thread
											</div>
											<form id=defcomthreadlistform class=starter action="{% url 'Bable:create_comment_thread' 'att_def' def.id 0 %}" method=post>
												{% csrf_token %}
												{{ comment_thread_form }}
												<button type=submit>what've I got to lose?</button>
											</form>
										</div>
										<div class=defcom>
											{% recursetree def.comment_sources.all %}
												<div class=defcoms>
													<div class=comclose onclick="comCollapse('defcom{{node.id}}')">
														-:
													</div>
													<div id=defcom{{node.id}}>
														<div class=defcomid>
															id: {{node.id}}
														</div>
														<div class=defcomsbody>
															{{ node.body|usernames|spaces|sponsor:"users_dic"|clickthrough:"node.author.username" }}
														</div>
														<div class=defcomsvotes>
															<a href="{% url 'Bable:votewvotestyle' 'com' node.id %}">Votes: {{ node.votes_count }}</a>
														</div>
														<div class=defcomsvotess>Votess:
															{% for vote in node.votes.all %}
																{% if vote in loggedinanon.applied_votesstyles.to_source %}
																<div class=defcomsvotesss>
																	<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
																</div>
																{% endif %}
															{% endfor %}
														</div>
														{% if request.user.username == user_anon.username.username or request.user.username == node.author.username %}
														<div class=comdelete>
															<a href="{% url 'Bable:delete_own_com' node.id 'source' %}">X</a>
														</div>
														{% endif %}
														<div class=defcomsdics>Dics:
																{% for dic in node.dictionaries.all %}
																	{% if dic in loggedinanon.applied_dictionaries.all %}
																		<div class=defcomsdicss>
																			<a href="{% url 'Bable:tob_user_view' dic.author.username 0 %}">/u/{{ dic.author.username }}</a>: <a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself %}">{{ dic.the_dictionary_itself }}</a>
																		</div>
																	{% endif %}
																{% endfor %}
															</div>
															<div class=defcomswords>Words:
																{% for word in node.words.all|slice:"10" %}
																	<a href="{% url 'Bable:tob_users_dic_word' word.author.username word.home_dictionary word.the_word_itself %}">{{ word.the_word_itself }}</a>
																{% endfor %}
															</div>
														<div class=defcomsauthor>
															<a href="{% url 'Bable:tob_user_view' node.author.username 0 %}">/u/{{ node.author.username }}</a>
														</div>
														<div class=comsubmit>
															<div id='{{ node.id }}submit' onclick="openComment('{{ node.id }}')">
																Reply
															</div>
															<form id='{{node.id}}form' class=threaded action="{% url 'Bable:create_comment' 'att_def' def.id node.id %}" method=post>
																{% csrf_token %}
																{{ comment_form }}
																<button type=submit>what've I got to lose?</button>
															</form>
														</div>
														<div class=comthreadsubmit>
															<div id='{{ node.id }}submit' onclick="openComment('{{ node.id }}thread')">
																Paste Thread
															</div>
															<form id='{{node.id}}threadform' class=threaded action="{% url 'Bable:create_comment' 'att_def' def.id node.id %}" method=post>
																{% csrf_token %}
																{{ comment_thread_form }}
																<button type=submit>what've I got to lose?</button>
															</form>
														</div>
														{% if not node.is_leaf_node %}
															{{ children }}
														{% endif %}
													</div>
												</div>
											{% endrecursetree %}
										</div>
									</div>
								{% endfor %}
								</div>
								<div class=syns>Synonyms:
									{% for syn in attr.synonyms.all %}
										<div class=synbody>
											<div class=synitself>
												Synonym: {{ syn.the_synonym_itself }}
											</div>
											{% if user_anon.username.username == request.user.username %}
												<div class=syndelete>
													<a href="{% url 'Bable:delete_own_attr_syn' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself attr.id syn.id %}"><h4>X</h4></a>
												</div>
											{% endif %}
											<div class=synchange>
												Latest Change: {{ syn.latest_change_date }}
											</div>
											<div class=syncount>
												<a href="{% url 'Bable:votewvotestyle' 'attsyn' syn.id %}">Votes: {{ syn.votes_count }}</a>
											</div>
											<div class=synvotes>Votess:
												{% for vote in syn.votes.all %}
													{% if vote in loggedinanon.applied_votestyles.to_source %}
													<div class=synvotess>
														<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
													</div>
													{% endif %}
												{% endfor %}
											</div>
											<div class=syncom>Comments:
												<div class=comsubmit>
													<div id=syncomlist onclick="openComment('syncomlist')">
														Newcom
													</div>
													<form id=syncomlistform class=starter action="{% url 'Bable:create_comment' 'syn' syn.id 0 %}" method=post>
														{% csrf_token %}
														{{ comment_form }}
														<button type=submit>what've I got to lose?</button>
													</form>
												</div>
												<div class=comthreadsubmit>
													<div id=syncomthreadlist onclick="openComment('syncomthreadlist')">
														Paste Thread
													</div>
													<form id=syncomthreadlistform class=starter action="{% url 'Bable:create_comment_thread' 'syn' syn.id 0 %}" method=post>
														{% csrf_token %}
														{{ comment_thread_form }}
														<button type=submit>what've I got to lose?</button>
													</form>
												</div>
											{% recursetree syn.comment_sources.all %}
												<div class=syncoms>
													<div class=comclose onclick="comCollapse('syncom{{node.id}}')">
														-:
													</div>
													<div id=syncom{{node.id}}>
														<div class=syncomid>
															id: {{node.id}}
														</div>
														<div class=syncomsbody>
															{{ node.body }}
														</div>
														<div class=syncomsvotes>
															<a href="{% url 'Bable:votewvotestyle' 'com' node.id %}">Votes: {{ node.votes_count }}</a>
														</div>
														<div class=syncomsvotess>Votess:
															{% for vote in node.votes.all %}
																{% if vote in loggedinanon.applied_votesstyles.to_source %}
																<div class=syncomsvotesss>
																	<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
																</div>
																{% endif %}
															{% endfor %}
														</div>
														{% if request.user.username == user_anon.username.username or request.user.username == node.author.username %}
															<div class=comdelete>
																<a href="{% url 'Bable:delete_own_com' node.id 'source' %}">X</a>
															</div>
															{% endif %}
														<div class=syncomsdics>
															{% for dic in node.dictionaries.all %}
																{% if dic in loggedinanon.applied_dictionaries.all %}
																	<div class=syncomsdicss>
																		<a href="{% url 'Bable:tob_user_view' dic.author.username 0 %}">/u/{{ dic.author.username }}</a>: <a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself %}">{{ dic.the_dictionary_itself }}</a>
																	</div>
																{% endif %}
															{% endfor %}
														</div>
														<div class=syncomswords>Words:
															{% for word in com.words.all|slice:"10" %}
																<a href="{% url 'Bable:tob_users_dic_word' word.author.username word.home_dictionary word.the_word_itself %}">{{ word.the_word_itself }}</a>
															{% endfor %}
														</div>
														<div class=syncomsauthor>
															<a href="{% url 'Bable:tob_user_view' node.author.username 0 %}">/u/{{ node.author.username }}</a>
														</div>
														<div class=comsubmit>
															<div id={{node.id}}submit onclick="openComment('{{ node.id }}')">
																Reply
															</div>
															<form id={{node.id}}form class=threaded action="{% url 'Bable:create_comment' 'syn' syn.id node.id %}" method=post>
																{% csrf_token %}
																{{ comment_form }}
																<button type=submit>what've I got to lose?</button>
															</form>
														</div>
														<div class=comthreadsubmit>
															<div id='{{ node.id }}submit' onclick="openComment('{{ node.id }}thread')">
																Paste Thread
															</div>
															<form id='{{node.id}}threadform' class=threaded action="{% url 'Bable:create_comment' 'syn' syn.id node.id %}" method=post>
																{% csrf_token %}
																{{ comment_thread_form }}
																<button type=submit>what've I got to lose?</button>
															</form>
														</div>
														{% if not node.is_leaf_node %}
															{{ children }}
														{% endif %}
													</div>
												</div>
											{% endrecursetree %}
											</div>
										</div>
									{% endfor %}
								</div>
								<div class=ants>Antonyms:
									{% for ant in attr.antonyms.all %}
										<div class=antbody>
											<div class=antitself>
												Antonym: {{ ant.the_antonym_itself }}
											</div>
											{% if user_anon.username.username == request.user.username %}
												<div class=antdelete>
													<a href="{% url 'Bable:delete_own_attr_ant' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself attr.id ant.id %}"><h4>X</h4></a>
												</div>
											{% endif %}
											<div class=antchange>
												Latest Change: {{ ant.latest_change_date }}
											</div>
											<div class=antcount>
												<a href="{% url 'Bable:votewvotestyle' 'ant' ant.id %}">Votes: {{ ant.votes_count }}</a>
											</div>
											<div class=antcom>Comments:
												<div class=comsubmit>
													<div id=antcomlist onclick="openComment('antcomlist')">
														Newcom
													</div>
													<form id=antcomlistform class=starter action="{% url 'Bable:create_comment' 'ant' ant.id 0 %}" method=post>
														{% csrf_token %}
														{{ comment_form }}
														<button type=submit>what've I got to lose?</button>
													</form>
												</div>
												<div class=comthreadsubmit>
													<div id=defcomthreadlist onclick="openComment('antcomthreadlist')">
														Paste Thread
													</div>
													<form id=antcomthreadlistform class=starter action="{% url 'Bable:create_comment_thread' 'ant' ant.id 0 %}" method=post>
														{% csrf_token %}
														{{ comment_thread_form }}
														<button type=submit>what've I got to lose?</button>
													</form>
												</div>
											{% recursetree ant.comment_sources.all %}
													<div class=antcoms>
														<div class=comclose onclick="comCollapse('antcom{{node.id}}')">
															-:
														</div>
														<div class=antcomid>
															id: {{node.id}}
														</div>
														<div id=antcom{{node.id}}>
															<div class=antcomsbody>
																{{ node.body }}
															</div>
															<div class=antcomsvotes>
																<a href="{% url 'Bable:votewvotestyle' 'com' node.id %}">Votes: {{ node.votes_count }}</a>
															</div>
															<div class=antcomsvotess>Votess:
																{% for vote in node.votes.all %}
																	{% if vote in loggedinanon.applied_votesstyles.to_source %}
																	<div class=antcomsvotesss>
																		<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
																	</div>
																	{% endif %}
																{% endfor %}
															</div>
															{% if request.user.username == user_anon.username.username or request.user.username == node.author.username %}
															<div class=comdelete>
																<a href="{% url 'Bable:delete_own_com' node.id 'source' %}">X</a>
															</div>
															{% endif %}
															<div class=antcomsdics>Dics:
																{% for dic in node.dictionaries.all %}
																	{% if dic in loggedinanon.applied_dictionaries.all %}
																		<div class=antcomsdicss>
																			<a href="{% url 'Bable:tob_user_view' dic.author.username 0 %}">/u/{{ dic.author.username }}</a>: <a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself %}">{{ dic.the_dictionary_itself }}</a>
																		</div>
																	{% endif %}
																{% endfor %}
															</div>
															<div class=antcomswords>Words:
																{% for word in node.words.all|slice:"10" %}
																	<a href="{% url 'Bable:tob_users_dic_word' word.author.username word.home_dictionary word.the_word_itself %}">{{ word.the_word_itself }}</a>
																{% endfor %}
															</div>
															<div class=antcomsauthor>
																<a href="{% url 'Bable:tob_user_view' node.author.username 0 %}">/u/{{ node.author.username }}</a>
															</div>
															<div class=comsubmit>
																<div id={{node.id}}submit onclick="openComment('{{ node.id }}')">
																	Reply
																</div>
																<form id={{node.id}}form class=threaded action="{% url 'Bable:create_comment' 'ant' ant.id com.id %}" method=post>
																	{% csrf_token %}
																	{{ comment_form }}
																	<button type=submit>what've I got to lose?</button>
																</form>
															</div>
															<div class=comthreadsubmit>
																<div id='{{ node.id }}submit' onclick="openComment('{{ node.id }}thread')">
																	Paste Thread
																</div>
																<form id='{{node.id}}threadform' class=threaded action="{% url 'Bable:create_comment' 'ant' ant.id node.id %}" method=post>
																	{% csrf_token %}
																	{{ comment_thread_form }}
																	<button type=submit>what've I got to lose?</button>
																</form>
															</div>
															{% if not node.is_leaf_node %}
																{{ children }}
															{% endif %}
														</div>
													</div>
												{% endrecursetree %}
											</div>
										</div>
									{% endfor %}
								</div>
								<div class=homs>Homonyms:
									{% for hom in attr.homonyms.all %}
										<div class=hom>
											<div class=homhom>
												Homonym: {{ hom.the_homonym_itself }}
											</div>
											{% if user_anon.username.username == request.user.username %}
												<div class=homdelete>
													<a href="{% url 'Bable:delete_own_attr_hom' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself attr.id hom.id %}"><h4>X</h4></a>
												</div>
											{% endif %}
											<div class=homchange>
												Latest Change: {{ hom.latest_change_date }}
											</div>
											<div class=homcount>
												<a href="{% url 'Bable:votewvotestyle' 'hom' hom.id %}">Votes: {{ hom.votes_count }}</a>
											</div>
											<div class=homvotes>Votess:
												{% for vote in hom.votes.all %}
													{% if vote in loggedinanon.applied_votestyles.to_source %}
													<div class=homevotess>
														<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
													</div>
													{% endif %}
												{% endfor %}
											</div>
											<div class=homcom>Comments:
												<div class=comsubmit>
													<div id=homcomlist onclick="openComment('homcomlist')">
														Newcom
													</div>
													<form id=homcomlistform class=starter action="{% url 'Bable:create_comment' 'hom' hom.id 0 %}" method=post>
														{% csrf_token %}
														{{ comment_form }}
														<button type=submit>what've I got to lose?</button>
													</form>
												</div>
												<div class=comthreadsubmit>
													<div id=homcomthreadlist onclick="openComment('homcomthreadlist')">
														Paste Thread
													</div>
													<form id=homcomthreadlistform class=starter action="{% url 'Bable:create_comment_thread' 'hom' hom.id 0 %}" method=post>
														{% csrf_token %}
														{{ comment_thread_form }}
														<button type=submit>what've I got to lose?</button>
													</form>
												</div>
											{% recursetree hom.comment_sources.all %}
												<!-- CAN make it purchase first apply second, or apply second purchase first
												 for dic in com.dictionaries.all cant seem to work it out today. need to be stoned.
												 if dic in loggedinanon.purchased_dictionaries.all  -->
													<div class=homcoms>
														<div class=comclose onclick="comCollapse('homcom{{node.id}}')">
															-:
														</div>
														<div id=homcom{{node.id}}>
															<div class=homcomid>
																id: {{node.id}}
															</div>
															<div class=homcomsbody>
																{{ node.body }}
															</div>
															<div class=homcomsvotes>
																<a href="{% url 'Bable:votewvotestyle' 'com' node.id %}">Votes: {{ com.votes_count }}</a>
															</div>
															<div class=homcomsvotess>Votess:
																{% for vote in node.votes.all %} <!-- either needs an ALL before or after or neither - if source-->
																	{% if vote in loggedinanon.applied_votesstyles.to_source %}
																	<div class=homcomsvotesss>
																		<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
																	</div>
																	{% endif %}
																{% endfor %}
															</div>
															{% if request.user.username == user_anon.username.username or request.user.username == node.author.username %}
															<div class=comdelete>
																<a href="{% url 'Bable:delete_own_com' node.id 'source' %}">X</a>
															</div>
															{% endif %}
															<div class=homcomsdics>Dics:
																{% for dic in node.dictionaries.all %}
																	{% if dic in loggedinanon.applied_dictionaries.all %}
																		<div class=homcomsdicss>
																			<a href="{% url 'Bable:tob_user_view' dic.author.username 0 %}">/u/{{ dic.author.username }}</a>: <a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself %}">{{ dic.the_dictionary_itself }}</a>
																		</div>
																	{% endif %}
																{% endfor %}
															</div>
															<div class=homcomswords>Words:
																{% for word in com.words.all %}
																	<a href="{% url 'Bable:tob_users_dic_word' word.author.username word.home_dictionary word.the_word_itself %}">{{ word.the_word_itself }}</a>
																{% endfor %}
															</div>
															<div class=homcomsauthor>
																<a href="{% url 'Bable:tob_user_view' node.author.username 0 %}">/u/{{ node.author.username }}</a>
															</div>
															<div class=comsubmit>
																<div id={{node.id}}submit onclick="openComment('{{ node.id }}')">
																	Reply
																</div>
																<form id={{node.id}}form class=threaded action="{% url 'Bable:create_comment' 'hom' hom.id node.id %}" method=post>
																	{% csrf_token %}
																	{{ comment_form }}
																	<button type=submit>what've I got to lose?</button>
																</form>
															</div>
															<div class=comthreadsubmit>
																<div id='{{ node.id }}submit' onclick="openComment('{{ node.id }}thread')">
																	Paste Thread
																</div>
																<form id='{{node.id}}threadform' class=threaded action="{% url 'Bable:create_comment' 'hom' hom.id node.id %}" method=post>
																	{% csrf_token %}
																	{{ comment_thread_form }}
																	<button type=submit>what've I got to lose?</button>
																</form>
															</div>
															{% if not node.is_leaf_node %}
																{{ children }}
															{% endif %}
														</div>
													</div>
												{% endrecursetree %}
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class=dicwordattribute>
						This word has nothing attributed to it.
					</div>
				{% endif %}
			</div>
		</div>
						
		</div>
			</div>
		{% else %}
			<div class=dicwordattributes>
				{% if word_attributes.all %}
					{% for attr in dics_word.attributes.all %}
						<div class=dicwordattribute>
							<div class=attatt>
								<a href="{% url 'Bable:tob_users_dic_word_attribute' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself attr.id %}">Attribute: {{ attr.the_attribute_itself }}</a>
							</div>
							<div class=attchange>
								Latest Change: {{ attr.latest_change_date }}
							</div>
							{% for def in attr.definitions.all %}
								<div class=attdef>
									Definition: {{ def.the_definition_itself }}
								</div>
								<div class=attdefviews>
									{{ def.views }}
								</div>
								<div class=attdefcount>
									{{ def.votes_count }}
								</div>
								<div class=attdefvotes>
									{% for vote in def.votes.all %}
										{% if vote in loggedinanon.applied_votestyles.to_source %}
											<div class=attdefvotess>
												<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
											</div>
										{% endif %}
									{% endfor %}
								</div>
								<div class=attdefcom>Comments:
									{% recursetree def.comment_sources.all %}
										<div class=attdefcoms>
											<div class=antcomid>
												id: {{node.id}}
											</div>
											<div class=attdefcomsbody>
												{{ node.body }}
											</div>
											{% if node.author.username == loggedinauthor.username %}
												<div class=dictionary-delete>
													<a href="{% url 'Bable:delete_own_com' node.id 'source' %}"><h4>X</h4></a>
												</div>
											{% endif %}
											<div class=attdefcomsvotes>
												{{ node.votes_count }}
											</div>
											<div class=attdefcomsvotess>
												{% for vote in node.votes.all %}
													{% if vote in loggedinanon.applied_votesstyles.to_source %}
													<div class=attdefcomsvotesss>
														<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
													</div>
													{% endif %}
												{% endfor %}
											</div>
											<div class=attdefcomsdics>
													{% for dic in node.dictionaries.all %}
														{% if dic in loggedinanon.purchased_dictionaries %}
															<div class=attdefcomsdicss>
																<a href="{% url 'Bable:tob_user_view' dic.author.username 0 %}">{{ dic.author.username }}</a>: <a href="{% url 'Bable:tob_users_dic' dic.author.username dic.the_dictionary_itself %}">{{ dic.the_dictionary_itself }}</a>
															</div>
														{% endif %}
													{% endfor %}
												</div>
												<div class=attdefcomswords>
													{% for word in node.words.all|slice:"10" %}
														<a href="{% url 'Bable:tob_users_dic_word' word.author.username word.home_dictionary word.the_word_itself %}">{{ word.the_word_itself }}</a>
													{% endfor %}
												</div>
											<div class=attdefcomsauthor>
												<a href="{% url 'Bable:tob_user_view' node.author.username 0 %}">{{ node.author.username }}</a>
											</div>
											<div class=comsubmit>
												<div id='{{ node.id }}submit' onclick="openComment('attdef{{ node.id }}')">
													Reply
												</div>
												<form id='attdef{{node.id}}form' class=threaded action="{% url 'Bable:create_comment' 'att_def' def.id node.id %}" method=post>
													{% csrf_token %}
													{{ comment_form }}
													<button type=submit>what've I got to lose?</button>
												</form>
											</div>
											<div class=comthreadsubmit>
												<div id='{{ node.id }}submit' onclick="openComment('{{ node.id }}thread')">
													Paste Thread
												</div>
												<form id='{{node.id}}threadform' class=threaded action="{% url 'Bable:create_comment' 'att_def' def.id node.id %}" method=post>
													{% csrf_token %}
													{{ comment_thread_form }}
													<button type=submit>what've I got to lose?</button>
												</form>
											</div>
											{% if not node.is_leaf_node %}
												{{ children }}
											{% endif %}
										</div>
									{% endrecursetree %}
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				{% else %}
					<div class=dicwordattribute>
						This word has nothing attributed to it.
					</div>
				{% endif %}
			</div>
		</div>
		{% else %}
			<div class=word>
				This Anon's Dic is not demystified.
			</div>
		{% endif %}
	{% endif %}
	</div>
{% endblock %}

{% block unauthenticated_posts %}
	<div class=usersusername>
		<h2>
		<a href="{% url 'Bable:tob_user_view' user_anon.username.username 0 %}">
			User: {{ user_anon.username.username }}
		</a>
		</h2>
	</div>
	<div class=single_dictionary>
		<div class=dictionary_itself>
			<a href="{% url 'Bable:tob_users_dic' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h4>Dictionary: {{ users_dic.the_dictionary_itself }}; ID: {{ users_dic.id }}
			</h4></a>
		</div>
		<div class=dictionary-top>
			<div class=dictionary_votes>
				Votes: {{ users_dic.votes.count }}
			</div>
			<div class=dictionary_uniques>
				Uniques: {{ users_dic.votes_uniques }}
			</div>
			<div class=dictionary_views>
				Views: {{ users_dic.views }}
			</div>
			<div class=dictionary_change>
				Changed: {{ users_dic.latest_change_date|naturaltime }}
			</div>
			<div class=dictionary_pub>
				Created: {{ users_dic.creation_date|naturaltime }}
			</div>
			<div class=dictionary_traded>
				Traded: {{ users_dic.traded_date|naturaltime }}
			</div>
		</div>
		<div class=dictionary-bottom>
			<div class=dictionary_words>
				Words: {{ users_dic.words.count }}
			</div>
			<div class=dictionary_translations>
				Translations: {{ users_dic.true_translations.count }}
			</div>
			<div class=dictionary_sentences>
				Sentences: {{ users_dic.sentences.count }}
			</div>
			<div class=dictionary_renditions>
				Renditions: {{ users_dic.renditions.count }}
			</div>
			<div class=dictionary_analyses>
				Analyses: {{ users_dic.analyses.count }}
			</div>
			<div class=dictionary_price>
				{% if users_dic.public %}
				Price: {{ users_dic.entry_fee }}
				{% else %}
					{% if users_dic.for_sale %}
					Price: {{ users_dic.entry_fee }} (Invite Only)
					{% else %}
					Price: Not For Sale
					{% endif %}
				{% endif %}
			</div>
			{% if users_dic.for_sale %}
			<div class=buy>
				<a href="{% url 'Bable:buy_users_dic' user_anon.username.username users_dic.the_dictionary_itself %}">Buy</a>
			</div>
			{% endif %}
		</div>
	</div>

	<div class=single_dictionarys_words>
		<div class=dics_word_section>
			<div class=sectiontitle>
				<a href="{% url 'Bable:tob_users_dic_words' user_anon.username.username users_dic.the_dictionary_itself 0 %}"><h4>Dic's wordentry:</h4></a>
			</div>
		</div>

		{% if users_dic.public %}
			<div class=word>
				<div class=worditself>
					<a href="{% url 'Bable:tob_users_dic_word' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}"><h4>Word: {{ dics_word.the_word_itself }}; ID: {{ dics_word.id }}</h4></a>
				</div>
				<div class=wordpronunciation>
					<div class=pronunciationtitle>
						<a href="{% url 'Bable:tob_users_dic_word_pronunciations' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Pronunciations: {{ dics_word.pronunciations.count }} </a>
					</div>
					<div class=dicwordpronunciations>
						{% if dics_word.pronunciations.all %}
							{% for pron in dics_word.pronunciations.all %}
								<div class=dicwordpronunciation>
									<a href="{% url 'Bable:tob_users_dic_word_pronunciations' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself pron.id %}">IPA: {{ pron.the_IPA_itself }}</a>
									{{ pron.homophones }}<!-- Needs url for word in words.-->
									{{ pron.views }}
									{{ pron.latest_change_date }}
								</div>
							{% endfor %}
						{% else %}
							<div class=dicwordpronunciation>
								This word has no specified way to pronounce it.
							</div>
						{% endif %}
					</div>
				</div>
				<div class=wordattribute>
					<div class=attributetitle>
						<a href="{% url 'Bable:tob_users_dic_word_attribute' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Attributes: {{ dics_word.attributes.count }}</a>
					</div>
					<div class=dicwordattributes>
						{% if dics_word.attributes.all %}
							{% for attr in dics_word.attributes.all %}
								<div class=dicwordattribute>
									<a href="{% url 'Bable:tob_users_dic_word_attribute' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself attr.id %}">{{ attr.the_attribute_itself }}</a>
									{{ attr.latest_change_date }}
									{% for def in attr.definitions.all %}
										{{ def.the_definition_itself }}
										{{ def.votes_count }}
										<!-- Needs threaded comments -->
										{% for com in def.comment_sources.all %}
											{{ com.body }}
										{% endfor %}
									{% endfor %}
								</div>
							{% endfor %}
						{% else %}
							<div class=dicwordattribute>
								This word has nothing attributed to it.
							</div>
						{% endif %}
					</div>
				</div>
				<div class=wordexample>
					<div class=exampletitle>
						<a href="{% url 'Bable:tob_users_dic_word_example' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Examples: {{ dics_word.examples.count }}</a>
					</div>
					<div class=dicwordexamples>
						{% if dics_word.examples.all %}
							{% for examp in dics_word.examples.all %}
								<div class=dicwordexample>
									<a href="{% url 'Bable:tob_users_dic_word_example' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself examp.id %}">{{ examp.the_example_itself }}</a>
									{{ examp.latest_change_date }}
									{{ examp.votes_count }}
									<!-- Needs threaded comments -->
									{% for com in examp.comment_sources.all %}
										{{ com.body }}
									{% endfor %}
								</div>
							{% endfor %}
						{% else %}
							<div class=dicwordexample>
								This word has no examples of it.
							</div>
						{% endif %}
					</div>
				</div>
				<div class=wordsimilarity>
					<div class=similaritytitle>
						<a href="{% url 'Bable:tob_users_dic_word_similarity' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Attributes: {{ dics_word.similarities.count }}</a>
					</div>
					<div class=dicwordsimilarities>
						{% if dics_word.similarities.all %}
							{% for simi in dics_word.similarities.all %}
								<div class=dicwordsimilarity>
									<a href="{% url 'Bable:tob_users_dic_word_similarity' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself simi.id %}">{{ simi.the_simulacrum_itself }}</a>
									{{ simi.latest_change_date }}
									{% for conn in simi.connexia.all %}
										{{ conn.the_connexion_itself }}
										{{ conn.votes_count }}
										<!-- Needs threaded comments -->
										{% for com in conn.comment_sources.all %}
											{{ com.body }}
										{% endfor %}
									{% endfor %}
									{% for com in simi.comment_sources.all %}
										{{ com.body }}
									{% endfor %}
								</div>
							{% endfor %}
						{% else %}
							<div class=dicwordsimilarity>
								This word has no similar phrases or sub-connections to it.
							</div>
						{% endif %}
					</div>
				</div>
				<div class=wordtranslations>
					<div class=translationtitle>
						<a href="{% url 'Bable:tob_users_dic_word_attribute' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Translations: {{ dics_word.translations.count }}</a>
					</div>
					<div class=dicwordtranlations>
						{% if dics_word.translations.all %}
							{% for tran in dics_word.translations.all %}
								<div class=dicwordtranslation>
									<a href="{% url 'Bable:tob_users_dic_word_attribute' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself tran.id %}">B: {{ tran.the_translation_before }} A: {{ tran.the_translation_after }}</a>
									{{ tran.latest_change_date }}
									{{ tran.votes_count }}
									<!-- Needs threaded comments -->
									{% for com in tran.comment_sources.all %}
										{{ com.body }}
									{% endfor %}
								</div>
							{% endfor %}
						{% else %}
							<div class=dicwordtranslation>
								This word has no un-hinged translations from or to it.
							</div>
						{% endif %}
					</div>
				</div>
				<div class=wordstory>
					<div class=storytitle>
						<a href="{% url 'Bable:tob_users_dic_word_story' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Stories: {{ dics_word.stories.count }}</a>
					</div>
					<div class=dicwordstories>
						{% if dics_word.stories.all %}
							{% for stor in dics_word.stories.all %}
								<div class=dicwordstory>
									<a href="{% url 'Bable:tob_users_dic_word_story' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself stor.id %}">{{ stor.the_story_itself }}</a>
									{{ stor.latest_change_date }}
									{{ def.votes_count }}
									<!-- Needs threaded comments -->
									{% for com in def.comment_sources.all %}
										{{ com.body }}
									{% endfor %}
								</div>
							{% endfor %}
						{% else %}
							<div class=dicwordstory>
								This word has no story going for it.
							</div>
						{% endif %}
					</div>
				</div>
				<div class=wordrelation>
					<div class=relationtitle>
						<a href="{% url 'Bable:tob_users_dic_word_relation' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Relations: {{ dics_word.relations.count }}</a>
					</div>
					<div class=dicwordrelations>
						{% if dics_word.relations.all %}
							{% for rela in dics_word.relations.all %}
								<div class=dicwordrelation>
									<a href="{% url 'Bable:tob_users_dic_word_relation' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself rela.id %}">{{ rela.the_relation_itself }}</a>
									{{ rela.latest_change_date }}
									{{ def.votes_count }}
									<!-- Needs threaded comments -->
									{% for com in def.comment_sources.all %}
										{{ com.body }}
									{% endfor %}
								</div>
							{% endfor %}
						{% else %}
							<div class=dicwordrelation>
								This word has nothing related to it made aware of.
							</div>
						{% endif %}
					</div>
				</div>
				<div class=wordspaces>
					<div class=spacetitle>
						<a href="{% url 'Bable:tob_users_dic_word_space' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Spaces: {{ dics_word.spaces.count }}</a>
					</div>
					<div class=dicwordspaces>
						{% if dics_word.spaces.count %}
							{% for spac in dics_word.spaces.all %}
								<div class=dicwordspace>
									<a href="{% url 'Bable:tob_users_dic_word_space' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself spac.id %}">{{ spac.the_space_itself.the_word_itself }}</a>
									Allowees: {{ spac.allowed_to_view_authors.count }}
									{{ spac.votes_count }}
								</div>
							{% endfor %}
						{% else %}
							<div class=dicwordspace>
								This word has no space to talk about.
							</div>
						{% endif %}
					</div>
				</div>
				<div class=wordsponsors>
					<div class=sponsortitle>
						<a href="{% url 'Bable:tob_users_dic_word_sponsor' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself 0 %}">Sponsors: {{ dics_word.sponsors.count }}</a>
					</div>
					<div class=dicwordsponsors>
						{% if dics_word.sponsors.all %}
							{% for spon in dics_word.sponsors.all %}
								<div class=dicwordsponsor>
									<div id=collapse onclick="nodeCollapse('spon{{spon.id}}')">
										-:
									</div>
									<div id=spon{{spon.id}} style="display: inline-block;">
										<div class=sponspon>
											<a href="{% url 'Bable:tob_users_dic_word_sponsor' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself spon.id %}">Phrase: {{ spon.the_sponsorship_phrase }}</a>
										</div>
										{% if loggedinanon == user_anon %}
										<div class=dictionary-delete>
											<a href="{% url 'Bable:delete_own_spon' user_anon.username.username users_dic.the_dictionary_itself dics_word.the_word_itself spon.id %}"><h4>X</h4></a>
										</div>
										{% endif %}
										<div class=sponchange>
											Latest Change: {{ spon.latest_change_date }}
										</div>
										<div class=sponimg>
											<a href='{{ spon.url }}'>{% if spon.img %}<img class=sponimgsrc alt=n.f. src='{{ spon.img }}'/>{% endif %}</a>
										</div>
										<div class=sponviews>
											Views: {{ spon.views }}
										</div>
										<div class=sponprice>
											Price: {{ spon.price_limit }}
										</div>
										<div class=sponauth>
											<a href="{% url 'Bable:tob_user_view' spon.author.username 0 %}">{{ spon.author.username }}</a>
										</div>
										<div class=sponvotes>Votess:
											{% for vote in spon.votes.all %}
												{% if vote in loggedinanon.applied_votestyle.to_source %}
													<div class=sponvotess>
														<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
													</div>
												{% endif %}
											{% endfor %}
										</div>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<div class=dicwordsponsor>
								This word has no one up standing posed on safety of reuse.
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		{% else %}
			<div class=word>
				This Anon's Dic is not public.
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
	<script>
		
		function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function openCommentThread(starter, com) {
			var element = document.getElementById(starter).getElementById(com);
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function comCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		/* Needs to be step-counted for the DAHS of each Attribute
		function wordsAttributesAddMore() {
				var form_idx = $('#id_wa-TOTAL_FORMS').value;
				var copy = $('#waef').html().replace(/__prefix__/g, form_idx);
				$('#wafs').append(copy);
				$('#id_wa-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}
		*/
		$(document).on('click', 'button.Delete', function() {
			var target = '#id_' + $(this).val() + '-DELETE';
			$(target).prop('checked', true);
			$(this).closest('tr').hide();
		});
	</script>
{% endblock %}